
.scroll{
	max-height:500px; 
   	overflow-y:  scroll ; 

     
    z-index: 99999999999;
    background-color :#D0D0D0; 
	left:auto  ; 
     overflow-x:scroll;
}
.scrollAr{
	max-height:500px; 
   	overflow-y:  scroll ; 

     
    z-index: 99999999999;
    background-color :#D0D0D0; 
	right:auto  ; 
    /* overflow-x: hidden;*/
}

#fa {
    color: red ;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
} 


