   
   <div class='container '> 
   <br><br>
    <div class="search-container">
    <form >
		<div class="input-group">
        <input  type="text"
                id="storeQuery"
                name='storeQuery'
                class="form-control" 
                 placeholder="rechercher un magasin..." 
                aria-describedby="sizing-addon2"
                [(ngModel)]="storetitle"
        />
        <span class="input-group-btn">
        <button 
                type="submit" 
                class="btn btn-danger search-button" 
                (click)="getStore($event)">
                <i class=" fa fa-search"></i></button>
        </span>
        <span> Total {{count}} stores</span>
		</div>
    </form>
   </div>
  <br><br>
   
  <table class="table table-sm">
   <thead>
     <tr class="table-active" >
       <th>storetitle</th>
       <th> categories</th>
       <th>created</th>
		<th>creator</th>
		<th>Admin</th>
		
		<th>open</th>
		<th>income</th>
		<th>suspend</th>
     </tr>
  </thead>
  <tbody>
      <tr *ngFor=" let store of stores |paginate: { id: 'server', itemsPerPage: size, currentPage: page, totalItems: count }">
  
   
    
  		<th><a  routerLink="../stores/{{store._id}}/store"> {{store._id}}</a> </th>
  		<th> <li *ngFor='let ad of store._source.selectedCat '> {{ad}}</li> </th>
  		<td>{{store._source.created}}</td>
  		<td ><a routerLink="//home/{{me}}/profile/{{store.userid}}">{{store._source.userfullname}}</a> </td>
  		<td><li *ngFor='let ad of store._source.administrators'><a routerLink="//home/{{me}}/profile/{{ad.userid}}">{{ad.fullname}}</a></li></td>
  		
  		<td>{{store._source.open}}</td>
		<td><li *ngFor="let i of store._source.income">{{i.month+1}}/{{i.year}}:<br>
											   <b class='text-danger'>{{i.price}}D.A</b><br>
											   {{i.total}}Transactions</li> </td>
  		 <td>
  		 
  		      <span *ngIf='!editStatus[store._id]' ><span *ngIf= "store._source.suspend">yes</span> 
            						  <span *ngIf="!store._source.suspend">no</span>
            						  </span>
         
		    <label *ngIf='editStatus[store._id]' class="radio-inline"><input type="radio" name="optradio"  [(ngModel)]="store._source.suspend" [value]="true" >yes</label>
			<label *ngIf='editStatus[store._id]' class="radio-inline"><input type="radio" name="optradio"  [(ngModel)]="store._source.suspend" [value]="false">no</label>

		         
  	     	 <a class="btn fa fa-pencil"  *ngIf='!editStatus[store._id]' style='display:inline-block;' (click)='editingStatus(store)'> </a>
         	 <a class="btn fa fa-check"  *ngIf='editStatus[store._id]' style='display:inline-block ;margin-right:5px; ' (click)='saveStatus(store)'></a>
			 <a class="btn fa fa-remove"  *ngIf='editStatus[store._id]' style='display:inline-block; ' (click)='removeStatus(store)'></a>
		  
  	        
  		 </td>
  		
    </tr>
  

    
  </tbody>
</table>
   
   <div class="has-text-centered" style='float:right; '>
    <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>
   </div>