<!-- div class="register col-sm-6 col-xs-6 " id ="register">
    <h2>Register</h2>
    <br>
    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
        
       <div class="form-group" >
            <label for="username"> full  name </label>
            <input type="text" class="form-control" name="fullname" [(ngModel)]="model.fullname" #fullname="ngModel" required    pattern="^([a-zA-Z]{2,}\s[a-zA-z]{1,}?-?[a-zA-Z]{2,}\s?([a-zA-Z]{1,})?)"/>
            <div *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)" class="alert alert-danger">
            <div *ngIf="f.submitted && fullname.hasError('required')" class="help-block"> required</div>
         
       	    <div *ngIf="  fullname.hasError('pattern')" class="help-block"> pattern issue </div>
      	    </div> 

       </div>
    
        
		 <div class="form-group" >
            <label for="useremail">Phone</label>
            <input  class="form-control" [textMask]="{mask: phonemask}"  type="tel"  name="phone" [(ngModel)]="model.phone"  required #phone="ngModel" />    
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
        	
        	 <div *ngIf="f.submitted && fullname.hasError('required')" class="help-block"> required</div>
            </div>							
      
        </div>
        <div class="form-group"> 
         <span  style="float:right; ">
              <button [disabled]="loading" class="btn btn-info">Register</button>
              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
			  <a [routerLink]="['/home']" class="btn btn-link">Cancel</a>
         
         </span>
         </div>
         
    </form>
</div>


<div class="col-sm-6 col-xs-6 " id="registerDone" style="display: none;" >
<p>check your email @ to activate your account </p>
<p>go to  <a [routerLink]="['/home']"> home </a></p>
</div>
 -->