<ScrollView>
<GridLayout  rows="auto,auto,auto,auto,*"> 

<StackLayout  row='0' >
   	 <ActivityIndicator color='#FFA500' rowSpan="3" *ngIf='loading' [busy]="loading" ></ActivityIndicator>
</StackLayout>  
   	
<!-- StackLayout row='1'  [visibility]="!loading && nostore ?'visible':'collapse'" >
<Label class='alert 'text="Aucun magasin n'est disponible sur ce lien.">
</Label>
</StackLayout-->

<StackLayout  row='2' [visibility]="!loading && suspend ?'visible':'collapse'" >
<Image loadMode="async" backgroundColor='rgba(0,0,0, 0.3)'    [src]="banner"  class="pic"  stretch="aspectFill"></Image>
<Label class=' alert' text=" Ce magasin est suspendu"></Label>
</StackLayout>

<StackLayout  row="3" *ngIf='!loading && !nostore && !open && !suspend' >
<Label  class="alert" text="Ce magasin est fermé ! "></Label>
</StackLayout>



<RadSideDrawer row="4"  [visibility]="!loading && !suspend && !nostore? 'visible':'collapse'" tkExampleTitle tkToggleNavButton>
 
    <GridLayout   tkDrawerContent class=" sideStackLayout" rows="auto,40,auto,auto, auto, auto,auto,auto,auto,auto,*"  >
        <StackLayout row='0' class="sideTitleStackLayout">
            <Label (touch)='ontouch($event)' text="{{storetitle}}  &#xf104;" class='fas storetitle' (tap)="onCloseDrawerTap()"></Label>
        </StackLayout>
        <!-- GridLayout row="1" columns="*,auto" orientation="horizontal">
   		<textView  col='0' hint="Rechercher dans magasin" class='search'></textView>
           <Button col="1" text="&#xf002;" class="fas searchbutton "></Button>
        </GridLayout-->
        
           

		<GridLayout row="1" columns="*,auto" orientation="horizontal">
   		<textField col='0' hint="Rechercher dans magasin" class='search' [(ngModel)]="query"  (returnPress)='getQuery2($event)'  ></textField>
           <Button col="1" text="&#xf002;" class="fas searchbutton "  (tap)="getQuery2($event)"></Button>
        </GridLayout>

       <ng-template ngxPermissionsOnly="ADMINStore"> 
         <Label (touch)='ontouch($event)' nsRouterLinkActive="sideStackLayoutActive" class='sideStackLayout item fas ' row='2' text='&#xf0fe; Ajouter Nouveau Article' [nsRouterLink]="['../newarticle']"></Label>
       </ng-template>
         <Label (touch)='ontouch($event)' nsRouterLinkActive="sideStackLayoutActive"   class='sideStackLayout item'  row='3' text='Détails'  [nsRouterLink]="['../details']" ></Label>
     	 <Label (touch)='ontouch($event)' nsRouterLinkActive="sideStackLayoutActive"   class='sideStackLayout item'  row='4'text='Articles épuisés'  [nsRouterLink]="['../soldout']" ></Label>
        
       <ng-template ngxPermissionsOnly="ADMINStore">  
         <Label (touch)='ontouch($event)' nsRouterLinkActive="sideStackLayoutActive"   class='sideStackLayout item'  row='5' text='Paramètres'  [nsRouterLink]="['../update']"></Label>
         <Label (touch)='ontouch($event)' nsRouterLinkActive="sideStackLayoutActive"   class='sideStackLayout item' row='6' text='Ventes en cours' [nsRouterLink]="['../sales']" ></Label>
         <Label (touch)='ontouch($event)'  nsRouterLinkActive="sideStackLayoutActive"   class='sideStackLayout item' row='7' text='Historique des ventes'  [nsRouterLink]="['../historic']"  ></Label>
         <Label (touch)='ontouch($event)' nsRouterLinkActive="sideStackLayoutActive"   class='sideStackLayout item'  row='8' text='Recettes mensuels'  [nsRouterLink]="['../monthincome']"></Label>
       </ng-template>
    
         <!-- Label nsRouterLinkActive="sideStackLayoutActive"  class='sideStackLayout item' row='9' text='Partager'></Label>
     -->
    
    </GridLayout>
   
 <ScrollView tkMainContent  >
    <GridLayout  rows='auto,auto,auto,auto,auto,*'>
  <Image loadMode="async"   backgroundColor='rgba(0,0,0, 0.4)'  (touch) = 'displaybanner = true' row ="0"  src="{{banner}}"  class="pic"  stretch="aspectFill"></Image>
 
 	<StackLayout height="160" row="0" >
   	 <ActivityIndicator color='#FFA500' rowSpan="3" [busy]="loading0" ></ActivityIndicator>
   	</StackLayout> 
 
  
  <ng-template ngxPermissionsOnly="ADMINStore"> 
   
   <GridLayout   [visibility]="!loading0 ? 'visible':'collapse'"  row="0" columns="*,auto" rows='*,auto'>
   <StackLayout col="1" row="1"   >
   <Label (touch)='ontouch($event)'  *ngIf="isValid"    class="fas up"  text="&#xf03e;" (tap)='onSelectTap() '></Label>
   </StackLayout>
   <StackLayout  row="1" col="1" orientation="horizontal">
   <Label  [isEnabled]="!saveloading" (touch)='ontouch($event)'  *ngIf="!isValid" class="fas up " text="&#xf0c7;" (tap)="covsave()" ></Label>
   
   <Label [isEnabled]="!saveloading"  (touch)='ontouch($event)' *ngIf="!isValid" class="fas up " text="&#xf00d;" (tap)="this.covremove()"></Label>
      <ActivityIndicator color='#FFA500' rowSpan="3" [busy]="saveloading"></ActivityIndicator>
   
   </StackLayout>
   
   </GridLayout>
   </ng-template>
   
    <GridLayout row="1" columns="40,*,50"  >
        <Button col='0' class="fas bars btn btn-active" text='&#xf0c9;' (tap)="openDrawer()"></Button>
  		<StackLayout  col="1"  >
  		<Label  (touch)='ontouch($event)' textWrap='true'   class=" storetitle"  text="{{storetitle}}" (tap)="boolNotif=false"   ></Label>
         <StackLayout margin="0,0,2,8" orientation="horizontal">
      	        <AbsoluteLayout  height="22" width="85"  android:cursorVisible="false"  >   
                 <StarRating left="-80" top="-18"    horizontalAlignment="center" verticalAlignment="center" isindicator="true"  android:scaleX=".3" android:scaleY=".3"   [value]="store.ratingsum/store.ratingcount"  ></StarRating>
                </AbsoluteLayout>
                 <Label margin="3,0,0,5" fontSize="10"   text="({{store.ratingcount}} votes)"></Label>
          </StackLayout>
           </StackLayout>
    
     <!-- Label class='back fas'  (tap)="boolNotif=!boolNotif" [visibility]="boolNotif ?'visible':'collapse'" col="3"  text="&#xf053; " ></Label-->
     <ng-template ngxPermissionsOnly="ADMINStore"> 
        
       <Button [visibility]="!boolNotif ?'visible':'collapse'"    id="notifications"  col="2" text="&#xf0f3;&#xf0d7;" 
            class="bell fas " (tap)="boolNotif=true"></Button> 
        <Label [visibility]="!boolNotif ?'visible':'collapse'"    id="globeItemNavigation"  col="2" text="{{notifCount}}" class="globe"
                   ></Label> 
          <Button fontSize='16' color='#FFA500'  [visibility]="boolNotif ?'visible':'collapse'"    id="notifications"  col="2" text="&#xf0f3;" 
            class="bell fas" ></Button> 
        <Label [visibility]="boolNotif ?'visible':'collapse'"    id="globeItemNavigation"  col="2" text="{{notifCount}}" class="globe"
                   ></Label>
    
    </ng-template>
    </GridLayout>
       <StackLayout row="2"   colSpan="2" backgroundColor="darkgray" height="1.5"></StackLayout>

		    <Label row="3" *ngIf ='!reload && !boolNotif && !loading2 && nothing' class="alert" text="Pas d'articles disponible dans ce magasin"></Label> 
    		<Label row="4" *ngIf ='!reload && !boolNotif && !loading2 && nosearch' class='alert' text="Recherche introuvable."></Label> 
    
		
		

        
         <Label  (tap)="reloading()"  (touch)="ontouch($event)"  row='3'  *ngIf='!loading && !loading2 && reload' class="reload">
        <FormattedString>
            <Span text="Problème de connexion... "></Span>
            <Span text="réessayer"  color="#FFA500" class="bold" ></Span>
        </FormattedString>
    	</Label>

      

        <RadListView   [visibility]=" !boolNotif? 'visible':'collapse'"    row="4" [items]="selectArticles"  loadOnDemandMode="None" (loadMoreDataRequested)="onLoadMoreItemsRequested($event)"       >

      		 <ng-template tkListItemTemplate  let-a="item" class="itemStackLayout" >
      		 <GridLayout (touch)='ontouch2($event)' >
      		   
      			<Image loadMode="async"   (Tap)="gotoArticle(a._id, a._source.storetitle )"  (touch)="display(a._id)"  [src]="a._source.pic"  class='articlepic' stretch="aspectFill" ></Image>
      			
 				<AbsoluteLayout  >
      			     <ActivityIndicator color='#FFA500' rowSpan="3" [busy]="a.loadingcart==1"></ActivityIndicator>
      			
      			<Label (touch)='ontouch3($event)' (tap)="addToCart(a)"  [visibility]="disp[a._id] ?'visible':'collapse'"
      					left="55" top="5" class='panier fas'>
						<FormattedString>
										<Span text='&#xf217;Panier'></Span>
										<Span  *ngIf=" a.loadingcart==2 " text='&#xf00c;'></Span>
										<Span  *ngIf=" a.loadingcart==3  " text="&#xf05e;"></Span>
      					</FormattedString>
      	         </Label>
      	        <Label  left="0" top="40" row='0' id="globeItemNavigation"  class="alert" *ngIf='fullcartwarning && a.loadingcart==3 ' text="Le panier est plein" ></Label> 
      	        
      	          <ng-template ngxPermissionsOnly="ADMINStore">  
      	          <Label (touch)='ontouch3($event)'  [visibility]="disp[a._id] ?'visible':'collapse'" text="Paramètre"  left="55" top="35" class="param"  (tap)="updateArticle(a._id) ; "></Label>
      	         </ng-template>
      	         
      			<GridLayout left='0' top='65' rows="auto,auto,auto"    class="title" [visibility]="disp[a._id] ?'visible':'collapse'" >
            
              <TextView  row='0'   editable="false" class='titlea' text="{{a._source.title}}">
        			
               </TextView>
                  <StackLayout   row="1"  width="85" horizontalAlignment="center">
      	           <StackLayout      margin='-20,-75,0,-75' android:cursorVisible="false"  >
      	           
                 <StarRating filledColor="#FFA500" isindicator="true"  android:scaleX=".3" android:scaleY=".3"  [value]="a._source.ratingsum/a._source.ratingcount" ></StarRating>
                </StackLayout>
                 <Label fontSize="10" margin='-20,0,0,0' text="({{a._source.ratingcount}} votes)"></Label>
                
                </StackLayout>
      		
               
      			<Label class='price' row="2"   text=' {{a._source.price}} D.A'  ></Label>
			   </GridLayout>
			 
			   
      			</AbsoluteLayout>
 
      			<!-- StarRating style="margin: 0px 0.35em 0.25em -1.6em; vertical-align: middle;" emptyColor="black"  isindicator='true'filledColor="red" value="3" max="5"></StarRating-->
      		  </GridLayout>
      		 
     		 </ng-template>	
      		
            
     		<ListViewGridLayout tkListViewLayout scrollDirection="Vertical" spanCount="2"></ListViewGridLayout>
 
           
      	</RadListView>
      	<GridLayout margin='5,0,5,0' rows='auto,auto,auto' *ngIf=' !boolNotif && loadmorebool && !loading2' row='5'  (touch)='ontouch2($event)' (tap)='loadmore()' >
      	   
      	     <StackLayout  row="0" colSpan="2" backgroundColor="#eeeeee" height="2"></StackLayout>
      	   
      	   <Label  row="1" class="fas loadmore" text="&#xf078;" horizontalAlignment="center" verticalAlignment="center" ></Label>
      	   <StackLayout  row="2" colSpan="2" backgroundColor="#eeeeee" height="2"></StackLayout>
      	 
      	 </GridLayout>
 	

  
     	
 	 <StackLayout row="5"  >
   		 <ActivityIndicator color='#FFA500' rowSpan="3" [busy]="loading2" ></ActivityIndicator>
   	</StackLayout> 
   	
    <ng-template ngxPermissionsOnly="ADMINStore"> 
   	
   	 <StackLayout row="4" [visibility]="boolNotif && !loading2?'visible':'collapse'" >
     <app-store-menu [storetitle]="storetitle"     (notifCount)="OnNotifCount($event)" ></app-store-menu>
   	</StackLayout>
   	
   	
  </ng-template>  
   </GridLayout>
 </ScrollView> 
</RadSideDrawer>

</GridLayout>

</ScrollView>