<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>







<div class="container "  *ngIf='!send'>
    <h2 i18n="@@nouveauarticle" class="text-info text-center"  i18n='@@nouscontacter'  >  Nous contacter </h2>
    <p> </p>
   
    <form name="form" (ngSubmit)="f.form.valid    && sends() " #f="ngForm" novalidate>
  	        
      	<div class="form-group text-info" >
            <label i18n="@@fullname" for="username">Nom Complet </label>
            <input placeholder="Nom Prénom" type="text" class="form-control" name="fullname" [(ngModel)]="model.fullname" #fullname="ngModel" required    pattern="^([\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]{2,}\s[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-z]{1,}?-?[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]{2,}\s?([\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]{1,})?)"/>
            <div *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)" class="alert alert-danger">
            <div i18n="@@namealert"  *ngIf="f.submitted && fullname.hasError('required')" class="help-block">Entrer votre nom</div>
         
       	    <div i18n="@@namepatternalert" *ngIf="  fullname.hasError('pattern')" class="help-block"> Nom Prénom </div>
      	    </div> 
        </div>  

    
       <div class="form-group text-info" >
            <label i18n="@@tel" >Téléphone</label>
            <input  placeholder="00 00 00 00 00 "  dir='ltr' class="form-control" [textMask]="{mask: phonemask}"  type="tel"  name="phone" [(ngModel)]="model.phone"  required #phone="ngModel" />    
        	
        	 <div i18n="@@telalert" *ngIf="f.submitted && phone.hasError('required')" class="alert alert-danger help-block">Entrer votre numéro</div>
             <div i18n="@@telalert" *ngIf="f.submitted && lengthphone" class="alert alert-danger help-block">Ce numero est incomplet</div>
             
        </div>							
       
   
		 <div class="form-group text-info" >
            <label i18n="@@email00" for="useremail">E-mail <i>(facultatif)</i>		</label>
            <input  placeholder="blahblha@blahblah "  dir='ltr' class="form-control"  type="email"  name="email" [(ngModel)]="model.email"  #email="ngModel" />    
        	
        	 
        </div>	
        
	    <div class="form-group  text-info " >
    		 <label for="sujets" i18n="@@sujets">Sujet</label>
  		
        	 <ngx-select-dropdown (change)='select($e)' [config]="config" [options]="sujets" 
        	    [(value)]="model.sujet" [multiple]="false" ></ngx-select-dropdown>     
      			   <div i18n="@@sujetsalert" *ngIf="f.submitted && model.sujet.length==0" class="help-block alert alert-danger">choissisez un Sujet </div>
       </div>
       
      
      
    
    
       <div class="form-group text-info" >

            <label for="text" i18n="@@text" >Message </label>
            <textarea rows="10" class="form-control" name="text" [(ngModel)]="model.text" #text="ngModel" maxlength="10000" required ></textarea>
			 <div i18n="@@textalert" *ngIf="f.submitted && !model.text" class="help-block alert alert-danger">Ecrivez votre message</div>
			
      	    
      </div>  
	        <div class="form-group" style="float:right; ">
              <button [disabled]="loading " class="btn btn-warning text-light" i18n="@@envoyer" >Envoyer</button>
              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
			       
			        
              <a class="btn btn-link"  routerLink="/"  i18n='@@annuler'>Annuler</a>
         	<div i18n="@@envoyeralert" *ngIf="f.submitted &&  !f.form.valid" class="alert alert-danger help-block">Remplisser les champs obligatoires </div>
         
      </div>
      
</form>

  
  
    
</div>
<div class="container center"  *ngIf='send'>
    <p  i18n="@@closecontactus" > Votre message a bien été envoyé, nous vous contacterons dans les plus brefs delais !   
               <a  i18n="@@backcontactus" class="btn btn-link"  routerLink="/"  >Retour au menu </a></p>
</div>