
<ScrollView>
<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="auto,40,auto,auto, auto, auto,auto,auto,auto,auto*"  class=" sideStackLayout">
        <StackLayout row='0' class="sideTitleStackLayout">
            <Label  (touch)="ontouch($event)"  text="Historique des ventes &#xf104;" class='fas storetitle' (tap)="onCloseDrawerTap()"></Label>
        </StackLayout>
       <GridLayout row="1" columns="*,auto" orientation="horizontal">
   		<textField col='0' hint="Recherche Commande Id" class='search' [(ngModel)]="query" ></textField>
           <Button col="1" text="&#xf002;" class="fas searchbutton "  (tap)="getQuery2($event)"></Button>
        </GridLayout>
        <Label   (touch)="ontouch($event)"  nsRouterLinkActive="sideStackLayoutActive"  class='sideStackLayout item' row='2' text='Ajouter Nouveau Article' [nsRouterLink]="['../newarticle']"  ></Label>
         <Label  (touch)="ontouch($event)"    nsRouterLinkActive="sideStackLayoutActive"  class='sideStackLayout item'  row='3' text='Détails'  [nsRouterLink]="['../details']"  ></Label>
     	 <Label  (touch)="ontouch($event)"  nsRouterLinkActive="sideStackLayoutActive"  class='sideStackLayout item'  row='4'text='Articles épuisés'  [nsRouterLink]="['../soldout']" ></Label>
         <Label  (touch)="ontouch($event)"   nsRouterLinkActive="sideStackLayoutActive"  class='sideStackLayout item'  row='5' text='Paramètres'  [nsRouterLink]="['../update']"></Label>
         <Label  (touch)="ontouch($event)"   nsRouterLinkActive="sideStackLayoutActive"  class='sideStackLayout item' row='6' text='Ventes en cours' [nsRouterLink]="['../sales']" ></Label>
         <Label  (touch)="ontouch($event)"  nsRouterLinkActive="sideStackLayoutActive"  class='sideStackLayout item' row='7' text='Historique des ventes'  [nsRouterLink]="['../historic']"  ></Label>
         <Label  (touch)="ontouch($event)"   nsRouterLinkActive="sideStackLayoutActive"  class='sideStackLayout item'  row='8' text='Recettes mensuels'  [nsRouterLink]="['../monthincome']"></Label>
         <Label  (touch)="ontouch($event)"   nsRouterLinkActive="sideStackLayoutActive"  class='sideStackLayout item' row='9' text='Partager'></Label>
    
    </GridLayout>
    
 <StackLayout tkMainContent>
  
        
    <GridLayout  rows='auto,auto,*,auto '>


 
    <GridLayout row="0" columns="40,auto" >
        <Button col='0' class="btn btn-active fas bars" text='&#xf0c9;' (tap)="openDrawer()"></Button>
  		<Label textWrap='true'  (touch)="ontouch($event)" col="1" class=" storetitle"  text="{{storetitle}}" [nsRouterLink]="['../store']"></Label>
    
       <!-- Button id="notifications"  col="2" text="&#xf0f3; &#xf0d7;" 
            class="bell fas"></Button> 
        <Label id="globeItemNavigation" row="0" col="2" text="3" class="globe"></Label--> 
    </GridLayout>
    <StackLayout row="1"   colSpan="2" backgroundColor="darkgray" height="1.5"></StackLayout>

   <Label  (tap)="reloading()"  (touch)="ontouch($event)"  row='2'  *ngIf=' reload' class="reload">
        <FormattedString>
            <Span text="Problème de connexion... "></Span>
            <Span text="réessayer"  color="#FFA500" class="bold" ></Span>
        </FormattedString>
    	</Label>
    	
  
<GridLayout *ngIf="!reload"  row="2" rows='auto,auto,auto,auto'>
<GridLayout row="0" columns='*'>
<Label col="0" margin='10,0,0,5'  >
        <FormattedString>
            <Span text="{{totalcommand}} " color="#FFA500" class="fas"  ></Span>
            <Span text="commandes completées"  ></Span>
        </FormattedString>


 </Label>
 
 </GridLayout>
 
<StackLayout row="1"  margin="5,0,0,0"  colSpan="2" backgroundColor="#D3D3D3" height="3"></StackLayout>


<RadListView  row="2" [items]="model"><!--   loadOnDemandMode="Manual" (loadMoreDataRequested)="onLoadMoreItemsRequested($event)"-->

          <ng-template let-m="item" let-i="index"  >
           
				 <GridLayout  margin="0,15,0,15" rows="auto,auto,auto,auto,auto,*,*,auto,*,auto,*,auto,*,*">
				      <StackLayout orientation='horizontal' row='0'   >
				      		  
            					<Label text="Commande id:  "  ></Label>
         					    <Label text="{{m._id}}" class="fas link0"  (touch)='ontouch($event)' (longPress)="selectText($event)" [nsRouterLink]="['../commands',m._id]" ></Label>
       					
				      	
				      </StackLayout>
					   <StackLayout row="1" margin="5,0,0,0"  colSpan="2" backgroundColor="#D0D0D0" height="2"></StackLayout>
					  
					  <GridLayout    row='2'  columns='*,auto'>
					  		<Label col='0'  text="Montant total:  "  ></Label>
         					<Label col="1"  text="{{ m._source.totalprice}} DA" class="fas" color='#000'  (tap)="gotoPurchase(m._id)"  ></Label>
       					
					  
					  </GridLayout> 
					  
					  <StackLayout row="3" margin="5,0,0,0"  colSpan="2" backgroundColor="#D0D0D0" height="2"></StackLayout>
					 <GridLayout row="4" rows="auto,auto,auto">
					 <StackLayout  row='0' orientation="horizontal">
					  
            					<Label margin="20,10,0,0" text="De: "  ></Label>
            					 <Image loadMode="async"  src="{{avatarlist[m._source.userid]}}" class="resize" stretch="aspectFill" ></Image>
            					
         					    <Label textWrap='true' margin="20,0,0,10" verticalAlign='center'  text="{{fullnamelist[m._source.userid]}} " (touch)="ontouch($event)" class="fas link0 " (tap) ='gotoUser(m._source.userid)'  ></Label>
		  						
		  
		  
					  </StackLayout>
					          	
							 	<StackLayout  margin="0,10,0,25"  row="1"  [visibility]="m._source.userrating!=0 ? 'visible' : 'collapsed'"  >
  									 <AbsoluteLayout  height="35" width="85"  class=" border " >
      	          							 <StackLayout  left="-80" top="-10"  >
      	           
                								 <StarRating filledColor="#FFA500" isindicator="true"  android:scaleX=".3" android:scaleY=".3"  [value]="m._source.userrating"  ></StarRating>
               								 </StackLayout>
                 
       							    </AbsoluteLayout>
 	    						 </StackLayout>
 	    						 <stackLayout row="1"  [visibility]="m._source.userrating==0 && m._source.steps.stop==0 ? 'visible' : 'collapsed'"  >
 	    						  <Label margin='0,10,0,10' text="Evaluation:" ></Label>
        							<StackLayout  margin="0,10,0,25">	
 			 						 <AbsoluteLayout height="35" width="95"     class=" border "  >
      	          					 <StackLayout left="-70" top="-10"   >
      	           
                								 <StarRating filledColor="#FFA500"  (valueChange)="setScore($event,i, m._id)"   android:scaleX=".4" android:scaleY=".4"  value="0"  ></StarRating>
               					    </StackLayout>
                 
       							    </AbsoluteLayout>
       							    
       							      <Label editable="false"  *ngIf="alert[m._id]" class="alert" text="S'il vous plait évaluer ce client"></Label> 
       							    	<TextView [isEnabled]="!loadingR[m._id]" [visibility]="m._source.userrating==0 && m._source.steps.stop==0? 'visible' : 'collapsed'"   fontSize="12"  hint="laisser un commentaire" class="input" [(ngModel)]="m._source.userfeedback"    returnKeyType="done" 
                							  maxLength="300"></TextView>
       								
							 			 <GridLayout columns='*,auto'>  <Label  class="send" col="1" (touch)="ontouch3($event)" (tap)='sendRating(m,i)  ' text="Envoyer"></Label>
										</GridLayout>
 			 						</StackLayout>
 			 						
							 			
       								
       					</stackLayout>
 	    			<StackLayout row="1">
   							<ActivityIndicator color='#FFA500' rowSpan="3" [busy]="loadingR[m._id]" ></ActivityIndicator>
  				 	</StackLayout>
 	    						 
					  </GridLayout>
					  <StackLayout row="5" margin="5,0,0,0"  colSpan="2" backgroundColor="#D0D0D0" height="2"></StackLayout>
					  
					  <RadListView  row="6" [items]="m._source.articles" >
						<ng-template let-a="item"  >
						<StackLayout  orientation="vertical">
							 <GridLayout columns='*,*,auto'>
							    <Image loadMode="async"  [src]="a.pic"	class="pic"  stretch="aspectFill" ></Image>

							    <GridLayout col="1" rows="auto,*" >
							    
							    	
							    	<TextView editable="false" row="0"  class="titlea link0" text="{{a.title}}"  (touch)="ontouch($event)"  (tap)="gotoArticle(a.articleid, m._source.storetitle)">
 					    			</TextView>
							    	<GridLayout row="1" rows="*,*,*,*" columns='*,auto'>
							    	<Label *ngIf='a.hasOwnProperty("color") && a.color!="" '  row='0' col="0"  text="Couleur: "></Label>
							    	<Label *ngIf='a.hasOwnProperty("color") && a.color!="" '  row="0" col="1" class="color" [backgroundColor]='a.color'></Label>
							        <Label *ngIf='a.hasOwnProperty("size") && a.size!="" ' row="1" col="0" text='Taille: '></Label>
							        <Label *ngIf='a.hasOwnProperty("size") && a.size!="" '  row='1' col="1" class='size' text='{{a.size}}' > </Label>
							        <Label row='2' col="0" text="Quantité: "></Label>
							        <Label row='2' col="1" color="#000" text='{{a.quantity}} UNIT'></Label>
							        <Label row='3' col="0" text="Prix: "></Label>
							        <Label row='3' col="1" color="#000"  text='{{a.price}} DA'></Label>
							        </GridLayout>
							    </GridLayout>
							 </GridLayout>
							<StackLayout row="2" margin="5,0,0,0"  colSpan="2" backgroundColor="#D0D0D0" height="1"></StackLayout>
							 
						</StackLayout>
						</ng-template>	
					</RadListView> 
					<GridLayout row="7" columns='*,auto'>
					 <Label col="0" >
					 		 <FormattedString>
            					<Span text="Livraison:  "  ></Span>
         					    <Span text="{{m._source.delivery.title }} " class="fas" color='#FFA500'   ></Span>
       						</FormattedString>
					 </Label>
					 <Label col="1" text=" {{m._source.delivery.price }} DA" class="fas" color="#000"></Label>
					</GridLayout>
					<StackLayout row="8" margin="5,0,5,0"  colSpan="2" backgroundColor="#D0D0D0" height="1"></StackLayout>
						<Label row="9"   text="Addresse: "></Label>
					<GridLayout padding="2"  row="10" backgroundColor="#D3D3D3"  rows="*,*,*,*,*,*" columns="*,*" >
					
						<Label class='add' row="0" col="0" text="à M.Mme" ></Label> 
  						<Label class='add' row="0" col="1" text="{{m._source.choosenAddress.to}}"></Label>
  		     			<Label class='add' row="1" col="0" text="Téléphone" ></Label> 
  						<Label class='add' row="1" col="1" text="{{m._source.choosenAddress.phone}}"></Label>
  		     			<Label class='add' row="2" col="0" text="Ville" ></Label> 
  						<Label class='add' row="2" col="1" text="{{m._source.choosenAddress.city}}"></Label>
  		   			    <Label class='add' row="3" col="0" text="Commune" ></Label> 
  						<Label class='add' row="3" col="1" text="{{m._source.choosenAddress.commune}}"></Label>
  		   			    <Label class='add' row="4" col="0" text="Codepostal" ></Label> 
  						<Label class='add' row="4" col="1" text="{{m._source.choosenAddress.zipcode}}"></Label>
  		     			<Label class='add' row="5" col="0" text="Addresse" ></Label> 
  						<Label class='add' row="5" col="1" text="{{m._source.choosenAddress.address}}"></Label>
  		     			
					</GridLayout>
      		    	<StackLayout row="11" margin="5,0,5,0"  colSpan="2" backgroundColor="#D0D0D0" height="1"></StackLayout>
      		    	
      		    	<GridLayout row="12" rows='auto,*'>
      		    	   <GridLayout margin='0,0,10,0' row="0" columns="*,auto,auto,auto,auto,auto">
      		    	
      		    	    <Image   col="0" src="res://trolley" class='wizardimg' stretch="aspectFill"></Image>
      		    	    <Label    col='0'  class='wizardActive'></Label>
      		    	   
      		    	
      		  		  	<Image  [visibility]="m._source.steps.stop!=0 ? 'visible' : 'collapsed'"  col="1" src="res://close" class='wizardimg' stretch="aspectFill"></Image>
      		    	    <Label  [visibility]="m._source.steps.stop!=0 ? 'visible' : 'collapsed'"  col='1'  class='wizardActive'></Label>
      		    	   
      		    	
      		  		  	<Image  [visibility]="m._source.steps.stop==0  ? 'visible' : 'collapsed'"   col="2" src="res://delivery" class='wizardimg' stretch="aspectFill"></Image>
      		  		  	<Label  [visibility]="m._source.steps.stop==0  && m._source.steps.send==0  ? 'visible' : 'collapsed'"  col='2'  class='wizard'></Label>
      		    	    <Label  [visibility]="m._source.steps.stop==0  && m._source.steps.send!=0  ? 'visible' : 'collapsed'"  col='2'  class='wizardActive'></Label>
      		    	   
      		  		  	
      		  		  	
      		    	
      		 		   	<Image  [visibility]="m._source.steps.stop==0  ? 'visible' : 'collapsed'" col="3" src="res://closebox" class='wizardimg' stretch="aspectFill"></Image>
        			    <Label  [visibility]="m._source.steps.stop==0  && m._source.steps.receive==0  ? 'visible' : 'collapsed'"  col='3'  class='wizard'></Label>
      		    	    <Label  [visibility]="m._source.steps.stop==0  && m._source.steps.receive!=0  ? 'visible' : 'collapsed'"  col='3'  class='wizardActive'></Label>
      		    	   
      		  		  	
      		    	
      		  		  	<Image  [visibility]="m._source.steps.stop==0 &&  m._source.steps.litige !=0 ? 'visible' : 'collapsed'" col="4" src="res://litige" class='wizardimg' stretch="aspectFill"></Image>
       		 		  	<Label  [visibility]="m._source.steps.stop==0  && m._source.steps.litige !=0 ? 'visible' : 'collapsed'" col='4'  class='wizardActive'></Label>
       		 		  	
 
      		 	        <Image  [visibility]="m._source.steps.stop==0  ? 'visible' : 'collapsed'" col="5" src="res://checked" class='wizardimg' stretch="aspectFill"></Image>
       		 	        <Label  [visibility]="m._source.steps.close==0 ? 'visible' : 'collapsed'" col='5'  class='wizard'></Label>
       		 		  	<Label  [visibility]="m._source.steps.close!=0 ? 'visible' : 'collapsed'" col='5'  class='wizardActive'></Label>
      		    	
      		    		</GridLayout>
      		    		<StackLayout row="1">
      		    			 <Label class="ongoingli"   text="Commande faite le: {{m._source.startdate}} "></Label>
      		    			
      		    			<Label  class="ongoingli"  *ngIf='m._source.steps.stop!=0' text='Commande annulée le: {{m._source.steps.stop}}'></Label>
      		    			
      		    			    <StackLayout orientation="horizontal">
      		    			   		 <Label class="ongoingli"  *ngIf="m._source.steps.prepare==0  && m._source.steps.stop==0" text='Commande prête '></Label>
      		    			   		  <Button *ngIf="m._source.steps.prepare==0  && m._source.steps.stop==0"  height="35" backgroundColor='#FFA500' color="#FFF" text="&#xf00c;" class="fas"  (tap)= 'prepareDone(m._id, i, m._source.userid); '>
   									 </Button>
      		    				</StackLayout>
 	  	 					<Label class="ongoingli"  *ngIf=' m._source.steps.prepare!=0 && m._source.steps.stop==0'  text='Commande préparée le: {{m._source.steps.prepare}}'></Label>
 	  	 				   
 	  	 				   
 	  					   <StackLayout orientation="horizontal">
 	  	 				    <Label class="ongoingli"    *ngIf='( m._source.steps.prepare!=0 && m._source.steps.send==0 && m._source.steps.stop ==0)' text='Commande envoyée '></Label>
 	  	  				    <Button *ngIf='( m._source.steps.prepare!=0 && m._source.steps.send==0 && m._source.steps.stop ==0)' (tap)="sendDone(m._id, i, m._source.userid);" height="35" backgroundColor='#FFA500' color="#FFF" text="&#xf00c;" class="fas">  </Button>
 	  	 					</StackLayout>
 	  			
 	  				 
	     					<Label  class="ongoingli"  *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 " text='Commande envoyée le: {{m._source.steps.send}}'> </Label>
					 	    
					 	     
					 	     <Label  class="ongoingli" *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 && m._source.steps.receive!=0" text="Commande reçu le: {{m._source.steps.receive}} "></Label>
					 	     
					 	    
					
					 	    
					 	    <Label  class="ongoingli"   *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 &&  m._source.steps.receive!=0 &&m._source.steps.litige!=0 "  text="Retour le: {{m._source.steps.litige}}"></Label> 
					 	    
	 						
  						 
  						    <Label  class="ongoingli"   *ngIf="m._source.steps.close==0 && m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 &&  m._source.steps.receive!=0 && ((m._source.steps.litige!=0 && m._source.steps.solvedlitige!=0) ||m._source.steps.litige==0)  " text="Attente de la fermeture "></Label>
  						    <Label  class="ongoingli" *ngIf="m._source.steps.close!=0 "  text='Commande fermée le: {{m._source.steps.close}}'></Label>
     				
       
      		    
      		    		</StackLayout>
      		    		
      	
      		    		
      		    		
      		   		</GridLayout>
      		    	<StackLayout row="13">
      		    	<GridLayout  rows="auto,*" margin="5,0,5,0">
      		    	<StackLayout row="0" orientation='horizontal'>
      		    	 <Label  text="&#xf075; Messages " class='msgtitle fas ' width="90%"></Label>
      		    	 <Label text ='&#xf107;' class="msgtitle fas"  (tap)="openMsgs(i,m._id)" (touch)='ontouch3($event)' ></Label>
      		    	 </StackLayout>
      		    	<RadListView  margin="0,10,0,10"  row="1" [items]="m._source.messages "  height="200"  [visibility]="isopen['message'+m._id] ? 'visible' : 'collapsed'" >
						<ng-template let-message="item"  >
						<StackLayout>
						
						<GridLayout columns="auto,*" [visibility]="message.fromMe? 'visible' : 'collapsed'" >
						
						<Image col="0" src='{{avatarlist[message.from]}}' class="pic2"  stretch="aspectFill"  ></Image>
					    
					    <GridLayout col="1" rows='auto,auto'  >
					   		 <StackLayout  row="0" orientation=horizontal>
					   		 	<Label textWrap='true' width="75%" text="{{fullnamelist[message.from]}}" class="fname"></Label>
					   		 	<Label textWrap='true' class="fas" fontSize="10" text="&#xf017; {{message.date}}"></Label>
					   		  </StackLayout>
					  		 <textView row="1" text='{{message.text}}' editable="false" class="msgs1"></textView>
						 </GridLayout> 
						</GridLayout>
						
						<GridLayout  columns="*,auto" [visibility]="!message.fromMe? 'visible' : 'collapsed'" >
								<Image col="1" src='{{avatarlist[message.from]}}' class="pic2"  stretch="aspectFill"  ></Image>
					       
					       <GridLayout col="0" rows="auto,auto" >
					   		 <StackLayout row="0" orientation=horizontal horizontalAlignment="right"  >
					   		     <Label textWrap='true'  width="60%" class="fas" fontSize="10"  text="&#xf017; {{message.date}}"></Label>
					   		  
					   		 	 <Label textWrap='true' width="40%"   text="{{fullnamelist[message.from]}}" class="fname"></Label>
					   		  </StackLayout>
					  		 <TextView  row ="1" text=' {{message.text}}' class="msgs2" editable="false"></TextView>
						 </GridLayout>
						
						</GridLayout>
						</StackLayout>
						</ng-template>
						
						
						
      		       </RadListView>
      		    	
      		    
      		    	
      		    </GridLayout>
      		  
      		     <StackLayout  margin="10,0,10,0"  colSpan="0" backgroundColor="#D0D0D0" height="6"></StackLayout>
      		    </StackLayout>
      		    </GridLayout>
     	  </ng-template>	

</RadListView>  
  
</GridLayout>

	<StackLayout row="3">
   	 <ActivityIndicator color='#FFA500' rowSpan="3" [busy]="loading" ></ActivityIndicator>
   	</StackLayout>
   	<GridLayout  margin='5,0,5,0' rows='auto,auto,auto'  *ngIf="loadmorebool && !loading "   row='3'  (touch)='ontouch2($event)' (tap)='loadmore()' >
      	   
      	     <StackLayout  row="0" colSpan="2" backgroundColor="#eeeeee" height="2"></StackLayout>
      	   
      	   <Label  row="1" class="fas loadmore" text="&#xf078;" horizontalAlignment="center" verticalAlignment="center" ></Label>
      	   <StackLayout  row="2" colSpan="2" backgroundColor="#eeeeee" height="2"></StackLayout>
      	 
 </GridLayout>
</GridLayout>

</StackLayout>
</RadSideDrawer>
</ScrollView>
