/* Add mobile styles for the component here.  */
.pic {
	width: 80;
    height: 80;
	margin-left:0;

	
}
.pic2{
	width: 50;
    height: 50;
	margin-left:0;
		 border-radius:50; 
}
.titlea {
	  font-size: 12;
}
.size {
  text-align: center;
   width:45;
   height: 20;
   border-width: 1 ;
   border-color:#000;
   background-color:#D3D3D3;
   color:#000;
    font-size:10;
}
.send{
	padding :5 ; 
	font-size:12; 
	size:12;
     text-align: center;
	 vertical-align: center;
	background-color: #FFA500 ; 
	    border-radius:5; 
	color:#fff;
	
}
/*Button:highlighted { background-color: red; color: gray;}*/

.msg {
		font-size:12;
 background-color :#D3D3D3; 
 	  border-radius:8;
  color:#000; 
  margin:0,2,0,0;  

}
.msgs1 {
	margin-left : 5 ; 
	font-size:12;
	padding:5 ; 
	background-color : darkgray;  
	color :#fff; 
	  border-radius:8;
	     horizontal-alignment: left;
}

.msgs2 {
	margin-left : 5 ;
	font-size:12; 
	padding:5 ; 
	background-color : #00BFFF ;
	color :#fff;  
	  border-radius:8;
	   horizontal-alignment: right;
}
.fname {
	font-size:12; 

}
.fname2 {
	font-size:12; 
	   horizontal-alignment: right;

}
.msgtitle{
	font-size :14 ; 
	padding:8 ; 
	background-color :  #FFA500 ; 
	color :#FFF ;
		  border-radius:4;
	  
}
.fas {
    font-family: Font Awesome 5 Free, fa-solid-900;
    font-weight: 900; 
}

.wizardimg{
	width:40; 
	height:40 ;	
 	background-color: transparent;
 	padding:4 ; 
}

.wizard{
    border-bottom-width: 4;
    border-bottom-color: #D0D0D0;
 	padding-bottom :8 ; 
}

.wizardActive{
    border-bottom-width: 4;
    border-bottom-color:  #d9534f;
 	padding-bottom :8 ; 
 	
}
.wizardimgActive{
	width:30; 
	height:30 ;	
 	background-color: transparent;
}

#img {
    z-index: 0;
}

#label {
    z-index: 1;
}

.ongoingli{
font-size : 12; 
margin :5,5,5,5; 
background-color : #D3D3D3 ; 
padding : 5 ; 	
	
}
.add{
	border-bottom-width: 1;
    border-bottom-color:  #FFFFFF;
	
}
.link{
	padding :5 ; 
	background-color : #00BFFF ; 
	color : #FFF; 
	margin : 5, 5, 0, 0;  
	border-radius: 5; 
	
}

.linkActive{
	padding :5 ; 
	background-color : #FFA500  ; 
	 
	margin : 5, 5, 0, 0;  
	border-radius: 5; 
	
}
.alert {
	padding :5 ; 
	background-color: #FFA1A1; 
	color :#444444; 
	 border-width: 1 ;
	 border-radius :2; 
   border-color:#F27171;
   font-size:12;  
} 

.color{
	
	width: 30;
   height : 20; 
   border-width:1 ; 
   border-color:#444444;
   
	
}

.link0{
	
	color: #00BFFF;
}
Label:pressed {
    padding:1;
    background-color:#eeeeee; 
 
}
Label:selected {
    padding:2; 
    background-color:#eeeeee; 
}
Label:pressed3 {
   color:darkgray;
}
