
<ngx-loading  [show]="loading0" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

 
 <div *ngIf='!loading0 &&  !open'>

<div i18n="@@noopen" class="alert alert-warning  strong ">Ce magasin est fermé</div>
</div>


   
   <nav   class="navbar navbar-default  navnav sticky-top"  >

   
    <div class="form-inline">
     
      <div class='navbar-brand'>

		<a   class="navbar-brand " routerLinkActive="active"  [routerLink]="['../store']" >
           {{storetitle}}  </a>

	</div>  
     <star-rating size ='small'  [starType]="'svg'" [rating]="store.ratingsum/store.ratingcount"   [readOnly]="true" [showHalfStars]="true"  ></star-rating><span style="font-size: x-small ;" i18n='@@votess2'>( {{store.ratingcount}} votes)</span>
	 </div> 


     </nav>

<div   class ="container" >

<br/>
<br/>
  <table  *ngIf='data.length!=0' class="table table-sm  table-striped table-responsive-sm">
   <thead>
     <tr class="table-active" >
       <th i18n="@@dates"  >Date </th>
       <th i18n="@@ventess" >Ventes</th>
       <th i18n="@@recettess"  >Recettes</th>
	   <th>3% </th>
		
     </tr>
  </thead>
  <tbody>
  
   
    <tr  *ngFor='let d of data' >
  		<th>{{d.month+1}}/{{d.year}}  </th>
  		<td>{{d.total}}</td>
  		<td i18n="@@pricess"> {{d.price }} DA</td>
  		<td i18n="@@pricess2" >{{(d.price*0.03).toFixed(2)}} DA <i class="fa fa-check text-danger strong "></i> </td>

    </tr>
  

    
  </tbody>
</table>
   
   
      <div   i18n="@@pasventecompelete"   *ngIf='!loading0 && data.length==0' class="alert alert-warning " > 
  	  
  	   Pas de vente complétée.
  	  </div>
   
   </div>
