<ScrollView>
<GridLayout rows="auto,auto,auto,auto,auto,*">
  <StackLayout row="0" >
  		<Label  (touch)='ontouch($event)' textWrap='true'    class=" storetitle "  text="{{storetitle}}"  nsRouterLink='../../store' ></Label>
         <StackLayout margin="0,0,2,8" orientation="horizontal">
      	        <AbsoluteLayout  height="22" width="85"  android:cursorVisible="false"  >   
                 <StarRating left="-80" top="-18"    horizontalAlignment="center" verticalAlignment="center" isindicator="true"  android:scaleX=".3" android:scaleY=".3"   [value]="store.ratingsum/store.ratingcount"  ></StarRating>
                </AbsoluteLayout>
                 <Label margin="3,0,0,5" fontSize="10"   text="({{store.ratingcount}} votes)"></Label>
          </StackLayout>
   </StackLayout>
  
  


  <StackLayout row="1"    colSpan="2" backgroundColor="darkgray" height="1.5"></StackLayout>
  
	<StackLayout row="2">
   	 <ActivityIndicator color='#FFA500' rowSpan="3" *ngIf='loading0' [busy]="loading0" ></ActivityIndicator>
   	</StackLayout>  


<Label  row="3" class="alert" [visibility]="!loading0 && nostore  ? 'visible' : 'collapsed'" text="pas de magasin dans ce lien ! "></Label>
<Label row="4" class="alert" [visibility]="(!loading0 && nostore && !open)  ? 'visible' : 'collapsed'" text="Le magasin est fermé ! "></Label>


<GridLayout rows="auto,*" row="5" [visibility]="!loading0 && !nostore ? 'visible' : 'collapsed'"  orientation="vertical">
    
    <Label row="0"  [visibility]="model.suspend? 'visible' : 'collapsed'" class="alert" text="L'article est suspendu "></Label>
<GridLayout  row="1"  [visibility]="!model.suspend? 'visible' : 'collapsed'" rows='auto,auto,auto,auto,260,*,auto,*'>


  <!-- Image row ="0" [src]="banner" class="pic"  stretch="aspectFill"></Image-->
 

  <Label margin='10,5,0,5' row="2" [visibility]="!loading0 && !model.available? 'visible' : 'collapsed'"  class="alert" text="Article épuisé"></Label>
  
 
  <GridLayout row="3" class="title " rows="*,*,*">
  
  
    <textView  row ="0" editable="false" class='titlea' >
   	  <FormattedString>
   			<Span text="{{model.title}}"></Span>
      </FormattedString>
     </textView>
    
      	   <StackLayout  row="1"   >
      	        <AbsoluteLayout  height="35" width="90"  android:cursorVisible="false"  >   
                 <StarRating left="-75" top="-10"    horizontalAlignment="center" verticalAlignment="center" isindicator="true"  android:scaleX=".4" android:scaleY=".4"  [value]="model.ratingsum/model.ratingcount" ></StarRating>
                </AbsoluteLayout>
                 <Label color='#333333' fontSize="10"  text="({{model.ratingcount}} votes)"></Label>
           </StackLayout>
     <Label class='price' row ="2"   text=' {{model.price}} D.A'  ></Label>
   
  </GridLayout>
   	
   
   	<StackLayout   *ngIf='!loading'   row="4">
    <Carousel #carouseln debug="true" [items]="gallery" height="90%" width="100%" color="#000000" (pageChanged)="myChangePageEvent($event)" 
                    indicatorAnimation="swap"  indicatorColor="#FFA500" indicatorOffset="0,-10" showIndicator="true" indicatorColorUnselected="#D0D0D0" >
        <CarouselItem *ngFor="let item of gallery" >
            <GridLayout  >
          
                <Image   loadMode="async"  src="{{item}}" class="pic" stretch="aspectFill"></Image>
     
           
            </GridLayout>
        </CarouselItem>
    </Carousel>
     
     
 	</StackLayout>
 	 
<StackLayout row="4"  *ngIf='loading'  >
   	 <ActivityIndicator color='#FFA500' rowSpan="3"[busy]="loading" ></ActivityIndicator>
 
</StackLayout>
	
 <GridLayout margin="0,10,0,10"  row="5" rows = '*,*,auto,auto'>
 <GridLayout row="0"   rows='auto,auto,auto,auto,auto,auto'>
 
  <GridLayout margin="15,0,0,0" row="0"  columns="100,*"  [visibility]="model.color.length!=0  ? 'visible' : 'collapsed'"  >
   			<Label   col="0"  text="Couleur"></Label>
  
  			<RadListView     col="1"  [items]="model.color" >
      		 <ng-template let-a="item" >
      		 	<GridLayout>	
      		 		<Label *ngIf='choosecolor==a'  margin='0,0,5,0'  [backgroundColor]="a"  class="colorActive"  (tap)="getColor(a)"   ></Label>
      			    <Label *ngIf='choosecolor!=a'  margin='0,0,5,0'  [backgroundColor]="a"  class="color"  (tap)="getColor(a)"   ></Label>
      				</GridLayout>
      		</ng-template>
      		     		<ListViewGridLayout tkListViewLayout scrollDirection="Vertical" spanCount="4"></ListViewGridLayout>
      		
    		</RadListView>
   </GridLayout>     				  
  <GridLayout margin="15,0,0,0"  row="1"  columns="100,*" [visibility]=" size.length!=0 ? 'visible' : 'collapsed'"  >
  
  	<Label   col="0" text="Taille"></Label>
  	<RadListView    col="1"  [items]="size" >
      		 <ng-template let-a="item" >
      		 		<GridLayout>
      		 		<Label *ngIf='a!=choosesize && !model.sizing[choosecolor].includes(a)' margin='0,0,5,0' text='{{a}}' class="sizeDisable"></Label>
      		 		
      		 		<Label *ngIf='a==choosesize ' margin='0,0,5,0' text='{{a}}' class="sizeActive" (tap)="chooseSizing( a)" ></Label>
      			    <Label *ngIf=' a!=choosesize && model.sizing[choosecolor].includes(a)'  margin='0,0,5,0' text='{{a}}' class="size" (tap)="chooseSizing(a)" ></Label>
      			
      			
      				</GridLayout>
      		</ng-template>
      		<ListViewGridLayout tkListViewLayout scrollDirection="Vertical" spanCount="4"></ListViewGridLayout>
      		
    </RadListView>
  </GridLayout>
  
  <GridLayout margin="15,0,0,0" row="2"  columns="100,*" >
  
  		<Label col="0"  text="Votre Adresse"></Label>
  		<GridLayout col="1" columns ='*,auto'  rows="auto,auto, auto,auto">
       <Label col='1' row="0" text='&#xf078;'  class="fas dropdownLabel" (tap)="chooseAddress()"  (touch)="ontouch($event)"   ></Label>
       <Label col='0' row ="0" text ="{{choosenAddressTitle}}" color="#000"   (tap)="chooseAddress()" (touch)='ontouch($event)'   ></Label>
        <StackLayout row="2"  colSpan="2" backgroundColor="#444444" height="1"></StackLayout>
		<StackLayout  row="1" [visibility]=" show? 'visible' : 'collapsed'" >
  			  <app-adress (getAddress)='getAddress($event) ; ' ></app-adress>
  	    </StackLayout>
  		</GridLayout>
  </GridLayout>
  
  <GridLayout margin="15,0,0,0"  row="3"  columns="100,*" >
  
  	<Label  col="0" text="Livraison"></Label>
  	<GridLayout col="1" rows="auto,auto,auto">
  	  <!-- Label row="0" text='&#xf078;'  class="fas dropdownLabel" ></Label-->
        
        <DropDown  #dd
                  [items]="delTitle "
                  color='#000'
                  [(ngModel)]="selectedIndex"
                  (selectedIndexChanged)="onchange($event)"
                  colSpan="0"
                  paddingItem="5" 
                  row="0">
        </DropDown>
		 <StackLayout row="1"  colSpan="2" backgroundColor="#444444" height="1"></StackLayout>
		</GridLayout>
  	
  </GridLayout>
    
  <GridLayout margin="15,0,0,0" row="4"  columns="100,auto, auto " >
   
  	<Label col="0"  margin="10,0,0,0" text="Quantité"></Label>
  	<TextField class='input ' col="1" color='#000'   returnKeyType="done"  text='{{quantity}}'  [(ngModel)] ="quantity"
  	 keyboardType="number" maxLength="3" (returnPress)="getQuantity()" ></TextField>
  	<Label   margin="12,0,10,0" col="2" text='Total: ({{model.numbers}})'></Label>
  	
  </GridLayout>
  
  <GridLayout  margin="15,0,0,0" row="5"  columns="100,*" >
  
  	<Label  col="0"   text="Montant total"></Label>
  	<Label  col="1" color='#000' text='{{total}} D.A'></Label>
  </GridLayout>
</GridLayout>

 <GridLayout row="2" columns='*,auto,auto, auto'>
 <Button  [isEnabled]="!loadingcart"  [visibility]="model.available ?'visible':'collapse'"   text="Acheter"  col="1"   backgroundColor="#d9534f" color="#FFF"  (tap)='buyNow()'></Button> 
  
 <Button [isEnabled]="!loadingcart" text="&#xf218;Panier"  class="fas" col="2" backgroundColor="#FFA500" color="#FFF" (tap)="addToCart() ;  "></Button>
<StackLayout col="2">
   	 <ActivityIndicator color='#FFA500' rowSpan="3" *ngIf='loadingcart' [busy]="loadingcart" ></ActivityIndicator>
   	</StackLayout> 
<ng-template ngxPermissionsOnly="ADMINStore">

 <Button [isEnabled]="!loading"  text="Paramètre" col="3"  backgroundColor="#00BFFF" color="#FFF" (tap)="updateArticle();" ></Button>
</ng-template>
 </GridLayout>
  
  <GridLayout   [visibility]="model.available ?'visible':'collapse'"  row='3' rows='auto,auto,auto,auto'>
  <!-- Label class="alert" *ngIf='fullcartwarning' text="Le panier est plein" row="4" ></Label--> 
  	    <Label class="alert" *ngIf="choosenAddress=='' && send " row="0" text='Choisissez votre addresse' ></Label>
   <Label row='1' class='alert' *ngIf="send && choosedelivery.length==0 && model['delivery'].length!=0 " text="choisissez votre livraison ! "></Label>
   <Label row='2' class="alert"  *ngIf="model['delivery'].length==0 " text='Livraison indisponible pour votre région' ></Label>
    	   
 </GridLayout>

 </GridLayout>
 

 <GridLayout row="6" columns='auto,auto,auto'>
 <Label *ngIf="!showdesc" col='0' class="lab2" text='Déscriptions' (tap)="showDesc()" ></Label>
 <Label *ngIf="!showeval" col="1" class="lab2" text="Evaluations" (tap)='showEval()'></Label>
 <Label *ngIf="!showdel"  col="2" class=" lab2" text='Détails des livraisons' (tap)="showDel()"></Label>
 <Label *ngIf="showdesc"  col='0' class="lab2Active" text='Déscriptions' (tap)="showDesc()" ></Label>
 <Label *ngIf="showeval" col="1" class="lab2Active" text="Evaluations" (tap)='showEval()'></Label>
 <Label *ngIf="showdel" col="2" class="lab2Active" text='Détails des livraisons' (tap)="showDel()"></Label>
 </GridLayout>

 <StackLayout  row="7" [visibility]=" showdesc? 'visible' : 'collapsed'" >
<GridLayout margin="0,0,30,0" rows="auto, auto,auto,auto">
<Label row="0" text="Description" fontSize='12' color="#000"></Label>
 <TextView margin='0,15,0,15'row="1" editable ="false" class="input " text="{{model.description}}"></TextView>
 <Label margin='5,0,0,0' row="2" fontSize="12" color="#000" text="Disponible dans les villes suivante"></Label>
 <ListView row="3" [items]='store.geo'>
   <ng-template let-v='item'  >
   		<GridLayout  margin='2,0,0,15' columns='auto,auto'>
   		<Label col="0"  text="{{v.name}} "></Label> 
		<Label col="1" color="#00BFFF" class="fas" text="&#xf00c;"></Label>
		</GridLayout>
	</ng-template>
 </ListView>
 </GridLayout>
</StackLayout>
 <StackLayout  row="7" [visibility]=" showeval ? 'visible' : 'collapsed'" >
 
   
 	    <TextView *ngIf='!boolrating '  margin="0,0,30,0" editable ="false" class="input  "  text="Pas d'évaluation disponible"></TextView>
 	    
 
 <RadListView [items]="model.rating" >
 	<ng-template let-m="item">
 	<StackLayout margin='8,0,10,8'>
 	   	<GridLayout columns="auto,*"  >
						
						<Image  loadMode="async" col="0" [src]='avatarlist[m.userid]' class="pic2"  stretch="aspectFill"  ></Image>
					    <GridLayout col="1" rows='auto,auto'  >
					   		 <GridLayout columns='auto,auto' row="0" orientation=horizontal>
					   		 	<Label  col="0" text="{{fullnamelist[m.userid]}}" class="fname"></Label>
					   		 	
      	    				  <AbsoluteLayout  col="1" height="35"   android:cursorVisible="false"  >   
              					   <StarRating left="-75" top="-15"    horizontalAlignment="center" verticalAlignment="center" isindicator="true"  android:scaleX=".3" android:scaleY=".3"  [value]="m.value" ></StarRating>
           				     </AbsoluteLayout>
           
					   		  </GridLayout>
					  		 
					  		 <textView *ngIf='m.hasOwnProperty("feedback")' row="1" text='{{m.feedback}}' editable="false" class="msgs1"></textView>
						 </GridLayout> 
		</GridLayout>
 	   
 	   </StackLayout>
 	</ng-template>
 	      		<ListViewLinearLayout tkListViewLayout scrollDirection="Vertical" spanCount="1"></ListViewLinearLayout>
 	
</RadListView> 
</StackLayout>
 <StackLayout  row="7" [visibility]=" showdel ? 'visible' : 'collapsed'" >
 
<RadListView  [items]="model.delivery" >
	
	 <ng-template let-del='item'  >
   		  			 <StackLayout class="border" margin="0,0,10,0" >
   		  			 
   		  				<StackLayout orientation="horizontal"> 
   		  				<Label color="#000" col="0" text="{{del.title}}  "></Label>
   		  			    <Label color="#FFA500" class="fas" text="&#xf00c;"></Label>
   		  				
   		  				</StackLayout>
   		  			  <GridLayout  margin="0,20,0,25" columns='80,auto'>	  	
   		  			  	<Label col="0" text="Poid max"></Label>
   		  			  	<Label col="1" text="{{del.weight}} kg"></Label>
   		  			  </GridLayout>
   		  			  <GridLayout margin="0,20,0,25" columns='80,auto'>	  	
   		  			  	<Label col="0" text="Téléphone"></Label>
   		  			  	<Label col="1" text="{{del.phone}}"></Label>
   		  			  </GridLayout>
   		  	
   		  			  <GridLayout margin="0,20,0,25" columns='80,auto'>	  	
   		  			  	<Label col="0" text="Prix"></Label>
   		  			  	<Label col="1" text="{{del.price}} D.A"></Label>
   		  			  </GridLayout>
   		  			   
   		  			  
   		  			 </StackLayout>
   	 </ng-template>
   	  	      		<ListViewLinearLayout tkListViewLayout scrollDirection="Vertical" spanCount="1"></ListViewLinearLayout>
   	 
</RadListView>
</StackLayout>
</GridLayout>

 

 </GridLayout></GridLayout>

</ScrollView>
