<ScrollView (tap)="hide()">
<GridLayout  (tap)="hide()" rows="auto,auto,auto,auto,*,auto " >
<GridLayout row="0" columns='*,auto'>
<Label col="0" margin='10,0,0,5'  >
        <FormattedString>
            <Span text="{{totalcommand}} " color="#FFA500" class="fas"  ></Span>
            <Span color="#444444" text=" Commandes en cours"  ></Span>
        </FormattedString>


 </Label>
 
 <Label col='1' class="link"   [nsRouterLink] ="['./done']" text="Historique"> </Label>
 </GridLayout>
 
<StackLayout row="1" margin="5,0,0,0"  colSpan="2" backgroundColor="#D3D3D3" height="3"></StackLayout>

<GridLayout (tap)="hide()" margin='0,30,10,30' row="2" columns="*,auto" orientation="horizontal">
   		<textField col='0' hint="Rechercher commande id" class='search'   (returnPress)='getQuery2($event)'  ></textField>
           <Button col="1" text="&#xf002;" class="fas searchbutton "  (tap)="getQuery2($event)"></Button>
 </GridLayout> 
<StackLayout row="3" margin="0,0,5,0"  colSpan="2" backgroundColor="#D3D3D3" height="3"></StackLayout>

 <Label  (tap)="reloading()"  (touch)="ontouch($event)"  row='4'  *ngIf='!loading && reload' class="reload">
        <FormattedString>
            <Span text="Problème de connexion... "></Span>
            <Span text="réessayer"  color="#FFA500" class="bold" ></Span>
        </FormattedString>
  </Label> 
  
<RadListView  (tap)="hide()" row="4" [items]="model"  loadOnDemandMode="Auto" (loadMoreDataRequested)="onLoadMoreItemsRequested($event)">
          <ng-template let-m="item" let-i="index"  >
            <StackLayout orientation='vertical'>
				 <GridLayout (tap)="hide()"  margin="0,15,0,15" rows="auto,auto,auto,auto,*,*,auto,*,auto,*,auto,*,*">
				      <StackLayout row="0">
				        <StackLayout orientation='horizontal'>
				      		 
            					<Label text="Commande id:  "  ></Label>
         					    <Label textWrap='true' text="{{m._id}}" class="fas link0 " (touch)="ontouch($event)"   nsRouterLink="./purchase/{{m._id}}"  (longPress)="selectText($event)"    ></Label>
       			        </StackLayout>
				        <StackLayout  margin="5,0,0,0"  colSpan="2" backgroundColor="#D0D0D0" height="2"></StackLayout>
				       
				      </StackLayout>
				      
				      <StackLayout row="1">
				      <Label   >
				      		  <FormattedString>
            					<Span text="Faite le:  "  ></Span>
         					    <Span text="{{m._source.startdate}}" class="fas" color='#00BFFF'       ></Span>
       						</FormattedString>
				      	      		  
				      </Label>
				        <StackLayout  margin="5,0,0,0"  colSpan="2" backgroundColor="#D0D0D0" height="2"></StackLayout>
				       
				      </StackLayout>
				      
					  
					  <GridLayout    row='2'  columns='*,auto'>
					  		<Label col='0'  text="Montant total:  "  ></Label>
         					<Label col="1"  text="{{ m._source.totalprice}} DA" class="fas" color='#000'  ></Label>
       					
					  
					  </GridLayout> 
					  
					  <StackLayout row="3" margin="5,0,0,0"  colSpan="2" backgroundColor="#D0D0D0" height="2"></StackLayout>
					  <StackLayout orientation="horizontal" row='4'     >
						
            					<Label text="Magasin:  "  ></Label>
         					    <Label textWrap='true' (touch)="ontouch($event)"  text="{{m._source.storetitle }}" class="fas link0 "  nsRouterLink="../../../stores/{{m._source.storetitle}}/store"  ></Label>
       					
					  </StackLayout>
					  <RadListView  row="5" [items]="m._source.articles" >
						<ng-template let-a="item"  >
						<StackLayout  orientation="vertical">
							 <GridLayout columns='*,*,auto'>
							    <Image loadMode="async"  col="0" src="{{a.pic}}"	class="pic"  stretch="aspectFill" ></Image>

							    <GridLayout col="1" rows="auto,*" >
							    
							    	
							    	<Label class="fas link0" textWrap='true' (touch)="ontouch($event)" row="0"  text="{{a.title}}"  nsRouterLink="../../../stores/{{m._source.storetitle}}/articles/{{a.articleid}}">
 					    			</Label>
							    	<GridLayout row="1" rows="*,*,*,*" columns='*,auto'>
							    	<Label *ngIf='a.hasOwnProperty("color")  && a.color!=""'  row='0' col="0"  text="Couleur: "></Label>
							    	<Label *ngIf='a.hasOwnProperty("color") && a.color!=""'  row="0" col="1" class="color" [backgroundColor]='a.color'></Label>
							        <Label *ngIf='a.hasOwnProperty("size") && a.size!=""' row="1" col="0" text='Taille: '></Label>
							        <Label *ngIf='a.hasOwnProperty("size")&& a.size!=""'  row='1' col="1" class='size' text='{{a.size}}' > </Label>
							        <Label row='2' col="0" text="Quantité: "></Label>
							        <Label row='2' col="1" color="#000" text='{{a.quantity}} UNIT'></Label>
							        <Label row='3' col="0" text="Prix: "></Label>
							        <Label row='3' col="1" color="#000"  text='{{a.price}} DA'></Label>
							        </GridLayout>
							    </GridLayout>
							 </GridLayout>
							<StackLayout row="2" margin="5,0,0,0"  colSpan="2" backgroundColor="#D0D0D0" height="1"></StackLayout>
							 
						</StackLayout>
						</ng-template>	
					</RadListView> 
					<GridLayout row="6" columns='*,auto'>
					 <Label col="0" >
					 		 <FormattedString>
            					<Span text="Livraison:  "  ></Span>
         					    <Span text="{{m._source.delivery.title }} " class="fas" color='#00BFFF'   ></Span>
       						</FormattedString>
					 </Label>
					 <Label col="1" text=" {{m._source.delivery.price }} DA" class="fas" color="#000"></Label>
					</GridLayout>
					<StackLayout row="7" margin="5,0,5,0"  colSpan="2" backgroundColor="#D0D0D0" height="1"></StackLayout>
						<Label row="8"   text="Addresse: "></Label>
					<GridLayout padding="2"  row="9" backgroundColor="#D3D3D3"  rows="*,*,*,*,*,*" columns="*,*" >
					
						<Label class='add' row="0" col="0" text="à M.Mme" ></Label> 
  						<Label class='add'row="0" col="1" text="{{m._source.choosenAddress.to}}"></Label>
  		     			<Label class='add'row="1" col="0" text="Téléphone" ></Label> 
  						<Label class='add' row="1" col="1" text="{{m._source.choosenAddress.phone}}"></Label>
  		     			<Label class='add'row="2" col="0" text="Ville" ></Label> 
  						<Label class='add'row="2" col="1" text="{{m._source.choosenAddress.city}}"></Label>
  		   			    <Label class='add'row="3" col="0" text="Commune" ></Label> 
  						<Label class='add'row="3" col="1" text="{{m._source.choosenAddress.commune}}"></Label>
  		   			    <Label class='add'row="4" col="0" text="Codepostal" ></Label> 
  						<Label class='add'row="4" col="1" text="{{m._source.choosenAddress.zipcode}}"></Label>
  		     			<Label class='add'row="5" col="0" text="Addresse" ></Label> 
  						<Label class='add'row="5" col="1" text="{{m._source.choosenAddress.address}}"></Label>
  		     			
					</GridLayout>
      		    	<StackLayout row="10" margin="5,0,5,0"  colSpan="2" backgroundColor="#D0D0D0" height="1"></StackLayout>
      		    	
      		    	<GridLayout row="11" rows='auto,*'>
      		    	   <GridLayout margin='0,0,10,0' row="0" columns="*,auto,auto,auto,auto,auto">
      		    	
      		    	    <Image   col="0" src="res://trolley" class='wizardimg' stretch="aspectFill"></Image>
      		    	    <Label    col='0'  class='wizardActive'></Label>
      		    	   
      		    	
      		  		  	<Image  [visibility]="m._source.steps.stop!=0 ? 'visible' : 'collapsed'"  col="1" src="res://close" class='wizardimg' stretch="aspectFill"></Image>
      		    	    <Label  [visibility]="m._source.steps.stop!=0 ? 'visible' : 'collapsed'"  col='1'  class='wizardActive'></Label>
      		    	   
      		    	
      		  		  	<Image  [visibility]="m._source.steps.stop==0  ? 'visible' : 'collapsed'"   col="2" src="res://delivery" class='wizardimg' stretch="aspectFill"></Image>
      		  		  	<Label  [visibility]="m._source.steps.stop==0  && m._source.steps.send==0  ? 'visible' : 'collapsed'"  col='2'  class='wizard'></Label>
      		    	    <Label  [visibility]="m._source.steps.stop==0  && m._source.steps.send!=0  ? 'visible' : 'collapsed'"  col='2'  class='wizardActive'></Label>
      		    	   
      		  		  	
      		  		  	
      		    	
      		 		   	<Image  [visibility]="m._source.steps.stop==0  ? 'visible' : 'collapsed'" col="3" src="res://closebox" class='wizardimg' stretch="aspectFill"></Image>
        			    <Label  [visibility]="m._source.steps.stop==0  && m._source.steps.receive==0  ? 'visible' : 'collapsed'"  col='3'  class='wizard'></Label>
      		    	    <Label  [visibility]="m._source.steps.stop==0  && m._source.steps.receive!=0  ? 'visible' : 'collapsed'"  col='3'  class='wizardActive'></Label>
      		    	   
      		  		  	
      		    	
      		  		  	<Image  [visibility]="m._source.steps.stop==0 &&  m._source.steps.litige !=0 ? 'visible' : 'collapsed'" col="4" src="res://litige" class='wizardimg' stretch="aspectFill"></Image>
       		 		  	<Label  [visibility]="m._source.steps.stop==0  && m._source.steps.litige !=0 ? 'visible' : 'collapsed'" col='4'  class='wizardActive'></Label>
       		 		  	
 
      		 	        <Image  [visibility]="m._source.steps.stop==0  ? 'visible' : 'collapsed'" col="5" src="res://checked" class='wizardimg' stretch="aspectFill"></Image>
       		 	        <Label  [visibility]="m._source.steps.close==0 ? 'visible' : 'collapsed'" col='5'  class='wizard'></Label>
       		 		  	<Label  [visibility]="m._source.steps.close!=0 ? 'visible' : 'collapsed'" col='5'  class='wizardActive'></Label>
      		    	
      		    		</GridLayout>
      		    		<StackLayout row="1">
      		    			
 	  	 					<Label textWrap='true' class="ongoingli"  *ngIf='m._source.steps.stop==0 && m._source.steps.prepare==0 '  text='En cours de préparation'></Label>
 	  	 				    
 	  	 				    <StackLayout orientation="horizontal">
 	  	 				    <Label textWrap='true' class="ongoingli"    *ngIf='( m._source.steps.prepare==0 && m._source.steps.stop ==0)' text='Annuler la commande '></Label>
 	  	  				    <Button   [isEnabled]="!m._source.steps.stoploading"   *ngIf='( m._source.steps.prepare==0 && m._source.steps.stop ==0)' (tap)="showModal(m._id, i, m._source.storetitle ); " height="35" backgroundColor='#d9534f' color="#FFF" text="&#xf00d;" class="fas">  </Button>
 	  	 					<ActivityIndicator  *ngIf="m._source.steps.stoploading" color='#00BFFF' rowSpan="2" [busy]="m._source.steps.stoploading"></ActivityIndicator>
 	  	 					
 	  	 					</StackLayout>
 	  	 					
 	  	 					<Label textWrap='true' class="ongoingli"   *ngIf='m._source.steps.prepare!=0' text='Commande préparée le: {{m._source.steps.prepare}}'></Label>
 	  	
 	  			
 	  	 			     	<Label textWrap='true' class="ongoingli"  *ngIf='m._source.steps.stop!=0' text='Commande annulée le: {{m._source.steps.stop}}'></Label>
 	  					
 	  						<Label  textWrap='true' class="ongoingli"  *ngIf="m._source.steps.send==0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 "  text="Attente de l'envoie" ></Label>
	   
	     					<Label  textWrap='true' class="ongoingli"  *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 " text='Commande envoyée le {{m._source.steps.send}}'> </Label>
					 	    
					 	     <StackLayout orientation="horizontal">   
					 	     <Label  textWrap='true' class="ongoingli" *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 && m._source.steps.receive==0" text="Commande reçu"></Label>
					 	     <Button   [isEnabled]="!m._source.steps.receiveloading"  textWrap='true'  *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0  && m._source.steps.receive==0"  (tap)=" receiveDone(m._id, i,m._source.storetitle)"  height="35" backgroundColor='#00BFFF' color="#FFF" text="&#xf00c;" class="fas"></Button>
						      <ActivityIndicator   *ngIf="m._source.steps.receiveloading" color='#00BFFF' rowSpan="2" [busy]="m._source.steps.receiveloading"></ActivityIndicator>
							   
					 	     </StackLayout>
					 	    
					 	    <Label textWrap='true'  class="ongoingli" *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 &&  m._source.steps.receive!=0" text="Commande reçu le {{m._source.steps.receive}}"></Label>
					 	    <StackLayout orientation='horizontal'>
					 	    <Label  textWrap='true' class="ongoingli" *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 &&  m._source.steps.receive!=0 &&m._source.steps.litige==0 && m._source.steps.close==0" text="Ouvrir un litige"></Label>
					 	    <Button   [isEnabled]= "!m._source.steps.litigeloading" *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 &&  m._source.steps.receive!=0 &&m._source.steps.litige==0 && m._source.steps.close==0" text="" (tap)="litigeDone(m._id, i, m._source.storetitle )"   height="35" backgroundColor='#00BFFF' color="#FFF" text="&#xf00c;" class="fas"></Button>
					 	     <ActivityIndicator  *ngIf="m._source.steps.litigeloading" color='#00BFFF' rowSpan="2" [busy]="m._source.steps.litigeloading"></ActivityIndicator>
					 	    
					 	    </StackLayout>
					 	    <Label textWrap='true' class="ongoingli"   *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 &&  m._source.steps.receive!=0 &&m._source.steps.litige!=0 "  text="Litige ouvert le {{m._source.steps.litige}}"></Label> 
					 	    
	 						<Label  textWrap='true' class="ongoingli"   *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 &&  m._source.steps.receive!=0 &&m._source.steps.litige!=0 && m._source.steps.solvedlitige==0 " text="Veuillez contacter le magasin pour trouver une solution à votre litige" ></Label>
	 						<StackLayout orientation='horizontal'>
	 						<Label  textWrap='true' class="ongoingli"   *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 &&  m._source.steps.receive!=0 &&m._source.steps.litige!=0 && m._source.steps.solvedlitige==0 " text="Litige résolu" ></Label>
	 						 <Button [isEnabled]= "!m._source.steps.solvedlitigeloading" *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 &&  m._source.steps.receive!=0 &&m._source.steps.litige!=0 && m._source.steps.solvedlitige==0 "  (tap)=" solvedlitigeDone(m._id, i, m._source.storetitle )"   height="35" backgroundColor='#00BFFF' color="#FFF" text="&#xf00c;" class="fas"></Button>
	 					     <ActivityIndicator  *ngIf="m._source.steps.solvedlitigeloading" color='#00BFFF' rowSpan="2" [busy]="m._source.steps.solvedlitigeloading"></ActivityIndicator>
	 					    
	 					    </StackLayout>
  
  						 	<Label textWrap='true'  class="ongoingli"   *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 &&  m._source.steps.receive!=0 &&m._source.steps.litige!=0 && m._source.steps.solvedlitige!=0 " text='Litige résolu le {{m._source.steps.solvedlitige}}'></Label>
  						 
          					<StackLayout orientation='horizontal'>
          			  	   <Label textWrap='true'  class="ongoingli"   *ngIf="m._source.steps.close==0 && m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 &&  m._source.steps.receive!=0 && ((m._source.steps.litige!=0 && m._source.steps.solvedlitige!=0) ||m._source.steps.litige==0)  " text="Fermer la commande"></Label>
        					<Button [isEnabled]= "!m._source.steps.closeloading" *ngIf="m._source.steps.close==0 && m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 &&  m._source.steps.receive!=0 && ((m._source.steps.litige!=0 && m._source.steps.solvedlitige!=0) ||m._source.steps.litige==0) "  (tap)="closeDone(m._id, i, m._source.storetitle); "     height="35" backgroundColor='#00BFFF' color="#FFF" text="&#xf00c;" class="fas"></Button>
        					 <ActivityIndicator   *ngIf="m._source.steps.closeloading" color='#00BFFF' rowSpan="2" [busy]="m._source.steps.closeloading"></ActivityIndicator>
        					
        					</StackLayout>
     
     					    <Label textWrap='true' class="ongoingli" *ngIf="m._source.steps.close!=0 "  text='Commande fermée le {{m._source.steps.close}}'></Label>
     				
       
      		    
      		    </StackLayout>
      		   		</GridLayout>
      		    	<StackLayout row="12" (tap)='hide()' >
      		    	<GridLayout  rows="auto,*,auto,auto" margin="5,0,5,0">
      		    	<StackLayout row="0" orientation='horizontal'>
      		    	 <Label  text="&#xf075; Messages " class='msgtitle fas ' width="90%"></Label>
      		    	 <Label text ='&#xf107;' class="msgtitle fas"  (tap)="openMsgs(i,m._id)" (touch)='ontouch3($event)' ></Label>
      		    	 </StackLayout>
      		    	
      		    	<RadListView (tap)="hide()"  row="1" id={{m._id}} margin='0,10,0,10' [items]="m._source.messages "  height="200"   [visibility]="isopen['message'+m._id] ? 'visible' : 'collapsed'" >
						<ng-template let-message="item"  >
						<GridLayout rows="auto"  (tap)='hide()'>
						
						<GridLayout row="0" columns="auto,*" [visibility]="!message.fromMe? 'visible' : 'collapsed'" >
						
						<Image col="0" src='{{avatarlist[message.from]}}' class="pic2"  stretch="aspectFill"  ></Image>
					    
					    <GridLayout col="1" rows='auto,auto'  >
					   		 <StackLayout  row="0" orientation=horizontal>
					   		 	<Label textWrap='true' width="75%" text="{{fullnamelist[message.from]}}" class="fname"></Label>
					   		 	<Label textWrap='true' class="fas" fontSize="10" text="&#xf017; {{message.date}}"></Label>
					   		  </StackLayout>
					  		 <textView margin="0,25,5,25"row="1" text='{{message.text}}' editable="false" class="msgs1"></textView>
						 </GridLayout> 
						</GridLayout>
						
						<GridLayout  row="0" columns="*,auto" [visibility]="message.fromMe? 'visible' : 'collapsed'" >
								<Image col="1" src='{{avatarlist[message.from]}}' class="pic2"  stretch="aspectFill"  ></Image>
					       		 
					       <GridLayout col="0" rows="auto,auto" >
					       
					   		 <StackLayout row="0" orientation=horizontal horizontalAlignment="right"  >
					   		     <Label textWrap='true' width="60%" fontSize="10" class="fas" text="&#xf017; {{message.date}}"></Label>
					   		  
					   		 	 <Label textWrap='true' width="40%"   text="{{fullnamelist[message.from]}}" class="fname"></Label>
					   		  </StackLayout>
					  		 <TextView margin='0,25,5,25'  row ="1" text=' {{message.text}}' class="msgs2" editable="false"></TextView>
						 </GridLayout>
						
						</GridLayout>
						</GridLayout>
						</ng-template>	
						
      		       </RadListView>
      		   		
      		    	 <StackLayout  row="2" orientation="horizontal">
      		    	 <textView [isEnabled]="!loadingM[m._id]"  #view width='80%' class="msg"  returnKeyType="done"  [(ngModel)]="m.message"   ></textView>
      		    	 <Label [isEnabled]="!loadingM[m._id]" (touch)='ontouch3($event)'   text='Envoyer' class="send" (tap)=" sendMessage(i, m._id, m._source.storetitle)"></Label>
      		    	 
      		    	 </StackLayout>
      		    	 <StackLayout row="2" horizontalAlligment="left">
      		    	       		  <ActivityIndicator  color='#FFA500' rowSpan="2" [busy]="loadingM[m._id]" ></ActivityIndicator>
      		    	  </StackLayout>
      		    	<textView row='3' editable ='false' class="alert" text='taper votre message !' *ngIf='alertM["message"+m._id]'></textView>
      		    	</GridLayout>
      		    	 
      		    	 
      		    	</StackLayout>
      		    	
      		    </GridLayout>
      		     <StackLayout  margin="10,0,10,0"  colSpan="0" backgroundColor="#D0D0D0" height="6"></StackLayout>
      		    </StackLayout>
      		    
     	  </ng-template>	

</RadListView>  


    <StackLayout  row="5"   >
      <ActivityIndicator  *ngIf="loading" color='#FFA500' rowSpan="2" [busy]="loading"></ActivityIndicator>
    </StackLayout>
</GridLayout>
</ScrollView>
