<StackLayout>
  <Label text="ongoing works" textWrap="true"></Label>
  <Label text="This is a migrated component" textWrap="true"></Label>
  <Label text="Update it to provide the UI elements required in your mobile app" textWrap="true"></Label>
</StackLayout>

<!--
Original Web template:

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
<div class="scroll2">

<div  i18n-class class='container text-left '>
<div [hidden]= "loading" >
<!-- 
<div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: false}"   ></div>
->
<div i18n='@@noongoing' *ngIf="!ongoing" class="alert alert-warning ">Pas de transaction en cours
</div>

<div *ngIf='ongoing' >
<ul  class="list-group" >
<li class="list-group-item"   > <b> {{totalcommand}} </b ><i i18n="@@totalcommand"> commande en cours</i> </li>

 <li  borderless  style="border-bottom:14px  #F5F5F7 solid;   " class="list-group-item" *ngFor = "let m of model |paginate: { id: 'server', itemsPerPage: size, currentPage: page, totalItems: totalcommand } ; let i = index  " [attr.data-index]="i" >
 <div class='row'  >
 <div class="col-12 col-sm-12 col-md-12">
 <span><i i18n="@@commandeid">Commande id:</i><a  class='btn btn-link text-info'   (click)="gotoPurchase(m._id)"> <b>{{ m._id }}</b></a>
 </span>
 <span  i18n-style style="float:right" ><i i18n="@@total"> Montant total</i>  <b >{{ m._source.totalprice}} <i i18n='@@da2'>DA</i></b></span>
 </div>
 </div>
 <div class="row">
  <span  style='float:left' ><i i18n="@@magasin2"> Magasin:</i>  <a class='btn btn-link text-info'    (click) ='gotoStore(m._source.storetitle)' ><b> {{m._source.storetitle }} </b> </a></span> 
 
 </div>
 <div class="row">
 <ul class="list-group col_md-6 col-sm-6 col-12">
  <li class="list-group-item" *ngFor = "let a of m._source.articles " >
  	  	<div class='row'>
  	  	<div class=" col-md-5 col-sm-5 col-5">  <img [src]="a.pic" class="img-responsive crop"  alt="Image"></div>
  	 	<div class=' col-md-4 col-sm-4 col-4'>	
  	 		<a class="btn" (click)="gotoArticle(a.articleid, m._source.storetitle)"><b>{{a.title}}</b></a> <br>
  	 		
 	          <i i18n="@@couleur">Couleur</i>
      		 <span style ="width:25px; height:20px; margin-top:1px; display:inline-block;" [style.background]='a.color'> </span>
   			 <br>
      		 <span><i i18n="@@quantite">Quantité </i>  {{a.quantity}} </span>
   			
   		</div>
   		</div> 
   		<div class="row" i18n-style style='float:right; margin-right:5px;'> <span >{{a.price}} <i i18n="@@da2">DA </i> </span></div>
 		  
 </li>
 <li class='list-group-item'>
 <span ><i i18n="@@livraison2">Livraison:</i>  <span class=" text-info" >{{m._source.delivery.title }} </span></span>
 <span i18n-style style='float:right;'> {{m._source.delivery.price }} <i i18n="@@da2">DA</i></span>
 </li>
  <li class='list-group-item'>
  <span i18n="@@addresse">Addresse: </span>
       	<table class="table table-sm table-responsive add" i18n-style style='float:right;' >     
    <thead>
  </thead>
   <tbody>
	 <tr >
  		<td scope="col" i18n="@@mmme"> à M.Mme </td>
  		<td>
  		     
    
     		 {{m._source.choosenAddress.to}}
     		
     		   
  		</td>
  	</tr>
  	<tr scope="col" >
  	    <td i18n="@@telephone"> Téléphone </td>
  		<td>

     		 {{m._source.choosenAddress.phone}}
     
     		     
  		</td>
  		
  	 </tr>
  	<tr > 
  	    <td scope="col" i18n='@@ville' >Ville </td>
  		<td>
     		 {{m._source.choosenAddress.city }}
     		 
     		   
  		</td> 
  		
  	</tr>
  	<tr> 
  	    <td  scope="col" i18n="@@commune">Commune </td>
  		<td>
  		   
     		 {{m._source.choosenAddress.commune }}
     		
     		   
  		</td> 
  		
  	</tr> 
  	<tr> 
  	   <td  scope="col" i18n="@@codepostal">Codepostal  </td>
  		<td>
  		    
           
         
     		 {{m._source.choosenAddress.zipcode}}
     	
  		</td> 
  	</tr>
  	<tr  > 
  		<td scope="col" i18n="@@addresse">Addresse </td>
  		<td>
  		    
            
     		 {{m._source.choosenAddress.address}}
     		
  		</td> 
    </tr>
   
  </tbody>

</table>
</li>
 
 </ul>
 
  <ul id="command{{m._id}}"  class="list-group col-md-6 col-sm-6  col-12">
  <li class='list-group-item'> 
  <span > <i i18n="@@commandefaite">Commande faite le:</i>  <span dir="ltr">{{m._source.startdate}}</span></span>
  </li>
  <li  class='list-group-item'>
  <form-wizard  class='wizard' >
	  <wizard-step [title]="'1'" [isActive]='true' [isValid]="m._source.steps.prepare!=0" [showNext]="false"[showPrev]='false' >
 	    <ul class="ongoingul" >
 	  	 <li class="ongoingli" *ngIf='m._source.steps.prepare==0' i18n="@@waitprepare">La commande est en cours de préparation
 	  	 </li>
 	  	  <li class="ongoingli" *ngIf='( m._source.steps.prepare==0 && m._source.steps.stop ==0)' > <i i18n="@@annulercommande" >Annuler la commande </i>
 	  	  		 <button [disabled]="m._source.steps.stoploading" class="btn btn-danger" (click)="modal2.show(); stopSend(m._id, i, m._source.storetitle );  " > <i class="fa fa-close"></i>
                  <i *ngIf="m._source.steps.stoploading"  class="fa fa-spinner fa-spin" aria-hidden="true"></i>
			    </button>
 	  	 </li>
 	  	
 	  	 <li class="ongoingli" *ngIf='m._source.steps.prepare!=0'> <i i18n="@@commandepreparee" > Commande préparée le </i> <span dir='ltr'>{{m._source.steps.prepare}}</span></li>   
    	</ul>
     </wizard-step>
       <wizard-step [title]="'1.5'" [isActive]='true'  [hidden]="m._source.steps.stop==0"  [isValid]="m._source.steps.stop!=0" [showNext]="false"[showPrev]='false' >
 	    <ul class="ongoingul" >
 	  	 <li class="ongoingli" *ngIf='m._source.steps.stop!=0' > <i i18n="@@commandeannulee" >Commande annulée le </i><span dir='ltr'>{{m._source.steps.stop}}</span> </li>
 	  
    	</ul>
     </wizard-step>
     
 	 <wizard-step [title]="'2'"  [hidden]="!m._source.steps.stop==0"  [isActive]='m._source.steps.prepare!=0' [isValid]="m._source.steps.send!=0" [showNext]='false' [showPrev]='false'>
	     <ul class="ongoingul" >
	   	 <li class="ongoingli" *ngIf="m._source.steps.send==0" i18n="@@attenteenvoie">Attente de l'envoie </li>
	   
	     <li class="ongoingli" *ngIf="m._source.steps.send!=0" ><i i18n="@@commandeenvoyee" >Commande envoyée le </i> <span dir='ltr'> {{m._source.steps.send}} </span></li>
 		</ul>
 	 </wizard-step>
 	
	 <wizard-step [title]="'3'"  [hidden]="!m._source.steps.stop==0" [isActive]='m._source.steps.send!=0' [isValid]="m._source.steps.receive!=0" [showNext]='false' [showPrev]='false'>
	 	  <ul class="ongoingul" >
	    <li  class="ongoingli" *ngIf="m._source.steps.receive==0" ><i i18n="@@waitcommanderecu" >Commande reçu </i><button  [disabled]=" m._source.steps.receiveloading" class="btn btn-danger" (click)=" receiveDone(m._id, i,m._source.storetitle)"> <i class="fa fa-check"></i>
           															       <i *ngIf="m._source.steps.receiveloading"  class="fa fa-spinner fa-spin" aria-hidden="true"></i>
	
	    																			</button>
	    </li>
	    <li class="ongoingli"  *ngIf="m._source.steps.receive!=0" ><i i18n="@@commanderecu" >Commande reçu le </i> <span dir='ltr'>  {{m._source.steps.receive}}</span></li>
		</ul>	
	 </wizard-step>
	 
	     <wizard-step [title]="'4.5'" [hidden]="m._source.steps.litige==0 || !m._source.steps.stop==0 " [isActive]='m._source.steps.litige!=0' [isValid]= 'm._source.steps.litigesolved!=0'  [showNext]='false' [showPrev]='false' >
     <ul class="ongoingul" >
        <li class="ongoingli" *ngIf="m._source.steps.litige!=0" >
            <i i18n='@@litigeouvert'>  Litige ouvert le :</i><span dir='ltr'> {{m._source.steps.litige}}</span> 
   		</li>
      
        <li class="ongoingli" *ngIf="m._source.steps.solvedlitige==0">
           
           <p class="lead" i18n="@@contactermagasin"> Veuillez contacter le magasin pour trouver une solution à votre litige</p>
          <i i18n="@@waitlitigeresolu"> Le litige est résolu </i> <button [disabled]="m._source.steps.solvedlitigeloading" class="btn btn-info" (click)=" solvedlitigeDone(m._id, i, m._source.storetitle )" > <i class="fa fa-check"></i>
					                                 <i *ngIf="m._source.steps.solvedlitigeloading"  class="fa fa-spinner fa-spin" aria-hidden="true"></i>
					               
	           						     </button>
        </li>
        
       
         <li class="ongoingli" *ngIf="m._source.steps.solvedlitige !=0"> 
         <i i18n="@@litigeresolu"  >Litige résolu le:</i> <span dir='ltr'>{{m._source.steps.solvedlitige}} </span>
         </li>
         </ul>
        
	  </wizard-step> 
     <wizard-step [title]="'4'"   [hidden]="(!m._source.steps.litige==0 && m._source.steps.solvedlitige==0) || !m._source.steps.stop==0"  [isActive]='m._source.steps.receive!=0' [isValid]="m._source.steps.close!=0"  [showNext]='false' [showPrev]='false' >
  		  <ul class="ongoingul" >
	    <li class="ongoingli"  *ngIf="m._source.steps.close==0 && m._source.steps.litige==0"> <i  i18n="@@openlitige"> Ouvrir un litige</i> <button [disabled]='m._source.steps.litigeloading'class="btn btn-info" (click)=" litigeDone(m._id, i, m._source.storetitle )" > <i class="fa fa-check"></i>
																									   <i *ngIf="m._source.steps.litigeloading"  class="fa fa-spinner fa-spin" aria-hidden="true"></i>
																															
		    																								</button>	
	    </li>
	    <li class="ongoingli"  *ngIf="(m._source.steps.close==0 &&  m._source.steps.litige ==0) ||(m._source.steps.close==0 &&  m._source.steps.solvedlitige !=0)"> <i  i18n="@@waitclosecommande" > Fermer la commande </i> <button [disabled]="m._source.steps.closeloading" class="btn btn-info" (click)="  modal.show();  closeDone(m._id, i, m._source.storetitle); "> <i class="fa fa-check"></i>
	    																																										  <i *ngIf="m._source.steps.closeloading"  class="fa fa-spinner fa-spin" aria-hidden="true"></i>
	    																																											
	    																																											</button>
	    </li>
	    
	    <li class="ongoingli" *ngIf="m._source.steps.close!=0 "  > <i  i18n="@@cloasecommande" >Commande fermée le </i> <span dir ="ltr" >{{m._source.steps.close}}</span></li>
		</ul>
     
     </wizard-step>
 
</form-wizard>
	
  </li>
 </ul>
 </div>
  
  <div id='message{{m._id}}' class="card  row" style ='margin-top :8px ; ' >
        <div class="card-header "[attr.id]="'accordion_' + i" >
                    <span class="fa fa-comment"></span> <i i18n="@@messages">Messages</i>
                    <div i18n-class class="btn-group pull-right">
                        <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" [attr.data-parent]="'#accordion_' + i" [attr.href]="'#collapseOne_' + m._id" >
                            <span class="fa fa-chevron-down"></span>
                        </a>
                    </div>
          </div>
<div #scrollMe [scrollTop]="scrollMe.scrollHeight" [attr.id]="'collapseOne_' + m._id"  class="collapse card-body" [ngClass]="{'collapse.show': isopen['message'+m._id] , 'collapse':!isopen['message'+m._id] }"> 

     
      <div *ngFor="let message of m._source.messages  "  >
	
		 <ul class="chat">
                     <li *ngIf='message.fromMe' i18n-class class="left clearfix"><span i18-class class="chat-img pull-left">
                      	
                      <span class=" profile-picture "> <img class=" resize" alt=" Avatar" id="avatar2" [src]='avatarlist[message.from]' 
                      alt="User Avatar" /></span>
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font"> {{fullnamelist[message.from]}}</strong> <small i18n-class class="pull-right text-muted">
                                        <span class="fa fa-clock-o"></span>{{message.date}}</small>
                                </div>
                                <p>
                                   {{message.text}}
                                </p>
                            </div>
                        </li>
                         <li *ngIf='!message.fromMe' i18n-class class="right clearfix"><span i18n-class class="chat-img pull-right">
                       <span class=" profile-picture ">  <img class=" resize" alt=" Avatar" id="avatar" [src]='avatarlist[message.from]'
                            alt="User Avatar"/> </span>
                        </span>
                        <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="fa fa-clock-o"></span>{{message.date}}</small>
                                    <strong i18n-class class="pull-right primary-font">{{fullnamelist[message.from]}} </strong>
                                </div>
                                <p>
                                  {{message.text}}
                                </p>
                            </div>
                        </li>
          </ul>
	
		 <!--  span class=" profile-picture ">
		 <img class=" resize" alt=" Avatar" id="avatar2" [src]='avatarlist[message.from]' />
		 </span>
		
		 <span class='date'> </span> <br>
		 <textarea class='form-control' rows="3"  readonly  maxlength=200  >
		 
		 </textarea->
		
		
  			
  		
	 </div> 
	 
 
   </div>
      <div class="card-footer">
        
      <form  name='f' (ngSubmit)="f.form.valid  && sendMessage(i, m._id,f, m._source.storetitle)" #f="ngForm" novalidate>

 	 <textarea rows="3" class="input-group" name="message" [(ngModel)]="m.message" #message="ngModel"  required maxlength=200></textarea>
	       <div *ngIf="message.invalid && (message.dirty || message.touched)" class="alert alert-danger">
            <div i18n="@@messagealert" *ngIf="f.submitted && message.hasError('required')" class="help-block"> ecrire un message avant d'envoyer</div>
       	    <div  i18n="@@messagealert2" *ngIf="  message.hasError('maxlength')" class="help-block"> votre text est trop long</div>
      	    </div> 
           <span class="input-group-btn">
	             <button  class="btn btn-warning btn-sm" id="btn-chat" i18n-style style="float:right" i18n="@@envoyer"  >Envoyer</button></span>
     </form>
              
       </div>            
 </div>

 </li>

  
</ul>
<div class="has-text-centered" i18n-style style='float:right; '>
    <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
    <pagination-controls (pageChange)="getPage($event)" id="server" i18n-previousLabel previousLabel="précédent" i18n-nextLabel nextLabel='suivant' ></pagination-controls>
</div>

 </div> 
</div> 
  <app-rating-modal #modal>
    
  </app-rating-modal>
	 

    <app-stop-modal #modal2 (stop)='getStop($event)'>
    
  </app-stop-modal>
  </div>  
  </div>
-->