<ScrollView>
<StackLayout orientation="vertical">
<GridLayout columns='*,auto'>
<Label col="0" margin='10,0,0,5'  >
        <FormattedString>
            <Span text="{{totalcommand}} " color="#FFA500" class="fas"  ></Span>
            <Span text=" Commandes en cours"  ></Span>
        </FormattedString>


 </Label>
 
 <Label col='1' class="link"   [nsRouterLink] ="['done']" text="Historique"> </Label>
 </GridLayout>
 
<StackLayout row="0" margin="5,0,0,0"  colSpan="2" backgroundColor="#D3D3D3" height="3"></StackLayout>


<RadListView  [items]="model" selectionBehavior="LongPress"  loadOnDemandMode="Auto" (loadMoreDataRequested)="onLoadMoreItemsRequested($event)"
         (itemSelected)="onItemSelected($event)" (itemSelecting)="onItemSelecting($event)">
          <ng-template let-m="item" let-i="index"  >
            <StackLayout orientation='vertical'>
				 <GridLayout  margin="0,15,0,15" rows="auto,auto,auto,auto,*,*,auto,*,auto,*,auto,*,*">
				    <StackLayout row="0">
				      <Label  [nsRouterLink]="['purchase',m._id]"  >
				      		  <FormattedString>
            					<Span text="Commande id:  "  ></Span>
         					    <Span text="{{m._id}}" class="fas" color='#00BFFF'       ></Span>
       						</FormattedString>
				      	
				      </Label>
				        <StackLayout  margin="5,0,0,0"  colSpan="2" backgroundColor="#D0D0D0" height="2"></StackLayout>
				       
				      </StackLayout>
				      
				      <StackLayout row="1">
				      <Label   >
				      		  <FormattedString>
            					<Span text="Faite le:  "  ></Span>
         					    <Span text="{{m._source.startdate}}" class="fas" color='#00BFFF'       ></Span>
       						</FormattedString>
				      	      		  
				      </Label>
				        <StackLayout  margin="5,0,0,0"  colSpan="2" backgroundColor="#D0D0D0" height="2"></StackLayout>
				       
				      </StackLayout>
				      
					  
					  <GridLayout    row='2'  columns='*,auto'>
					  		<Label col='0'  text="Montant total:  "  ></Label>
         					<Label col="1"  text="{{ m._source.totalprice}} DA" class="fas" color='#000'  (tap)="gotoPurchase(m._id)"  ></Label>
       					
					  
					  </GridLayout> 
					  
					  <StackLayout row="3" margin="5,0,0,0"  colSpan="2" backgroundColor="#D0D0D0" height="2"></StackLayout>
					  <Label row='4'   >
							 <FormattedString>
            					<Span text="Magasin:  "  ></Span>
         					    <Span text="{{m._source.storetitle }}" class="fas" color='#00BFFF' (tap) ='gotoStore(m._source.storetitle)'  ></Span>
       						</FormattedString>
					  </Label>
					  <RadListView  row="5" [items]="m._source.articles" >
						<ng-template let-a="item"  >
						<StackLayout  orientation="vertical">
							 <GridLayout columns='*,*,auto'>
							    <Image  col="0" [src]="a.pic"	class="pic"  stretch="aspectFill" ></Image>

							    <GridLayout col="1" rows="auto,*" >
							    
							    	
							    	<TextView editable="false" row="0"  class="titlea" text="{{a.title}}"  (tap)="gotoArticle(a.articleid, m._source.storetitle)">
 					    			</TextView>
							    	<GridLayout row="1" rows="*,*,*,*" columns='*,auto'>
							    	<Label row='0' col="0"  text="Couleur: "></Label>
							    	<Label row="0" col="1" width="20" height="20" [backgroundColor]='a.color'></Label>
							        <Label row="1" col="0" text='Taille: '></Label>
							        <Label row='1' col="1" class='size' text='{{a.taille}}' > </Label>
							        <Label row='2' col="0" text="Quantité: "></Label>
							        <Label row='2' col="1" color="#000" text='{{a.quantity}} UNIT'></Label>
							        <Label row='3' col="0" text="Prix: "></Label>
							        <Label row='3' col="1" color="#000"  text='{{a.price}} DA'></Label>
							        </GridLayout>
							    </GridLayout>
							 </GridLayout>
							<StackLayout row="2" margin="5,0,0,0"  colSpan="2" backgroundColor="#D0D0D0" height="1"></StackLayout>
							 
						</StackLayout>
						</ng-template>	
					</RadListView> 
					<GridLayout row="6" columns='*,auto'>
					 <Label col="0" >
					 		 <FormattedString>
            					<Span text="Livraison:  "  ></Span>
         					    <Span text="{{m._source.delivery.title }} " class="fas" color='#00BFFF'   ></Span>
       						</FormattedString>
					 </Label>
					 <Label col="1" text=" {{m._source.delivery.price }} DA" class="fas" color="#000"></Label>
					</GridLayout>
					<StackLayout row="7" margin="5,0,5,0"  colSpan="2" backgroundColor="#D0D0D0" height="1"></StackLayout>
						<Label row="8"   text="Addresse: "></Label>
					<GridLayout padding="2"  row="9" backgroundColor="#D3D3D3"  rows="*,*,*,*,*,*" columns="*,*" >
					
						<Label class='add' row="0" col="0" text="à M.Mme" ></Label> 
  						<Label class='add'row="0" col="1" text="{{m._source.choosenAddress.to}}"></Label>
  		     			<Label class='add'row="1" col="0" text="Téléphone" ></Label> 
  						<Label class='add' row="1" col="1" text="{{m._source.choosenAddress.phone}}"></Label>
  		     			<Label class='add'row="2" col="0" text="Ville" ></Label> 
  						<Label class='add'row="2" col="1" text="{{m._source.choosenAddress.city}}"></Label>
  		   			    <Label class='add'row="3" col="0" text="Commune" ></Label> 
  						<Label class='add'row="3" col="1" text="{{m._source.choosenAddress.commune}}"></Label>
  		   			    <Label class='add'row="4" col="0" text="Codepostal" ></Label> 
  						<Label class='add'row="4" col="1" text="{{m._source.choosenAddress.zipcode}}"></Label>
  		     			<Label class='add'row="5" col="0" text="Addresse" ></Label> 
  						<Label class='add'row="5" col="1" text="{{m._source.choosenAddress.address}}"></Label>
  		     			
					</GridLayout>
      		    	<StackLayout row="10" margin="5,0,5,0"  colSpan="2" backgroundColor="#D0D0D0" height="1"></StackLayout>
      		    	
      		    	<GridLayout row="11" rows='auto,*'>
      		    	   <GridLayout margin='0,0,10,0' row="0" columns="*,auto,auto,auto,auto,auto">
      		    	
      		    	    <Image   col="0" src="res://trolley" class='wizardimg' stretch="aspectFill"></Image>
      		    	    <Label    col='0'  class='wizardActive'></Label>
      		    	   
      		    	
      		  		  	<Image  [visibility]="m._source.steps.stop!=0 ? 'visible' : 'collapsed'"  col="1" src="res://close" class='wizardimg' stretch="aspectFill"></Image>
      		    	    <Label  [visibility]="m._source.steps.stop!=0 ? 'visible' : 'collapsed'"  col='1'  class='wizardActive'></Label>
      		    	   
      		    	
      		  		  	<Image  [visibility]="m._source.steps.stop==0  ? 'visible' : 'collapsed'"   col="2" src="res://delivery" class='wizardimg' stretch="aspectFill"></Image>
      		  		  	<Label  [visibility]="m._source.steps.stop==0  && m._source.steps.send==0  ? 'visible' : 'collapsed'"  col='2'  class='wizard'></Label>
      		    	    <Label  [visibility]="m._source.steps.stop==0  && m._source.steps.send!=0  ? 'visible' : 'collapsed'"  col='2'  class='wizardActive'></Label>
      		    	   
      		  		  	
      		  		  	
      		    	
      		 		   	<Image  [visibility]="m._source.steps.stop==0  ? 'visible' : 'collapsed'" col="3" src="res://closebox" class='wizardimg' stretch="aspectFill"></Image>
        			    <Label  [visibility]="m._source.steps.stop==0  && m._source.steps.receive==0  ? 'visible' : 'collapsed'"  col='3'  class='wizard'></Label>
      		    	    <Label  [visibility]="m._source.steps.stop==0  && m._source.steps.receive!=0  ? 'visible' : 'collapsed'"  col='3'  class='wizardActive'></Label>
      		    	   
      		  		  	
      		    	
      		  		  	<Image  [visibility]="m._source.steps.stop==0 &&  m._source.steps.litige !=0 ? 'visible' : 'collapsed'" col="4" src="res://litige" class='wizardimg' stretch="aspectFill"></Image>
       		 		  	<Label  [visibility]="m._source.steps.stop==0  && m._source.steps.litige !=0 ? 'visible' : 'collapsed'" col='4'  class='wizardActive'></Label>
       		 		  	
 
      		 	        <Image  [visibility]="m._source.steps.stop==0  ? 'visible' : 'collapsed'" col="5" src="res://checked" class='wizardimg' stretch="aspectFill"></Image>
       		 	        <Label  [visibility]="m._source.steps.close==0 ? 'visible' : 'collapsed'" col='5'  class='wizard'></Label>
       		 		  	<Label  [visibility]="m._source.steps.close!=0 ? 'visible' : 'collapsed'" col='5'  class='wizardActive'></Label>
      		    	
      		    		</GridLayout>
      		    		<StackLayout row="1">
      		    			
 	  	 					<Label class="ongoingli"  *ngIf='m._source.steps.stop==0 && m._source.steps.prepare==0 '  text='En cours de préparation'></Label>
 	  	 				    
 	  	 				    <StackLayout orientation="horizontal">
 	  	 				    <Label class="ongoingli"    *ngIf='( m._source.steps.prepare==0 && m._source.steps.stop ==0)' text='Annuler la commande'></Label>
 	  	  				    <Button  *ngIf='( m._source.steps.prepare==0 && m._source.steps.stop ==0)' (tap)="showModal(m._id, i, m._source.storetitle ); " height="35" backgroundColor='#d9534f' color="#FFF" text="&#xf00d;" class="fas">  </Button>
 	  	 					</StackLayout>
 	  	 					
 	  	 					<Label class="ongoingli"   *ngIf='m._source.steps.prepare!=0' text='Commande préparée le: {{m._source.steps.prepare}}'></Label>
 	  	
 	  			
 	  	 			     	<Label  class="ongoingli"  *ngIf='m._source.steps.stop!=0' text='Commande annulée le: {{m._source.steps.stop}}'></Label>
 	  					
 	  						<Label  class="ongoingli"  *ngIf="m._source.steps.send==0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 "  text="Attente de l'envoie" ></Label>
	   
	     					<Label  class="ongoingli"  *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 " text='Commande envoyée le{{m._source.steps.send}}'> </Label>
					 	    
					 	     <StackLayout orientation="horizontal">   
					 	     <Label  class="ongoingli" *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 && m._source.steps.receive==0" text="Commande reçu"></Label>
					 	     <Button   *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0  && m._source.steps.receive==0"  (tap)=" receiveDone(m._id, i,m._source.storetitle)"  height="35" backgroundColor='#00BFFF' color="#FFF" text="&#xf00c;" class="fas"></Button>
					 	     </StackLayout>
					 	    
					 	    <Label  class="ongoingli" *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 &&  m._source.steps.receive!=0" text="Commande reçu le: {{m._source.steps.receive}}"></Label>
					 	    <StackLayout orientation='horizontal'>
					 	    <Label  class="ongoingli" *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 &&  m._source.steps.receive!=0 &&m._source.steps.litige==0 && m._source.steps.close==0" text="Ouvrir un litige"></Label>
					 	    <Button  *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 &&  m._source.steps.receive!=0 &&m._source.steps.litige==0 && m._source.steps.close==0" text="" (tap)="litigeDone(m._id, i, m._source.storetitle )"   height="35" backgroundColor='#00BFFF' color="#FFF" text="&#xf00c;" class="fas"></Button>
					 	    
					 	    </StackLayout>
					 	    <Label  class="ongoingli"   *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 &&  m._source.steps.receive!=0 &&m._source.steps.litige!=0 "  text="Litige ouvert le: {{m._source.steps.litige}}"></Label> 
					 	    
	 						<Label  class="ongoingli"   *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 &&  m._source.steps.receive!=0 &&m._source.steps.litige!=0 && m._source.steps.solvedlitige==0 " text="Veuillez contacter le magasin pour trouver une solution à votre litige" ></Label>
	 						<StackLayout orientation='horizontal'>
	 						<Label  class="ongoingli"   *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 &&  m._source.steps.receive!=0 &&m._source.steps.litige!=0 && m._source.steps.solvedlitige==0 " text="Litige résolu" ></Label>
	 						 <Button *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 &&  m._source.steps.receive!=0 &&m._source.steps.litige!=0 && m._source.steps.solvedlitige==0 "  (tap)=" solvedlitigeDone(m._id, i, m._source.storetitle )"   height="35" backgroundColor='#00BFFF' color="#FFF" text="&#xf00c;" class="fas"></Button>
	 					    </StackLayout>
  
  						 	<Label  class="ongoingli"   *ngIf="m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 &&  m._source.steps.receive!=0 &&m._source.steps.litige!=0 && m._source.steps.solvedlitige!=0 " text='Litige résolu le: {{m._source.steps.solvedlitige}}'></Label>
  						 
          					<StackLayout orientation='horizontal'>
          			  	   <Label  class="ongoingli"   *ngIf="m._source.steps.close==0 && m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 &&  m._source.steps.receive!=0 && ((m._source.steps.litige!=0 && m._source.steps.solvedlitige!=0) ||m._source.steps.litige==0)  " text="Fermer la commande"></Label>
        					<Button *ngIf="m._source.steps.close==0 && m._source.steps.send!=0 && m._source.steps.prepare!=0 && m._source.steps.stop==0 &&  m._source.steps.receive!=0 && ((m._source.steps.litige!=0 && m._source.steps.solvedlitige!=0) ||m._source.steps.litige==0) "  (tap)="closeDone(m._id, i, m._source.storetitle); "     height="35" backgroundColor='#00BFFF' color="#FFF" text="&#xf00c;" class="fas"></Button>
        					</StackLayout>
     
     					    <Label  class="ongoingli" *ngIf="m._source.steps.close!=0 "  text='Commande fermée le {{m._source.steps.close}}'></Label>
     				
       
      		    
      		    </StackLayout>
      		   		</GridLayout>
      		    	<StackLayout row="12">
      		    	<GridLayout  rows="auto,*,auto,auto" margin="5,0,5,0">
      		    	<StackLayout row="0" orientation='horizontal'>
      		    	 <Label  text="&#xf075; Messages " class='msgtitle fas ' width="90%"></Label>
      		    	 <Label text ='&#xf107;' class="msgtitle fas"  (tap)="openMsgs(m._id)" ></Label>
      		    	 </StackLayout>
      		    	
      		    	<RadListView #msgs  row="1" margin='0,5,0,5' [items]="m._source.messages "  height="200"   [visibility]="isopen['message'+m._id] ? 'visible' : 'collapsed'" >
						<ng-template let-message="item"  >
						<StackLayout>
						
						<GridLayout columns="auto,*" [visibility]="!message.fromMe? 'visible' : 'collapsed'" >
						
						<Image col="0" [src]='avatarlist[message.from]' class="pic2"  stretch="aspectFill"  ></Image>
					    <GridLayout col="1" rows='auto,auto'  >
					   		 <StackLayout  row="0" orientation=horizontal>
					   		 	<Label width="75%" text="{{fullnamelist[message.from]}}" class="fname"></Label>
					   		 	<Label class="fas" fontSize="10" text="&#xf017; {{message.date}}"></Label>
					   		  </StackLayout>
					  		 <textView row="1" text='{{message.text}}' editable="false" class="msgs1"></textView>
						 </GridLayout> 
						</GridLayout>
						
						<GridLayout  columns="*,auto" [visibility]="message.fromMe? 'visible' : 'collapsed'" >
								<Image col="1" [src]='avatarlist[message.from]' class="pic2"  stretch="aspectFill"  ></Image>
					       <GridLayout col="0" rows="auto,auto" >
					   		 <StackLayout row="0" orientation=horizontal horizontalAlignment="right"  >
					   		     <Label width="60%" fontSize="10" class="fas" text="&#xf017; {{message.date}}"></Label>
					   		  
					   		 	 <Label width="40%"   text="{{fullnamelist[message.from]}}" class="fname"></Label>
					   		  </StackLayout>
					  		 <TextView  row ="1" text=' {{message.text}}' class="msgs2" editable="false"></TextView>
						 </GridLayout>
						
						</GridLayout>
						</StackLayout>
						</ng-template>	
      		       </RadListView>
      		    
      		    	 <StackLayout  row="2" orientation="horizontal">
      		    	 <textView  width='80%' class="msg"  returnKeyType="done"  [(ngModel)]="m.message"   ></textView>
      		    	 <Label  text='Envoyer' class="send" returnKeyType="done" (tap)=" sendMessage(i, m._id, m._source.storetitle)"></Label>
      		    	 </StackLayout>
      		    	<textView row='3' class="alert" text='taper votre message !' *ngIf='alertM["message"+m._id]'></textView>
      		    	</GridLayout>
      		    	 
      		    	 
      		    	</StackLayout>
      		    	
      		    </GridLayout>
      		     <StackLayout  margin="10,0,10,0"  colSpan="0" backgroundColor="#D0D0D0" height="6"></StackLayout>
      		    </StackLayout>
      		    
     	  </ng-template>	
     	  <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1"></ListViewStaggeredLayout>

</RadListView>  
</StackLayout>
</ScrollView>
