
.scroll{
	max-height:500px; 
   overflow-y:  scroll ; 
 right:0;
    


 
   
}




.scrollAr{
	max-height:500px; 
   overflow-y:  scroll ; 
   left:0; 
    

 
   
}


.navbar {
  background-color: #d9534f;
  z-index: 1001;
  margin-right: auto !important ; 
}
.navbar .navbar-brand {
  color: #f9f9f9;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #000000;
}
.navbar .navbar-text {
  color: #f9f9f9;
}
.navbar .navbar-text a {
  color: #000000;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #000000; 
}
.navbar .navbar-nav .nav-link {
  color: #f9f9f9;
  border-radius: .25rem;
 
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #000000;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #d9534f;
  border-color: #ffffff;margin-right: auto !important
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #f9f9f9;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #000000;
  background-color: #ffffff;
}

.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #ffffff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar .navbar-toggle {
  border-color: #ffffff;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #f9f9f9;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #f9f9f9;
}
.navbar .navbar-link {
  color: #f9f9f9;
}
.navbar .navbar-link:hover {
  color: #000000;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f9f9f9;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #000000;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #000000;
    background-color: #ffffff;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f9f9f9;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #000000;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #000000;
    background-color: #ffffff;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f9f9f9;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #000000;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #000000;
    background-color: #ffffff;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f9f9f9;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #000000;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #000000;
    background-color: #ffffff;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #f9f9f9;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #000000;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #000000;
  background-color: #ffffff;
}

#navbar {z-index:999999999;
 
   white-space: nowrap;
}
 .navbar {
  min-height: 30px;
}
.navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 2.5px;
    padding-bottom: 2.5px;
  
  }
  .icon-bar{
  text-color:#fff; 
  color:#fff; 
  }