
.Btn {
    background-color: transparent;
  
}
/*
.animate-fadeInUp-delay-0ms {
    opacity: 0;
    animation-name: fadeInUp;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 0ms;
}

.fa {
    font-family: FontAwesome, fontawesome-webfont;
}
*/
.btn {
    font-size: 16;
}

/* ActionBar */

.header {
    background: #d9534f;
}

.icon-menu {
    color: #d9534f  ;
   horizontal-align: left;
   
    font-size: 18;
   padding-top:5; 
}
.search{
	font-size : 16; 
}
/*
.searchField {
    border-bottom-width: 1
    border-bottom-color: #ffffff;
    text-decoration: none;
    placeholder-color: #ffffff;
   padding-bottom: 0px ; 
    color: #ffffff;
}
*/
/* SideDrawer */

.side-drawer {
    background-color: #ffffff;
}

.icon-item-menu {
    color: #000000;
    text-align: center;
    width: 100%;
    font-size: 24;
}

.menu {
    height: 15%;
}

.item-menu {
    /*padding: 8 0;*/
}

/* Bottom Navigation */

.icon-footer {
    font-size: 18;
    color: #00BFFF ;
}

.icon-footer-active {
    font-size: 18;
    color: #FFA500;
}

.footer {
   background-color: #ffffff;
   margin-bottom :10px; 
   
}

.text-item-menu {
    padding-bottom: 1;
    font-size: 18;
    color: #000000;
}

.globe {
    background-color: red;
    width: 20;
    height: 20;
    border-radius:12; 
    text-align: center;
    color: #ffffff;
    font-size: 12;
    margin-bottom:20;
    margin-right: 30;
    padding-top: 2;
}


.globe1 {
    background-color:  #FFA500;
    width: 20;
    height: 20;
    border-radius:12; 
    text-align: center;
    color: #ffffff;
    font-size: 12;
    margin-bottom:20;
    margin-right: 30;
    padding-top: 2;
}

#globeItemNavigation {
    z-index: 1;
}

#notifications {
    z-index: 0;
}
#globeItemNavigation1 {
    z-index: 1;
}
#list-messages{
	z-index:1; 
}

#notif{
	z-index:99999; 
}


/* Add mobile styles for the component here.  */
ActionBar {
    background-color: #ffff; 
    color:  #d9534f  ; 
}
.home-panel{
    vertical-align: center; 
    font-size: 20;
    margin: 15;
}

.description-label{
    margin-bottom: 15;
}
.input {
  font-size: 16;
  placeholder-color: rgb(217,83,79) ;
 margin-left : 10px ; 
 color:  #d9534f ;
 font-color  :  #d9534f ; 
 /*background-color:  transparent;*/

} 

.far {
    font-family: "Font Awesome 5 Free", "fa-regular-400";
}

.fab {
    font-family: Font Awesome 5 Brands, fa-brands-400;
    font-weight: 400; 
}

.fas {
    font-family: Font Awesome 5 Free, fa-solid-900;
    font-weight: 900; 
}
.fass {
    font-family: Font Awesome 5 Free, fa-solid-900;
    font-weight: 300; 
}
.bell{ 
	 
	background-color:#FFFFFF;
	color : 	#00BFFF  ; 
  
}
.bellActive{ 
	 
	background-color:#FFFFFF;
	color : #FFA500  ; 
	font-size:18 ; 
  
}

.search{
	color:#FFA500 ; 
    background-color: transparent;
   border-radius:25;  
   width:40; 
   height:40;
}

.item-drop-down{
    font-size: 11;
 	color:#d9534f; 
 
 	width:auto;
}
.dropdownLabel {
	   horizontal-alignment: right;
	   color :#fff ;
	      font-size: 10;
	
	
} 