
.profile-picture {
    border: 2px solid #CCC;
    background-color: #FFF;
   /* padding: 4px;*/
    display: inline-block;
    height :70px;
    width : 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .15); 
   /*    overflow: hidden;*/
       	 position: relative;
       	 margin-top :5px ; 
       	 margin-left : 10px ; 
       	 margin-right : 10px ; 
       	 margin-bottom : 20px;  
       	
       	 
}
img.resize {
 /*margin-bottom: 0;*/
/* min-width:200px; min-height:220px;
 max-width : 200px; max-height : 220px;*/
   object-fit: cover;
  height:68px;
  width :58px; 
  background-color:#eeeeee; 
  
}
.contact_sec p
{
    margin-left:100px;
    margin-top:0px;
    padding:5px;
    margin-bottom:0px ;   
    color: #777777;
    background: #fbf9fa none repeat scroll 0 0;
    border:1px  #D3D3D3 solid  ;
    overflow-x :hidden; 
}
.contact_sec h6
{
    margin-left:50px;
    margin-top:0px;
    padding:0px;
    margin-bottom:0px ;
       color: #777777;   

} 



li:hover {
  background: #868e96 none repeat scroll 0 0;
  /*color: #ffffff;*/
  cursor:pointer;
}

.scroll2{
	height: 90vh;
   overflow-y:  scroll ; 
   background-color : #F5F5F7 ;

}  
