<ScrollLayout >		
<GridLayout rows='auto,auto,auto'>   

<Label class="alert" *ngIf='!listmessage && !loading' text="Pas de messages privés"> </Label>

<RadListView row="1"  class="list-group" [items]="model" 
  				selectionBehavior="LongPress" (itemSelected)="onItemSelected($event)" (itemSelecting)="onItemSelecting($event)" 
				loadOnDemandMode="Auto" (loadMoreDataRequested)="onLoadMoreItemsRequested($event)"
				
				>
    <ng-template let-m="item"  >
      
    	<GridLayout (touch)="ontouch2($event)" columns="auto,*" rows="*, auto"   (tap)= "goToMessage(me,  m.to, m.tofullname, m._source.last.avatar, m._source.unread)" > 
    

    	<Image backgroundColor='rgba(0,0,0, 0.3)'  col="0" class="site-template-image thumb-with-background" stretch="aspectFill" [src]="m && m._source.last.avatar ? m._source.last.avatar : null"></Image>
    																
       	<GridLayout col="1" rows="*, auto, auto" columns=" *,auto">

		
					<Label col='0' class="site-template-title" [text]="m.tofullname"></Label>
				    <Label margin="2,0,0,3" col="1" class="site-template-description globe" [text]="m._source.unread"></Label>	
					<Label col="0" row="1" class="site-template-description" [text]="m._source.last.userfullname  "></Label>
					<Label col="0" row="2" class="site-template-description" [text]="m._source.last.text  "></Label>
		</GridLayout>
		<StackLayout margin="0,16,0,42" row="2" colSpan="2" backgroundColor="lightGray" height="1"></StackLayout>
			 
		</GridLayout>
		
     </ng-template>
</RadListView>
      <ActivityIndicator row="2" *ngIf="loading" color='#FFA500' rowSpan="2" [busy]="loading"></ActivityIndicator>

</GridLayout>
</ScrollLayout>      