<ScrollLayout >		
<GridLayout rows='auto,auto,auto' (tap)="hide()">   


 <Label  (tap)="reloading()"  (touch)="ontouch($event)"  row='0'  *ngIf='!loading && reload' class="reload">
        <FormattedString>
            <Span text="Problème de connexion... "></Span>
            <Span text="réessayer"  color="#FFA500" class="bold" ></Span>
        </FormattedString>
  </Label>

<Label class="alert" *ngIf='!listmessage && !loading && !reload' text="Pas de messages privés"> </Label>

<RadListView row="1"  class="list-group" [items]="model" 
				loadOnDemandMode="Auto" (loadMoreDataRequested)="onLoadMoreItemsRequested($event)"
				
				>
    <ng-template let-m="item"  >
      
    	<GridLayout (touch)="ontouch2($event)" columns="auto,*" rows="*, auto"   (tap)= "goToMessage(me,  m.to, m.tofullname, m._source.last.avatar, m._source.unread)" > 
    

    	<Image loadMode="async"  backgroundColor='#eeeeee'  col="0" class="site-template-image" stretch="aspectFill" src="{{m._source.last.avatar}} "></Image>
    																
       	<GridLayout col="1" rows="*, auto, auto" columns=" *,auto">

		
					<Label col='0' class="site-template-title" [text]="m.tofullname"></Label>
				    <Label margin="2,0,0,3" col="1" class="site-template-description globe" [text]="m._source.unread"></Label>	
					<Label col="0" row="1" class="site-template-description" [text]="m._source.last.userfullname  "></Label>
					<Label col="0" row="2" class="site-template-description" [text]="m._source.last.text  "></Label>
		</GridLayout>
		<StackLayout margin="0,16,0,42" row="2" colSpan="2" backgroundColor="lightGray" height="1"></StackLayout>
			 
		</GridLayout>
		
     </ng-template>
     
     <ListViewLinearLayout tkListViewLayout scrollDirection="Vertical" spanCount="1"></ListViewLinearLayout>
     
</RadListView>
      <ActivityIndicator row="2" color='#FFA500' rowSpan="2" [busy]="loading"></ActivityIndicator>

</GridLayout>
</ScrollLayout>      