.site-template-image {
    border-radius: 100;
    margin: 8 16;
    width: 60;
    height: 60;
}

.site-template-title {
    margin: 0 0 6 0;
    font-size: 18;
}

.site-template-description {
    font-size: 11;
}
.image-with-background {
    background-image: url("~/assets/img_back.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: contain;
    margin-top: -25;
}

.thumb-with-background {
    background-image: url("~/assets/img_back.png") top;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.action-item-right {
    color: white;
    padding: 12;
    margin: 0 16;
    font-size: 18;
    vertical-align: center;
}

.action-item-left {
    color: white;
    margin: 0 12;
    padding: 12;
    font-size: 18;
    vertical-align: center;
}

.site-main-content {
    margin: 12 24;
}

.tilted-line {
    height: 10;
    width: 15;
    rotate: 120;
    margin: 0 2;
    background-color: #ffffff;
}

.line {
    height: 1px;
    background-color: #666666;
    margin-top: 8;
    margin-bottom: 8;
}

.inventory-icon {
    margin: 10 10 10 0;
}

.inventory-layout .ok {
    opacity: 1;
    font-size: 12;
    vertical-align: center;
}

.inventory-layout .not-present {
    opacity: 0.5;
    font-size: 12;
    vertical-align: center;
}

.inventory-presence {
    margin: 10 0;
}