.main{
	min-width:400px ; 
	}
.crop {
  
/*clip: rect(0px,50px,100px,50px);*/

    width: 90px;
    height: 120px;
    overflow: hidden;
    	 position: relative;
    	 display:inline-block;margin-right:10px;
    	    object-fit: cover;  
    	    object-position: 100% 0;
    	    background-color:#eeeeee;
}

.labl {
    display : block;
  
}
.labl > input{ /* HIDE RADIO */
  	 
 	visibility: hidden; /* Makes input not-clickable */
 	position: absolute; /* Remove input from document flow */
}
.labl > input + div{ /* DIV STYLES */
    cursor:pointer;
    border:1px solid ;
    margin-right:5px;
   display: inline-block;
}
.labl > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */

    border: 1px solid #ff6600;
}
.add{
	margin-left:12px ;
	padding:5px; 
	border:1px solid #D0D0D0;
	cursor :pointer ; 
}
  
.scroll2{
	height: 94vh;
   overflow-y:  scroll ; 
   background-color : #F5F5F7 ;

}