<ScrollView>
<GridLayout rows="auto,auto">		
   <Label  row="0" *ngIf="empty" class="alert"  text="Aucun article sélectionné"></Label>
   
<RadListView row ="1" class="list-group" [items]="model | keyvalue ">
    <ng-template let-k="item"  >
    
        <GridLayout class="list-group-item" rows="*, *,auto"  >
         
         <Label row="0" [text]="k.key" class="list-group-item-heading title" ></Label>
            
          <RadListView row ="1" class="list-group" [items]="k.value" ><!-- [itemTemplateSelector]="templateSelector" (itemTap)="onItemTap($event)" -->
    		<ng-template let-m="item" let-i='index'><!--  tkListItemTemplate  -->
    		<GridLayout rows="*,auto,auto,auto,auto,auto">
  		      <GridLayout row="0"  rows="auto,auto, auto" columns="*,*">
          			 <GridLayout row="0" col="0">
          			 	 <Image [src]="m.pic"	class="pic"  stretch="aspectFill" ></Image>
          			 </GridLayout>
   			         <GridLayout  row="0" col="1" rows="25,auto,*,auto,*" >
   			         	
   			         	<GridLayout  row="0"  columns="40, 58,20,20">
   			 	         	 <Button col="3" text="&#xf064;" class=" fass button2 " (tap)="gotoArticle(m._id, k.key )"></Button>
   			 	      		 <Button col="2" text="&#xf00d;" class="fass  button3 "(tap)="deleteArticle(k.key, m)"></Button>
   			 	       </GridLayout>  
   			 	     
   			         
   			         <TextView editable="false" row="1"  class="titlea"text="{{m._source.title}}">
					</TextView>
   			 	        <!-- Label row="0" col="0" [text]="m._source.title" class=" titlea " ></Label>
             	  	      -->
             	  	      
             	  	    <Label row="2"  text="{{m._source.price}} D.A" class=" fass titlea " ></Label>

            		 	 <Label margin="8,0,0,0" row="3"  text="+details" (tap)="m.details=!m.details"   class="button0 "  ></Label>
            		 
            		   	
				</GridLayout>
     
       </GridLayout>
     
             
             <GridLayout row="1" rows="*,*,*,*,*,*"  [visibility]="m.details ? 'visible' : 'collapsed'" >
            				  <GridLayout  margin="10,15,0,15" row="0"  columns="100,auto"  [visibility]="m._source.color.length !=0 ? 'visible' : 'collapsed'"  >
   								<Label  class="titlea " col="0"  text="Couleur"></Label>
  
  								<RadListView     col="1"  [items]="m._source.color" >
      							 <ng-template let-a="item" >
      						 	<GridLayout>	
      					 		<Label *ngIf='m.choosecolor==a'  margin='0,0,5,0'  [backgroundColor]="a"  class="colorActive"  (tap)="getColor(a, k.key, m)"   ></Label>
      						    <Label *ngIf='m.choosecolor!=a'  margin='0,0,5,0'  [backgroundColor]="a"  class="color"  (tap)="getColor(a,k.key,m)"   ></Label>
      							</GridLayout>
      							</ng-template>
      					     		<ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="4"></ListViewStaggeredLayout>
      		
    							</RadListView>
  						 </GridLayout>     				  
  						 <GridLayout  margin="10,15,0,15" row="1"  columns="100,auto" [visibility]="m.boolsize? 'visible' : 'collapsed'"  >
  
					  	<Label  class="titlea "  col="0" text="Taille"></Label>
 				 		<RadListView    col="1"  [items]="m.size" >
      		 				<ng-template let-a="item" >
      		 					<GridLayout>
      		 					<Label *ngIf=' !m._source.sizing[m.choosecolor].includes(a)' margin='0,0,5,0' text='{{a}}' class="sizeDisable"></Label>
	      		 				<Label *ngIf='a==m.choosesize ' margin='0,0,5,0' text='{{a}}' class="sizeActive" (tap)="chooseSizing( e,a,k.key,m )" ></Label>
      			 				<Label *ngIf=' a!=m.choosesize && m._source.sizing[m.choosecolor].includes(a)'  margin='0,0,5,0' text='{{a}}' class="size" (tap)="chooseSizing(e, a,k.key,m)" ></Label>
      							</GridLayout>
      						</ng-template>
      							<ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="6"></ListViewStaggeredLayout>
      						 </RadListView>
 						 </GridLayout>
  
            		         <GridLayout margin="10,15,0,15" row="2"  columns="100,auto, auto " >
   
  							<Label class="titlea "  col="0"  margin="10,0,0,0" text="Quantité"></Label>
  							<TextField class='input titlea '  returnKeyType="done" col="1" color='#000'   text='{{m.choosequantity}}'  [(ngModel)] ="m.choosequantity"
  								 keyboardType="number" maxLength="3" (returnPress)="getQuantity('', k.key,m)" ></TextField>
  							<Label class="titlea "   margin="12,0,10,0" col="2" text='Total: ({{m._source.numbers}})'></Label>
  	
 							 </GridLayout>
            		
       		      <GridLayout margin="10,15,0,15" row="3"  columns="100,*" >
  
  						<Label col="0" class="titlea"  text="Votre Adresse"></Label>
  						<GridLayout col="1"   rows="auto,auto, auto,auto">
 					      <Label row="0" text='&#xf078;'  class="fas titlea dropdownLabel" (tap)="m.show=!m.show"    ></Label>
   					    <Label row ="0" text ="{{m.selectedAddress.title}} " color="#000"   ></Label>
   					     <StackLayout row="2"  colSpan="2" backgroundColor="#444444" height="1"></StackLayout>
						<StackLayout  row="1" [visibility]=" m.show? 'visible' : 'collapsed'" >
  					  <app-adress (getAddress)='getAddress($event,k.key, i) ; ' ></app-adress>
  				    </StackLayout>
  					</GridLayout>
  			  	</GridLayout>
  
  				<GridLayout margin="10,15,0,15"  row="4"  columns="100,*" >
  
 					<Label class="titlea" col="0" text="Livraison"></Label>
  					<GridLayout col="1" rows="auto,auto,auto">
        
       				 <DropDown  #dd
                 		 [items]="m._source.titleDel "
                 		 color='#000'
               			   (selectedIndexChanged)="onchange($event,k.key, i)"
                		  colSpan="2"
                		  row="0"
                		  fontSize="12">
        			</DropDown>
					 <StackLayout row="1"  colSpan="2" backgroundColor="#444444" height="1"></StackLayout>
					</GridLayout>
  	
  				</GridLayout>		
            
            
            </GridLayout>
                 		   
        
            		
            		
            	 <GridLayout  row="2" col="0" columns="*,auto">
   			 	  <Button col='1' text="Acheter"   class=" button1" (tap)="  buynow(k.key, m) " ></Button>
   			 	
  	
  				</GridLayout>		
            
            		
            	
            		<GridLayout row='3' rows='auto,auto,auto,auto ' >
       
  
					 <TextView  row='1' class="alert" *ngIf ='m.send && m.choosedelivery.length==0 && m._source.delivery.length!=0'
							text="Aucune livraison n'est sélectionnée "></TextView>
					<TextView row='2'  class="alert" *ngIf ='m._source.delivery.length==0'
							text="Aucune livraison n'est disponible pour votre région ! "></TextView>

            		<TextView row="3" class="alert" *ngIf ='m.send  &&  m.selectedAddress==""'
							text="Sélectionnez votre addresse de livraison d'abord ! "></TextView>
            		</GridLayout>
            		
                    <StackLayout row="4" margin="10,0,10,0"  colSpan="2" backgroundColor="#D0D0D0" height="2"></StackLayout>
            		 
            	 </GridLayout>	
            	
  	         </ng-template>
  	     
             <!-- ng-template tkTemplateKey="expanded" let-m="item">
		      <GridLayout rows="*,auto" columns="*,*" class="add-dropdown">
            		 <GridLayout  row="1" col="2" rows="30,30" columns="*">
   			 	       		 <Button  row="0"  text="Acheter"    class="fass button1"  ></Button>
   			 	        <GridLayout  row="1"  rows="*" columns="30,30">
   			 	      		 <Button row="0"col="1" text="&#xf064;" class=" fass button2 "></Button>
   			 	      		 <Button row="0"col="0" text="&#xf00d;" class="fass  button3 "></Button>
   			 	       </GridLayout>
            		</GridLayout>
         
              </GridLayout>
            </ng-template-->		  
          </RadListView>
 	
 			 <GridLayout  row="2"  rows="*,*,*,*,auto,auto">
   			 	     <GridLayout  margin="10,0,0,0" row='0' columns="*,auto" >
   			 	      <Label class="titlea "  text="Total: ({{k.value.length}}Articles) " col="0"></Label>
   			 	       <Label class="titlea fas"  text="{{totalprices[k.key]}} DA " col="1"></Label>
   			 	     </GridLayout>      		
       		      <GridLayout  margin="10,0,0,0" row="1"  columns="100,*" >
  
  						<Label col="0" class="titlea"  text="Votre Adresse"></Label>
  						<GridLayout col="1"   rows="auto,auto, auto,auto">
 					      <Label row="0" text='&#xf078;'  class="fas titlea dropdownLabel" (tap)="storeshow[k.key]=!storeshow[k.key]"    ></Label>
   					    <Label row ="0" text ="{{k.value.selectedAddress.title}}" color="#000"   ></Label>
   					     <StackLayout row="2"  colSpan="2" backgroundColor="#444444" height="1"></StackLayout>
						<StackLayout  row="1" [visibility]="storeshow[k.key]? 'visible' : 'collapsed'" >
  					  <app-adress (getAddress)='getAddress2($event, k.key) ; ' ></app-adress>
  				    </StackLayout>
  					</GridLayout>
  			  	</GridLayout>
  
  				<GridLayout margin="10,0,0,0"   row="2"  columns="100,*" >
  
 					<Label class="titlea" col="0" text="Livraison"></Label>
  					<GridLayout col="1" rows="auto,auto,auto">
        
       				 <DropDown  #dd
                 		 [items]="titlestoreDel[k.key] "
                 		 color='#000'
                 		 fontSize="12"
               			 (selectedIndexChanged)="onchange2($event,k.key)"
                		  colSpan="2"
                		  row="0"
                		  fontSize="12">
        			</DropDown>
					 <StackLayout row="1"  colSpan="2" backgroundColor="#444444" height="1"></StackLayout>
					</GridLayout>
			</GridLayout>
			
			<GridLayout columns="*,60,auto" row="3">
			 <Label margin="10,0,0,0" class="titlea fas" text="{{totaldelivery[k.key]}} DA " col="1"></Label>
			
   			<Button  text="Tout Acheter"  col="2"   class=" button1" (tap) =  'multiplebuynow(k.key)'  ></Button>
   			 </GridLayout>
 	
 			<GridLayout row="4" rows="auto,auto,auto">
 			<Label row="0" *ngIf ="!buyall[k.key]" classs="alert" text="certains articles dans la selection ne sont plus disponible !"></Label>
 		
 		 	<Label row="1" class="alert" *ngIf =' send[k.key]&& storedelivery[k.key].length!=0 &&choosestoredelivery[k.key].length==0 '
				text="choississez la livraison "></Label>
		
 			 <Label row="2" class="alert" *ngIf ='send[k.key]&&  model[k.key].selectedAddress==""'
				 text="Selectionnez votre addresse  !"></Label>
			
			 
			  <Label row="3" class="alert" *ngIf ='  storedelivery[k.key].length==0'
				text=" Aucune livraison disponible pour votre addresse ! "></Label>
			 
 		
 		
 			</GridLayout>
 	       		 <StackLayout row="5"  colSpan="2" backgroundColor="darkgray" height="3"></StackLayout>
 	
          </GridLayout>
          
          </GridLayout>
</ng-template>
</RadListView>


</GridLayout>      
</ScrollView>