<StackLayout>
  <Label text="cart works" textWrap="true"></Label>
  <Label text="This is a migrated component" textWrap="true"></Label>
  <Label text="Update it to provide the UI elements required in your mobile app" textWrap="true"></Label>
</StackLayout>

<!--
Original Web template:

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>

<div  i18n-class class ='scroll2 text-left'>

<div class='container'>
<div [hidden]="loading " >
<div *ngIf='cart'>


<li style="border-bottom:15px   #F5F5F7 solid  "  class="list-group-item " *ngFor="let k of  model | keyvalue let j = index ; " [attr.data-index]="j" >
 <h6><i i18n="@@magasin2"> Magasin: </i> <a class='btn text-info'  (click) ='gotoStore(k.key)'> {{k.key}}</a></h6>

<ul class="list-group ">
 <li   style="border-bottom:1.5px  #D3D3D3 solid  " class="list-group-item" *ngFor="let m of  k.value ;  let i = index ; " [attr.data-index]="i">
<form name="form" (ngSubmit)="f.form.valid  && buynow(k.key, m) && m.selectedAddress.to!='' " #f="ngForm" novalidate>
  

<div i18n="@@noarticle" *ngIf='!m._source.available' class ="alert alert-danger"> Cet article n'est plus disponible </div>

<div class="row">

<div class="col-sm-4 col-12 col-md-4">

 <div class='row'>
    <div class='col-sm-6 col-6' ><img [src]="m.pic" class="img-responsive crop"  alt="Image"></div>
   <div class='col-sm-6 col-6 '><b>{{ m._source.title}}</b>  
          <br> <i>{{  m._source.price}} <i i18n="@@da3">DA</i></i> </div>
 </div>
	<div class="row" [attr.id]="'accordion_'+m._id">

         
           <a class ="btn btn-outline-warning" data-toggle="collapse" [attr.data-parent]="'#accordion_'+m._id" [attr.href]="'#collapseOne_'+m._id"><i class='fa fa-plus'></i><i i18n="@@details"> détails </i> </a>
           <div [attr.id]="'collapseOne_'+m._id" class="card collapse col-md-12 col-sm-12 col-12">
           <div class="card-body">
           
              <div class = 'row' >
      	    <div i18n="@@couleurs" class="col-md-6 col-sm-6  col-6"> 
      		   Couleurs
      	    </div>
      	    <div class="col-sm-6 col-6"> 
      		     <li  *ngFor= 'let c of m._source.color; let  i=index ' style="list-style: none; display:inline-block;"> 
    
       		       <label  class='labl' >
       		      	
       		          	<input type="radio" name="radiogroup"  [checked]="i===0"   id="radio"  [value]="c"  (change)="getColor(c, k.key, m)" require />
       	
                       	<div for="radio" style ='width:25px; height:20px; ' [style.background]='c' >   	</div>
       		        
       				</label>  	
		          			<!--  button type="button" (click)="removeColor(c)" class='btn-info'> X</button->  
				 </li> 
		
         	</div>	
            </div>
    	     
       		<div class = 'row' >
      		<div i18n="@@quantite" class="col-md-6 col-sm-6 col-6"> 
      			 Quantité
      		</div>
     	 	<div class=" col-md-6 col-sm-6 col-6"> 
				 <input type='number'  [(ngModel)]="m.choosequantity" name="choosequantity"   min="1" max="m._source.numbers" style="width: 50px"  (change)="getQuantity($event, k.key, m)" require />
			
	   	   </div>
           </div>
           
 	 
                </div>
            </div>
        
    </div>
	
	

 
</div>
<div  class="col-md-4 col-sm-4 col-12 "   >
<div  class='row list-group-item  ' [attr.id]="'address_'+m._id" >
      		
				<div i18n="@@addresse" style='font-size:small; ' >Votre Addresse:</div>
      			<a (click)="m.show=true" class ="list-group-item add " data-toggle="collapse" [attr.data-parent]="'#address_'+m._id" [attr.href]="'#addressOne_'+m._id" >{{m.selectedAddress.title}} <span  class="fa fa-angle-down" style='float:right; '></span></a> 
      	 	
     			<div  [attr.id]="'addressOne_'+m._id"    [hidden]='!m.show' class='collapse scroll col-sm-12 col-12' [ngClass]="{'collapse.show':m.show, 'collapse': !m.show}"    >
				 		<app-adress (getAddress)='getAddress($event,k.key, i) ; ' ></app-adress>
	    	
	    		</div>
	</div>
<div class='row list-group-item ' >
<div style='font-size:small; 'i18n="@@delivery" >Livraison:</div>
<ngx-select-dropdown (change)="getDeliveryMethod($event,k.key, m)" [multiple]="false" [(value)]="m.choosedelivery" [config]="deliveryconfig" [options]="m._source.delivery"></ngx-select-dropdown></div>

</div>
	
 <div class ="col-sm-3 col-12" style="float:right;  margin-top:40px;">
   <a  class = "btn btn-info fa fa-close" (click)="deleteArticle(k.key, m)" > </a>
   <button button [disabled]="!m._source.available"  class = "btn btn-danger" ><i i18n="@@acheter">Acheter</i></button>
   <a  class = "btn btn-warning fa fa-mail-forward "(click)="gotoArticle(m._id, k.key )"> </a>
  <div i18n="@@addressealert2" i18n-style style="float:right; " class="alert alert-danger" *ngIf ='m.selectedAddress.warning  && m._source.delivery.length!=0'>
Sélectionnez votre addresse de livraison d'abord ! 
 </div>  
 <div  i18n="@@livraisonalert2" i18n-style style="float:right; " class="alert alert-danger" *ngIf ='m.choosedelivery.length==0 && m._source.delivery.length!=0'>
Aucune livraison n'est sélectionnée 
 </div>

 <div  i18n="@@nolivraison" i18n-style style="float:right; " class="alert alert-danger" *ngIf ='!m.selectedAddress.warning && m._source.delivery.length==0'>
aucune livraison n'est disponible pour votre région ! 
 </div>
</div>
 
</div>

  <!-- button class = "btn btn-info  "style="float: right; margin-top:40px; "> go to article</button-><br>

   <!-- input input type="number" style="float:right; width: 50px ; margin-top:40px ;  "  min="1" step="1" placeholder='1'->
   	
</form>

</li>

	 <li class="list-group-item"  >
	 <div i18n-style style="float: right;"  >
       <span i18n="@@total" class="col-sm-3 col-6" >Total </span>
       <span   class="col-sm-5 col-6 " ><b>  {{totalprices[k.key]}} <i i18n="@@da3">D.A</i></b></span>
       </div>
 	</li>
  	<li  class="list-group-item">
 		  <div  i18n-style style="float: right;  "class="col-sm-5  col-12 " [attr.id]="'address2_'+j" >  
 		  <div style='font-size:small; ' i18n="@@addresse" >Votre Addresse:</div>
 		  <a (click)="show[k.key]= true " class='add list-group-item '  data-toggle='collapse'  [attr.data-parent]="'#address2_'+j" [attr.href]="'#addressOne2_'+j" >{{k.value.selectedAddress.title}} <span  class="fa fa-angle-down" style='float:right; '></span></a> 
      	 	<div  [hidden]='!show[k.key]' class=' collapse scroll col-sm-12 col-12'[attr.id]="'addressOne2_'+j"    >
				 		<app-adress (getAddress)='getAddress2($event, k.key) ; ' ></app-adress>
	    	</div>
	    	</div>
    </li>	
 	<li  class="list-group-item">
 	  
 	  <div  i18n-style style=" float:right" class="col-sm-5 col-12 " >
 	  <div style='font-size:small; ' i18n="@@delivery"> Livraison:</div>
 	  <ngx-select-dropdown (change)="getStoreDeliveryMethod($event, k.key)" [multiple]="false" [(value)]="choosestoredelivery[k.key]" [config]="deliveryconfig" [options]="storedelivery[k.key]"></ngx-select-dropdown></div>
			
		
 	</li>
	<li *ngIf ="!buyall[k.key]"  class="list-group-item">
	   	<div i18n="@@nosomearticles"  class ="alert alert-warning"> certains articles dans la selection ne sont plus disponible ! </div>
	          
	</li>
	<li class="list-group-item">
	 
	      <div  i18n-style style="float: right; " >
	         <span class="col-sm-3 col-6" ><b> {{totaldelivery[k.key]}} D.A</b></span>
	         <span class="col-sm-5 col-6 " ><button [disabled]="!buyall[k.key] || k.value.selectedAddress.warning || choosestoredelivery[k.key].length==0  "  class = "btn btn-danger" (click)= 'multiplebuynow(k.key)' style="margin-left:5px;" ><i i18n="@@toutacheter">Tout Acheter</i> </button></span>
	       </div>
	
	         <div i18n='@@livraisonalert2' i18n-style style="float:right; " class="alert alert-danger" *ngIf ='  storedelivery[k.key].length!=0 &&choosestoredelivery[k.key].length==0 '>
				choississez la livraison 
			 </div>
 			 <div i18n="@@addressealert2" i18n-style style="float:right; " class="alert alert-danger" *ngIf ='storedelivery[k.key].length!=0 &&k.value.selectedAddress.warning'>
				 Selectionnez votre addresse de livraison avant !
			 </div>
			 
			  <div i18n="@@nolivraison" i18n-style style="float:right; " class="alert alert-danger" *ngIf ='!k.value.selectedAddress.warning&&  storedelivery[k.key].length==0'>
				 Aucune livraison disponible pour votre addresse ! 
			 </div>
 	</li>

 	



</ul>
</li>
</div>


<div i18n="@@emptycart" *ngIf="empty" class="form-group alert alert-info">Aucun article sélectionné</div>

</div>
</div></div>

-->