  <ng-template ngxPermissionsOnly="SUPERADMIN"> 
 <nav    class="navbar navbar-expand-md  navbar-light  "  role="navigation" id="navbar"  > 


		<a  class=" nav-item  "   routerLinkActive="active"    routerLink='/usermanager' >
          user manager  </a>
           
		<a  class=" nav-item  "   routerLinkActive="active"  routerLink='/deliverymanager' >
          delivery manager  </a>
          
       <a  class=" nav-item  "   routerLinkActive="active"  routerLink='/storemanager' >
          store manager  </a>
          
          
        <a  class=" nav-item  "  routerLinkActive="active"  routerLink='/contactusmanager' >
          contact-us manager  </a>

  
</nav>

    <router-outlet ></router-outlet>
</ng-template>