<StackLayout>
  <Label text="delivery-list works" textWrap="true"></Label>
  <Label text="This is a migrated component" textWrap="true"></Label>
  <Label text="Update it to provide the UI elements required in your mobile app" textWrap="true"></Label>
</StackLayout>

<!--
Original Web template:


 <form name="form" (ngSubmit)="f.form.valid && addDelivery()" #f="ngForm" novalidate>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Villes</th>
      <th scope="col">Categories</th>
      <th scope='col'>weight</th>
      <th scope='col'>Phone</th>
      <th scope="col">price</th>
    </tr>
  </thead>


  
  <tbody>
  
  <tr>
    <th scope="row"  > <a class="fa fa-plus" (click)='add=!add'></a> </th>
     
      <td *ngIf="add">
      		 <input type="text" class="form-control" name="title" [(ngModel)]="newDelivery.title" #title="ngModel" maxlength='50'>
              <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
              <div *ngIf="f.submitted && title.hasError('required')" class="help-block"> required</div>
             </div>
      </td>
      <td *ngIf="add">
      		  <ngx-select-dropdown [multiple]="true"    [(value)]="newDelivery.villes" [config]="villeconfig" [options]="villes" required ></ngx-select-dropdown>
             <div *ngIf="f.submitted && !newDelivery.villes" class="help-block alert alert-danger"> required</div>
             	
             
      
      </td>
      <td *ngIf="add">
      		  <ngx-select-dropdown [config]="config" [options]="categories" 
          		[(value)]="newDelivery.categories" [multiple]="true" ></ngx-select-dropdown>     
       		   <div *ngIf="f.submitted && !newDelivery.categories" class="help-block alert alert-danger"> required</div>
      
      
      </td>
           <td *ngIf="add">
      			<input type="number" step="1"  name="weight" [(ngModel)]="newDelivery.weight" #weight="ngModel" required/>
  		
  				<span class="input-group-addon" style="display:inline;">kg</span>
				<div *ngIf="weight.invalid && (weight.dirty || weight.touched)" class="alert alert-danger">
				pattern issue 
				
           		 <div *ngIf="f.submitted && weight.hasError('required')" class="help-block"> required</div>
            	
            </div>
      </td>
      
     
      <td *ngIf="add">
      		 <input  class="form-control" [textMask]="{mask: phonemask}"   name="phone" [(ngModel)]="newDelivery.phone"  required #phone="ngModel" />    
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
        	
        	 <div *ngIf="f.submitted && phone.hasError('required')" class="help-block"> required</div>
            </div> 
      </td>
       <td *ngIf="add">
      			<input type="number" step="0.01"  name="price" [(ngModel)]="newDelivery.price" #price="ngModel" required/>
  		
  				<span class="input-group-addon" style="display:inline;">D.A</span>
				<div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
				pattern issue 
				
           		 <div *ngIf="f.submitted && price.hasError('required')" class="help-block"> required</div>
            	
            </div>
      </td>
      
    
       <td *ngIf="add" >  <button class="btn btn-info " [disabled]='loading' > save <span *ngIf='loading' class='fa fa-spinner'></span>  </button>

		</td>
   </tr>
    <tr *ngFor=' let del of deliveries|paginate: { id: "server", itemsPerPage: size, currentPage: page, totalItems: total}  ; let i = index  ' [attr.data-index]="i"  >
      <th scope="row"  > {{i}} </th>
      <td>{{del._source.title}}</td>
      <td><li class='list-group-item' *ngFor='let com of del._source.villes'>{{com.name}}</li></td>
      <td><li class='list-group-item' *ngFor='let cat of del._source.categories'>{{cat}}</li></td>
            <td>{{del._source.weight}}<span class="input-group-addon" style="display:inline;">kg</span> </td> 
      
       <td>{{del._source.phone}} </td> 
      
      <td>{{del._source.price}}<span class="input-group-addon" style="display:inline;">D.A</span> </td> 
      <td><button (click)='remove(del._id, i ); 'class='btn btn-link fa fa-remove' [disabled]='loading2'><span *ngIf='loading2' class='fa fa-spinner'></span></button></td>
    </tr>
    
  </tbody>
</table>
       </form> 

<div class="has-text-centered" style='float:right; '>
  <a scrollTo href="#top" >
    <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls> 
    </a>
</div> 


-->