

li.borderless { border-top: 0 none; }

 

.labl {
    display : block;
    /*width: 400px;*/
}
.labl > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.labl > input + div{ /* DIV STYLES */
    cursor:pointer;
    border:4px solid transparent;
   
}
.labl > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    background-color: 	#87CEFA ; 
 /*   border: 1px solid #ff6600;*/
}  