<GridLayout rows='auto,*'>


<RadListView row="0" [items]='addresses' >
   	<ng-template let-m="item" let-i='index' >
 
	<GridLayout rows='auto,*'  >
    <GridLayout row="0" columns='*,auto,auto,auto' class="btn">
    
    <Label  textWrap='true'  (touch)='ontouch($event)'  fontSize='12' col="0" text='{{m._source.title}}' (tap)="onSelectionChange(m)"></Label>
    <Label (touch)='ontouch($event)'  margin="0,8,0,0" fontSize="16" padding="3" col='1' text='&#xf078;' (tap)='showingAddress(m)' *ngIf='!editAddress[m._id]'class='fas'></Label>
    <Label (touch)='ontouch($event)'  margin="0,8,0,0" fontSize="16" padding="3" col='2' text='&#xf044;' (tap)='editingAddress(m)' class='fas'></Label>
    <Label  (touch)='ontouch($event)'   fontSize="18" padding="3" col='3' text='&#xf00d;' (tap)='removeAddress(m)' *ngIf='!editAddress[m._id]' class='fas'></Label>
    
    </GridLayout>
   
    	<GridLayout padding="5" [visibility]="showAddress[m._id] ? 'visible' : 'collapsed'"   row="1" backgroundColor="#fff"  rows="*,*,*,*,*,*,*" columns="*,*" >
					
						<Label textWrap='true'  class='add' row="0" col="0" text="à M.Mme" ></Label> 
  						<Label textWrap='true'  class='add'row="0" col="1" text="{{m._source.to}}"></Label>
  		     			<Label textWrap='true'  class='add'row="1" col="0" text="Téléphone" ></Label> 
  						<Label textWrap='true'  class='add' row="1" col="1" text="{{m._source.phone}}"></Label>
  		     			<Label textWrap='true'  class='add'row="2" col="0" text="Ville" ></Label> 
  						<Label textWrap='true'  class='add'row="2" col="1" text="{{m._source.city}}"></Label>
  		   			    <Label textWrap='true'  class='add'row="3" col="0" text="Commune" ></Label> 
  						<Label textWrap='true'  class='add'row="3" col="1" text="{{m._source.commune}}"></Label>
  		   			    <Label textWrap='true'  class='add'row="4" col="0" text="Codepostal" ></Label> 
  						<Label textWrap='true'  class='add'row="4" col="1" text="{{m._source.zipcode}}"></Label>
  		     			<Label textWrap='true'  class='add'row="5" col="0" text="Addresse" ></Label> 
  						<Label textWrap='true'  class='add'row="5" col="1" text="{{m._source.address}}"></Label>
  		     			<Label textWrap='true'  class="add fas" (touch)='ontouch($event)' row='6' col='1' text='&#xf077;' (tap)="showAddress[m._id]=false" ></Label>
  		     			
		</GridLayout>
    
    
    
    
  
 <GridLayout row="1"  [visibility]="editAddress[m._id] ? 'visible' : 'collapsed'" 
 
 			backgroundColor="#fff"  rows='auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto' >
     <Label row="0" text='Titre Addresse' class="label"></Label>
     <GridLayout row ="1" rows="auto, auto, auto , auto">
      <TextField margin='-5,0,0,0'  maxLength="50" row="0" hint="" class='input'  [(ngModel)]="m._source.title"></TextField>
	 <TextView editable="false" row="1" text ="donnez le titre de votre addresse" *ngIf="send && m._source.title.length==0" class="alert"></TextView>            
   	 <TextView  editable="false" row="3" text ="Ce titre est trop long" *ngIf="send && m._source.title.length>50 " class="alert"></TextView>            
	</GridLayout>

	  <Label row="2" text='à Mme. M.' class="label"></Label>
     <GridLayout row ="3" rows="auto,auto">
      <TextField margin='-5,0,0,0'  maxLength="50" row="0" hint="" class='input'  [(ngModel)]="m._source.to"></TextField>
	 <TextView editable="false" row="1" text ="Le nom du destinataire est obligatoire" *ngIf="send && m._source.to.length==0" class="alert"></TextView>                    
	</GridLayout>
	
	 <Label row="4" text='Téléphone' class="label"></Label>
     <GridLayout row ="5" rows="auto, auto">
      <MaskedTextField margin='-5,0,0,0'    row='0' 
                        keyboardType="phone"
                       [(ngModel)]="m._source.phone"
                       mask="00 00 00 00 00"></MaskedTextField>
	 <TextView editable="false" row="1" text ="ajouter le téléphone du destinataire" *ngIf="send && model.phone.includes('_')" class="alert"></TextView>            
	 </GridLayout>

    
	 <Label row="6" text='Ville' class="label" ></Label>
     <GridLayout margin="0,0,10,0" row='7' rows="auto,auto, auto  ">
        
        <DropDown  #dd
                  [items]="cities"
                  [(ngModel)]="selectedIndex"
                  (selectedIndexChanged)="onchanges($event,i )"
                  colSpan="2"
                  row='0'>
        </DropDown>
		 <StackLayout row="1"  colSpan="2" backgroundColor="#444444" height="1"></StackLayout>
		 <TextView editable="false" row="2" text ="ajouter la ville" *ngIf="send && m._source.city.length==0" class="alert"></TextView>            
			
	</GridLayout>
	
    <Label row="8" text='Commune' class="label" ></Label>
    <GridLayout margin="0,0,10,0" row='9' rows="auto,auto, auto  ">
        
        <DropDown  #dd
                  [items]="communes"
                  [(ngModel)]="selectedIndex1"
                  (selectedIndexChanged)="onchanges1($event,i)"
                  colSpan="2"
                  row='0'>
        </DropDown>
		 <StackLayout row="1"  colSpan="2" backgroundColor="#444444" height="1"></StackLayout>
		  <TextView editable="false" row="2" text ="ajouter la commune" *ngIf="send && m._source.commune.length==0" class="alert"></TextView>            
			
	</GridLayout>
	
	 <Label row="10" text='Code postal' class="label"></Label>
     <GridLayout row ="11" rows="auto">
      <TextField margin='-5,0,0,0' editable="false"  row="0" hint="" class='input'  [(ngModel)]="m._source.zipcode"></TextField>
	</GridLayout>
	
 	 
 	  <Label row='12' text="Addresse" class="label"></Label>
 	  <GridLayout row='13'  rows="auto,auto,auto">
      <TextView margin='-5,0,0,0'  row='0' hint="" class="input" [(ngModel)]="m._source.address"    returnKeyType="done" 
        returnPress="onReturnPress"
  
        maxLength="300"></TextView>
      <TextView  editable="false" row="1" text ="Ajoutez l'addresse" *ngIf="send && m._source.address.length ==0 " class="alert"></TextView>            
      
      </GridLayout>
    
      <GridLayout row='14' columns ='*,auto,auto, auto'>
      
         <Button [isEnabled]="!loading"  col="1" class="send " text="Envoyer" (tap)="updateAddress(m._source, m._id) "></Button>
         <ActivityIndicator *ngIf="loading"  col="2" color='#FFA500' rowSpan="2" [busy]="loading"></ActivityIndicator>
      
         <Label [isEnabled]="!loading" (touch)='ontouch($event)'  class="undo  " col="3"  text="Annuler" (tap)='undo(m)' ></Label>
      </GridLayout>
      
	</GridLayout>
   
	</GridLayout>
	
	</ng-template>
</RadListView>


<StackLayout  row="1"    > 
  <Label fontSize='14' margin='5,0,10,0' (touch)='ontouch($event)'   text ='+ Nouvelle Addresse' class="fas btn" (tap)='show=!show'  ></Label>
	
   <GridLayout  backgroundColor="#fff"  rows='auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto'  [visibility]="show? 'visible' : 'collapsed'" >
     

     <Label row="0" text='Titre Addresse' class="label"></Label>
     <GridLayout row ="1" rows="auto, auto, auto , auto">
      <TextField margin='-5,0,0,0' maxLength="50" row="0" hint="" class='input'  [(ngModel)]="model.title"></TextField>
	 <TextView editable="false" row="1" text ="donnez le titre de votre addresse" *ngIf="send && model.title.length==0" class="alert"></TextView>            
   	 <TextView  editable="false" row="3" text ="Ce titre est trop long" *ngIf="send && model.title.length>50 " class="alert"></TextView>            
	</GridLayout>

	  <Label row="2" text='à Mme. M.' class="label"></Label>
     <GridLayout row ="3" rows="auto,auto">
      <TextField margin='-5,0,0,0'  maxLength="50" row="0" hint="" class='input'  [(ngModel)]="model.to"></TextField>
	 <TextView editable="false" row="1" text ="Le nom du destinataire est obligatoire" *ngIf="send && model.to.length==0" class="alert"></TextView>                    
	</GridLayout>
	
	 <Label row="4" text='Téléphone' class="label"></Label>
     <GridLayout row ="5" rows="auto, auto">
      <MaskedTextField margin='-5,0,0,0'   row='0' 
                        keyboardType="phone"
                       [(ngModel)]="model.phone"
                       mask="00 00 00 00 00"></MaskedTextField>
	 <TextView editable="false" row="1" text ="ajouter le téléphone du destinataire" *ngIf="send && model.phone.includes('_')" class="alert"></TextView>            
	 </GridLayout>

    
	 <Label row="6" text='Ville' class="label" ></Label>
     <GridLayout margin="0,0,10,0" row='7' rows="auto,auto, auto  ">
        
        <DropDown  #dd
                  [items]="cities"
                  [(ngModel)]="selectedIndex"
                  (selectedIndexChanged)="onchange($event)"
                  colSpan="2"
                  row='0'>
        </DropDown>
		 <StackLayout row="1"  colSpan="2" backgroundColor="#444444" height="1"></StackLayout>
		 <TextView editable="false" row="2" text ="ajouter la ville" *ngIf="send && model.city.length==0" class="alert"></TextView>            
			
	</GridLayout>
	
    <Label row="8" text='Commune' class="label" ></Label>
    <GridLayout margin="0,0,10,0" row='9' rows="auto,auto, auto  ">
        
        <DropDown  #dd
                  [items]="communes"
                  
                  [(ngModel)]="selectedIndex1"
                  (selectedIndexChanged)="onchange1($event)"
                  colSpan="2"
                  row='0'>
        </DropDown>
		 <StackLayout row="1"  colSpan="2" backgroundColor="#444444" height="1"></StackLayout>
		  <TextView editable="false" row="2" text ="ajouter la commune" *ngIf="send && model.commune.length==0" class="alert"></TextView>            
			
	</GridLayout>
	
	 <Label row="10" text='Code postal' class="label"></Label>
     <GridLayout row ="11" rows="auto">
      <TextField margin='-5,0,0,0'  editable="false"  row="0" hint="" class='input'  [(ngModel)]="model.zipcode"></TextField>
	</GridLayout>
	
 	 
 	  <Label row='12' text="Addresse" class="label"></Label>
 	  <GridLayout row='13'  rows="auto,auto,auto">
      <TextView  margin='-5,0,0,0' row='0' hint="" class="input" [(ngModel)]="model.address"    returnKeyType="done" 
        returnPress="addAddress()"
  
        maxLength="300"></TextView>
      <TextView  editable="false" row="1" text ="Ajoutez l'addresse" *ngIf="send && model.address.length ==0 " class="alert"></TextView>            
      
      </GridLayout>
    
      <GridLayout row='14' columns ='*,auto,auto, auto'>
      
         <Button  [isEnabled]="!loading" col="1" class="send " text="Envoyer" (tap)="  addAddress()"></Button>
         <ActivityIndicator *ngIf="loading"  col="2" color='#FFA500' rowSpan="2" [busy]="loading"></ActivityIndicator>
      
         <Label [isEnabled]="!loading" (touch)='ontouch($event)'  class="undo  " col="3"  text="Annuler" (tap)='cancel()' ></Label>
      </GridLayout>
      
	</GridLayout>
  
</StackLayout>



</GridLayout>
 