
<ScrollView>
<GridLayout rows="auto,auto,auto,*"> 
<StackLayout  row='0' >
   	 <ActivityIndicator color='#FFA500' rowSpan="3" *ngIf='loading' [busy]="loading" ></ActivityIndicator>
</StackLayout>  

<Label row="1" *ngIf='!loading &&  nostore && !reload  ' class='alert 'text="Aucun magasin n'est disponible sur ce lien.">
</Label>

<StackLayout row='2' [visibility]="!loading && suspend && !reload    ?'visible':'collapse'" >

<Image  [src]="banner"  class="pic"  stretch="aspectFill"></Image>

<Label class='alert' >
   Ce magasin est suspendu
</Label>


</StackLayout>


<RadSideDrawer [visibility]="!loading && !suspend  && !nostore?'visible':'collapse'" row="3" tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="auto,40,auto,auto, auto, auto,auto,auto,auto,auto*"  class=" sideStackLayout">
        <StackLayout row='0' class="sideTitleStackLayout">
            <Label (touch)="ontouch($event)"  text="Articles épuisés  &#xf104;" class='fas storetitle' (tap)="onCloseDrawerTap()"></Label>
        </StackLayout>
        <!-- GridLayout row="1" columns="*,auto" orientation="horizontal">
   		<textView  col='0' hint="Rechercher dans magasin" class='search'></textView>
           <Button col="1" text="&#xf002;" class="fas searchbutton "></Button>
        </GridLayout-->
        
           
		<GridLayout row="1" columns="*,auto" orientation="horizontal">
   		<textField col='0' hint="Rechercher dans magasin" class='search' [(ngModel)]="query"  (returnPress)='getQuery2($event)'  ></textField>
           <Button col="1" text="&#xf002;" class="fas searchbutton "  (tap)="getQuery2($event)"></Button>
        </GridLayout>
        
         <ng-template ngxPermissionsOnly="ADMINStore"> 
        
         <Label (touch)="ontouch($event)"  nsRouterLinkActive="sideStackLayoutActive" class='sideStackLayout item' row='2' text='Ajouter Nouveau Article' [nsRouterLink]="['../newarticle']"></Label>
        </ng-template>
         <Label (touch)="ontouch($event)" nsRouterLinkActive="sideStackLayoutActive"   class='sideStackLayout item'  row='3' text='Détails'  [nsRouterLink]="['../details']" ></Label>
     	 <Label (touch)="ontouch($event)"  nsRouterLinkActive="sideStackLayoutActive"   class='sideStackLayout item'  row='4'text='Articles épuisés'  [nsRouterLink]="['../soldout']" ></Label>
         <ng-template ngxPermissionsOnly="ADMINStore"> 
       
         <Label (touch)="ontouch($event)" nsRouterLinkActive="sideStackLayoutActive"   class='sideStackLayout item'  row='5' text='Paramètres'  [nsRouterLink]="['../update']"></Label>
         <Label (touch)="ontouch($event)" nsRouterLinkActive="sideStackLayoutActive"   class='sideStackLayout item' row='6' text='Ventes en cours' [nsRouterLink]="['../sales']" ></Label>
         <Label (touch)="ontouch($event)" nsRouterLinkActive="sideStackLayoutActive"   class='sideStackLayout item' row='7' text='Historique des ventes'  [nsRouterLink]="['../historic']"  ></Label>
         <Label (touch)="ontouch($event)" nsRouterLinkActive="sideStackLayoutActive"   class='sideStackLayout item'  row='8' text='Recettes mensuels'  [nsRouterLink]="['../monthincome']"></Label>
         <Label (touch)="ontouch($event)"  nsRouterLinkActive="sideStackLayoutActive"  class='sideStackLayout item' row='9' text='Partager'></Label>
   	
   
    </ng-template>
        </GridLayout>       
    
  
    <GridLayout  tkMainContent rows='auto,auto ,auto, auto,auto,auto ,auto,auto'>
	<StackLayout row="0" backgroundColor='rgba(0,0,0, 0.4)' >
   	 <ActivityIndicator color='#FFA500' rowSpan="3" *ngIf='loading' [busy]="loading" ></ActivityIndicator>
   	</StackLayout>  
   
  <Image *ngIf='!loading' backgroundColor='rgba(0,0,0, 0.4)' (touch) = 'displaybanner = true' row ="0" [src]="banner"  class="pic"  stretch="aspectFill"></Image>
   <!-- GridLayout   [visibility]="displaybanner ?'visible':'collapse'"  row="0" columns="*,auto" rows='*,auto'>
   <Label  *ngIf="isValid"  col="1" row="1"    class="fas up"  text="&#xf03e;" (tap)='onSelectTap() '></Label>
   <StackLayout  row="0" col="1" orientation="horizontal">
   <Label row="1" *ngIf="!isValid" class="fas up " text="&#xf03e;" (tap)="covsave()" ></Label>
   <Label row="1" *ngIf="!isValid" class="fas up " text="&#xf03e;" (tap)="this.covremove()"></Label>
   </StackLayout>
   
   </GridLayout-->
   
   
    <GridLayout row="1" columns="40,auto"  >
        <Button col='0' class="fas bars btn btn-active" text='&#xf0c9;' (tap)="openDrawer()"></Button>
  		
  		<Label (touch)="ontouch($event)" textWrap='true'  col="1" class=" storetitle"  text="{{storetitle}}"  [nsRouterLink]="['../store']" ></Label>
        <!-- AbsoluteLayout col="2" backgroundColor="rgba(0,0,0,0.4)">
      	           <StackLayout left="-80" top="0" android:cursorVisible="false"  >
      	           
                 <StarRating filledColor="#FFA500" isindicator="true"  android:scaleX=".3" android:scaleY=".3"  [value]="store.ratingsum/store.ratingcount" ></StarRating>
                </StackLayout>
                 <Label fontSize="10" left ="80" top="20"  text="({{store.ratingcount}} votes)"></Label>
                
        </AbsoluteLayout>
       <Button id="notifications"  col="2" text="&#xf0f3; &#xf0d7;" 
            class="bell fas"></Button> 
        <Label id="globeItemNavigation"  col="2" text="3" class="globe"
                   ></Label--> 
    </GridLayout>
       <StackLayout row="2"   colSpan="2" backgroundColor="darkgray" height="1.5"></StackLayout>

 
         <Label  (tap)="reloading()"  (touch)="ontouch($event)"  row='3'  *ngIf='!loading0 && !loading && reload' class="reload">
        <FormattedString>
            <Span text="Problème de connexion... "></Span>
            <Span text="réessayer"  color="#FFA500" class="bold" ></Span>
        </FormattedString>
    	</Label>


		<Label row="3" *ngIf='!loading0 && !reload  &&  !nostore && !open && !suspend'  class="alert" text="Ce magasin est fermé ! "  >

			</Label> 
		    <Label row="5" *ngIf ='!loading2 && nothing && !reload   ' class="alert" text="Pas d'articles épuisés "></Label> 
    		<Label row="4" *ngIf =' !loading2 && nosearch && !reload  ' class='alert' text="Recherche introuvable."></Label> 
    
		

        <RadListView  row="6" [items]="selectArticles" selectionBehavior="LongPress" loadOnDemandMode="Auto" (loadMoreDataRequested)="onLoadMoreItemsRequested($event)"
         (itemSelected)="onItemSelected($event)" (itemSelecting)="onItemSelecting($event)">

      		 <ng-template tkListItemTemplate  let-a="item" class="itemStackLayout" >
      		 <GridLayout (touch)="ontouch2($event)" >
      		   
      			<Image (doubleTap)="gotoArticle(a._id, a._source.storetitle )"  (touch)="displ(a._id)"  [src]="a._source.pic"  class='articlepic' stretch="aspectFill" ></Image>
      			
 				<AbsoluteLayout  >
      			     <!-- ActivityIndicator color='#FFA500' rowSpan="3" [busy]="a.loadingcart==1"></ActivityIndicator>
      			
      			<Label (tap)="addToCart(a)"  [visibility]="disp[a._id] ?'visible':'collapse'"
      					left="55" top="5" class='panier fas'>
						<FormattedString>
										<Span text='Panier &#xf217;' ></Span>
										<Span  *ngIf=" a.loadingcart==2 " text='&#xf00c;'></Span>
										<Span  *ngIf=" a.loadingcart==3  " text="&#xf05e;"></Span>
      					</FormattedString>
      	         </Label-->
      	           <ng-template ngxPermissionsOnly="ADMINStore">  
      	          <Label  [visibility]="disp[a._id] ?'visible':'collapse'" text="Paramètre"  left="55" top="10" class="param"  (tap)="updateArticle(a._id) ; "></Label>
      	         </ng-template>
      			<GridLayout left='0' top='55' rows="auto,auto,auto"    class="title" [visibility]="disp[a._id] ?'visible':'collapse'" >
            
              <TextView  row='0'   editable="false" class='titlea' text="{{a._source.title}}">
        			
               </TextView>
                <AbsoluteLayout row="1">
      	           <StackLayout left="-40" top="0" android:cursorVisible="false"  >
      	           
                 <StarRating filledColor="#FFA500" isindicator="true"  android:scaleX=".3" android:scaleY=".3"  [value]="a._source.ratingsum/a._source.ratingcount" ></StarRating>
                </StackLayout>
                 <Label fontSize="10" left ="55" top="30" text="({{a._source.ratingcount}} votes)"></Label>
                
                </AbsoluteLayout>
      		
               
      			<Label class='price' row="2"   text=' {{a._source.price}} D.A'  ></Label>
			   </GridLayout>
      			</AbsoluteLayout>
 
      			<!-- StarRating style="margin: 0px 0.35em 0.25em -1.6em; vertical-align: middle;" emptyColor="black"  isindicator='true'filledColor="red" value="3" max="5"></StarRating-->
      		  </GridLayout>
      		  
     		 </ng-template>	
     
     		
			     		<ListViewGridLayout tkListViewLayout scrollDirection="Vertical" spanCount="2"></ListViewGridLayout>
			
      	
      	</RadListView>
      	<StackLayout row="7">
   	 <ActivityIndicator color='#FFA500' rowSpan="3" *ngIf='loading2' [busy]="loading2" ></ActivityIndicator>
   	</StackLayout>
   
</GridLayout>



</RadSideDrawer>
</GridLayout>
 </ScrollView>