<ngx-loading [show]="loading0" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
<div *ngIf =' display1'  i18n-class class='text-left '>
<div i18n="@@nostore"*ngIf='nostore' i18n-class class='alert alert-info text-left '>
Aucun magasin n'est disponible sur ce lien.
</div>
<div *ngIf='suspend' >

<div class='crop'>
<img src="{{banner}}" alt=""   class="img" />
</div>

<div i18n-class class=' container alert alert-info text-left ' >
   Ce magasin est suspendu
</div>

</div>

<div *ngIf="!suspend">




<ng-template [ngxPermissionsOnly]="['ADMINStore', 'GUEST', 'USER']">


<div *ngIf='!nostore && !open'>

<div i18n='@@storeclose' class="alert alert-warning  strong "> Ce magasin est fermé ! </div>
</div>

<div *ngIf='!nostore'>
  
<div class = "crop">

<img alt="" [src]="banner"   class="img" />

     

<ng-template ngxPermissionsOnly="ADMINStore">
 <div align="right" class="selector">


<label class ='img-selector btn btn-outline-info' *ngIf="isValid" for="file"><i  placement="bottom" tooltip="Ajouter une Bannière"  class="fa fa-file-image-o" ></i> </label>

<input type='file' id="file" name="file" (change)="readUrl($event)" style="display: none;" >


<button   placement="bottom"  tooltip="Sauvegarder"  class ='img-selector btn btn-outline-info'   *ngIf="!isValid" (click)="this.covsave()"><i class='fa fa-save'></i></button>
<button   placement="bottom"  tooltip="Annuler Les modifications"   class ='img-selector btn btn-outline-info' *ngIf="!isValid" (click)="this.covremove()"><i class='fa fa-close'></i></button>
</div> 
</ng-template>
</div>
 

 
 
   <nav   class="navbar navbar-default  navnav sticky-top"  >

   
    <div class="form-inline">
     
      <div class='navbar-brand'>
	   <i placement="bottom" tooltip="Menu" class =" btn btn-link fa fa-bars" (click)= '_toggleSidebar();  menuhide =!menuhide ; '  > </i>
	    
		<a   class="navbar-brand " routerLinkActive="active"  [routerLink]="['../store']" >
           {{storetitle}}  </a>

	</div>  
     <star-rating size ='small'  [starType]="'svg'" [rating]="store.ratingsum/store.ratingcount"   [readOnly]="true" [showHalfStars]="true"  ></star-rating><span style="font-size: x-small ;" i18n='@@votess2'>( {{store.ratingcount}} votes)</span>
		 </div> 
     <ng-template ngxPermissionsOnly="ADMINStore">
	 		<span placement="bottom"  tooltip="Notifications du magasin"  i18n-class class ="nav-item ml-auto">	 <app-stores-menu [storetitle]="storetitle"></app-stores-menu> </span>
	</ng-template> 
  
  

     </nav>
    
    
<ng-sidebar-container  showBackdrop="false" sidebarClass ="container" style=" background-color: #F5F5F7 ; height: 87vh; z-index:2 ;  ">
 
      <!-- A sidebar -->
<ng-sidebar  i18n-position="@@sidebarpos"  position='left' #sidebar [class]="ng-sidebar" [opened]="!opened"  [mode]="'slide'" autoCollapseWidth="100" keyClose='true' closeOnClickOutside ='true'  (onCloseStart)= 'onclose(event)' (onOpenStart)='onopen(event)'>
 

  <form class="form-inline">
 	<div class="input-group" style='margin-top:15px ; '> 
  	
      <input   class="form-control  " aria-describedby="sizing-addon2" type="search" i18n-placeholder placeholder="Rechercher dans magasin" aria-label="Search in storetitle" name='query' [(ngModel)]="query" (keyup)='enterQuery2($event)'>
      <span class="input-group-btn">
      <button  class="btn btn-outline-info  search-button " type="submit"   (click)='getQuery2(event)' > <i class="fa fa-search"></i></button>
      </span>
      
    </div>
    </form>
 
      	<ng-template ngxPermissionsOnly="ADMINStore">	 
      	 <a routerLinkActive="active" class="nav-link  btn-outline-info " [routerLink]="['../newarticle']"><i class='fa fa-plus'></i><i i18n="@@nouveauarticle"> Nouveau Article</i></a>
   	   </ng-template>
   	   
   		 <a routerLinkActive="active"  class="nav-link  btn-outline-info " [routerLink]="['../details']"><i i18n="@@details">Détails</i></a>
 		<a routerLinkActive="active" class="nav-link  btn-outline-info " [routerLink]="['../soldout']"> <i i18n='@@articleepuises'>Articles épuisés</i></a>
 		
 		<ng-template ngxPermissionsOnly="ADMINStore">	
    		<a routerLinkActive="active" class="nav-link  btn-outline-info " [routerLink]="['../update']"><i i18n="@@parametres">Paramètres</i></a>
  		 	<a routerLinkActive="active" class="nav-link  btn-outline-info " [routerLink]="['../sales']"><i i18n="@@ventesencours">Ventes en cours</i></a>
  		 	<a routerLinkActive="active" class="nav-link  btn-outline-info " [routerLink]="['../historic']"><i i18n="@@historiquedesventes">Historique des ventes</i></a>
  			<a routerLinkActive="active" class="nav-link  btn-outline-info " [routerLink]="['../monthincome']"> <i i18n="@@revenusmensuels">Recettes mensuels</i></a>
  			
  		 </ng-template>
  		  	<a routerLinkActive="active" class="nav-link  btn-outline-info " [routerLink]="['.']" (click)='share=!share' ><i i18n="@@partage">Partager</i></a>
  			<div *ngIf="!share" style ='margin-left:10px ; '>
  	<share-button  button="facebook" ></share-button>
	<share-button  button="twitter"  ></share-button>
	<share-button button="messenger" ></share-button><br>
	<share-button button="linkedin"  ></share-button>
	<share-button button="pinterest" ></share-button>
	<share-button button="whatsapp"  ></share-button>
  			</div>
  
   	
 </ng-sidebar>
 
      <!-- Page content -->
<div ng-sidebar-content>
 <div class='alert alert-warning sticky-top' *ngIf='fullcartwarning' style='z-index:99999999;' i18n='@@panierplein'> Le panier est pleins ! </div>
        

    
 <!-- button type="button" class="btn btn-outline-warning my-2 my-sm-0" (click)="SidebarOpen()">  <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
   -->


<div class="container" id ="top"> 



  <ngx-loading [show]="loading2" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>

<div *ngIf =' display2' >
<div i18n-class class="row text-left"  >  
    <div *ngIf ='nothing' class='alert alert-warning' i18n='@@noarticle'>Pas d'articles disponible dans ce magasin </div> 
    <div *ngIf ='nosearch' class='alert alert-warning'i18n="@@norecherche">Recherche introuvable. </div> 
    
    <div style="position: relative; " class="btn col-sm-6 col-6 col-md-4 col-xl-3 " *ngFor="let a  of selectArticles |paginate: { id: 'server', itemsPerPage: size, currentPage: page, totalItems: totalArticles } " >
  
      <div class="card "     >
        <img  alt="" src="{{a._source.pic}}" class="resize  card-img-top" style="width:100%; " (click)="gotoArticle(a._id, a._source.storetitle )"   >
          <div class ="card-block ">
          <div (click)="gotoArticle(a._id, a._source.storetitle )"  >
             <h6 class="card-title "  > {{a._source.title}} </h6>
             	<b  i18n='@@da'>{{a._source.price}} D.A </b>
             <p class="card-text" > <star-rating [starType]="'svg'" [rating]="a._source.ratingsum/a._source.ratingcount"   [readOnly]="true" [showHalfStars]="true" ></star-rating> <span style ="font-size:x-small; color :#C0C0C0" i18n="@@votesart">( {{a._source.ratingcount}} votes)</span>
       	     </p>
       	 </div> 
       	 	<div>
       	 	<ng-template [ngxPermissionsOnly]="['ADMINStore', 'USER']">
       	 	
       	 	
       	     <button  class="card-link btn text-light  btn-warning" (click)="addToCart(a)"> <i class="fa fa-shopping-cart" ></i><i i18n="@@panier3">Panier</i><span *ngIf=" a.loadingcart==1" class= "fa fa-refresh fa-spin "></span>  <span *ngIf=" a.loadingcart==2" class= "fa fa-check"></span> <span *ngIf=" a.loadingcart==3" class= "fa fa-ban"></span> </button> 
       	 	</ng-template>
       	 	</div>
       	 	 <ng-template ngxPermissionsOnly="ADMINStore">
       		 <button class="card-link btn text-light  btn-info"  (click)="updateArticle(a._id)" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i><i i18n="@@param">Paramètres</i> </button>
         	 </ng-template> 		
       				
       	 </div> 
   		  
        </div>
     	
     	
     	

     	
    </div>
    
  </div>
 

    <!-- ng-template ngxPermissionsOnly="ADMINStore">
 		<button type="button" class="btn btn-outline-warning my-2 my-sm-0" data-toggle="collapse" data-target="#new">new Article</button>
    		<div id='new' class="row collapse p anel panel-info">
       		 <div class="col-sm-12">
        	  <app-newarticle> </app-newarticle>
        	 </div>
  		 </div>
	 </ng-template--> 
 

  
 <div  i18n-style style ='float:right ; ' class=" row has-text-centered"  >
    <a    scrollTo href="#top"  >
    <div class="spinner" [ngClass]="{ 'hidden': !loading2 }"></div>
    <pagination-controls (pageChange)="getPage($event)" id="server"  i18n-previousLabel previousLabel="précédent" i18n-nextLabel nextLabel='suivant' ></pagination-controls>
   </a> 
</div>
</div>
</div>
</div>
</ng-sidebar-container>
</div>
</ng-template>
    </div>
 
    </div> 

