
  <ScrollView (tap)='hide()'>
    <GridLayout  margin='5,10, 5,10' rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,* " >
    <Label class="new" row ="0" text="Nouveau Magasin" ></Label>

     <Label row="1" text='Titre' class="label"></Label>
     <GridLayout row ="2" rows="auto, auto, auto , auto,auto">
      <TextField   returnKeyType="done"  maxLength="50" row="0" hint="" class='input'  [(ngModel)]="model.title"  [isEnabled]="!loading" ></TextField>
	 <Label editable="false" row="1" text ="Le titre du magasin est obligatoire" *ngIf="send && model.title.length==0" class="alert"></Label>            
	 <Label   editable="false" row="2" text ="Le titre doit contenir au moins 5 caractères" *ngIf='send && model.title.length< 5' class="alert"></Label>            
   	 <Label  editable="false" row="3" text ="Ce titre est trop long" *ngIf="send && model.title.length>50 " class="alert"></Label>            
   	<Label   editable="false" row="4" text ="Ce titre existe déjà choisissez un autre" *ngIf="send && exist" class="alert"></Label>            
	</GridLayout>

      <Label row="3"  text='Catégories' class="label" ></Label>
        <GridLayout  margin="0,0,10,0"  row='4' rows="auto,auto ">
        <!-- Label row="0" text='&#xf078;'  class="fas dropdownLabel" ></Label-->
        <DropDown  #dd
                  itemsTextAlignment="left"
              	 [items]="Categories"
                  [(ngModel)]="selectedIndex1"
                  (selectedIndexChanged)="onchange($event)"  
                  colSpan="0"
                  itemsPadding="5"
                  row="0">
        </DropDown>
        <StackLayout row="1"  colSpan="2" backgroundColor="#444444" height="1"></StackLayout>
        
    	</GridLayout>
    	
    	<GridLayout rows="auto,auto" row='5'>
       <RadListView  row='0'  [items]="model.selectedCat " >
  		  <ng-template let-c="item" let-i="index" >
  		  <GridLayout columns ='auto,auto'>
                    <Label col="0" text='{{c}}' color="#000" class="border"></Label>
                    <Label col="1" text="&#xf057;"  (tap)='removeCat(i) ' class="fas border"></Label>   
   		  </GridLayout>
   		  </ng-template>
      </RadListView>
      	 <Label editable="false" row="1" text ="Choisissez au moins une catégorie" *ngIf="send && model.selectedCat.length==0 " class="alert"></Label>            
      
	  </GridLayout>

        <Label row="6" text='Couverture Géographique' class="label" ></Label>
      
          <GridLayout margin="0,0,10,0" row='7' rows="auto,auto ">
        <!-- Label row="0" text='&#xf078;'  class="fas dropdownLabel" ></Label-->
        
        <DropDown  #dd
                  [items]="cities"
                  
                  [(ngModel)]="selectedIndex2"
                  (selectedIndexChanged)="onchange1($event)"
                  colSpan="0"
					itemsPadding="5"
                  row='0'>
        </DropDown>
		 <StackLayout row="1"  colSpan="2" backgroundColor="#444444" height="1"></StackLayout>
			
		</GridLayout>
		<GridLayout rows="auto,auto" row='8'>
		
        <RadListView row='0' [items]="geo">
            <ng-template let-c="item" let-i="index" let-odd="odd" let-even="even">
              <GridLayout columns ='auto,auto'>
                    <Label col="0" text='{{c}}' color="#000" class="border "></Label>
                    <Label col="1" text="&#xf057;"  (tap)="removeGeo(i)" class="border fas" ></Label>   
   		  		</GridLayout>
            </ng-template>
        </RadListView>
        <Label  editable="false"  row="1" text ="Choisissez au moins une région" *ngIf="send && geo.length ==0 " class="alert"></Label>          
       </GridLayout>
 	 
 	  <Label row='9' text="Description" class="label"></Label>
 	  <GridLayout row='10'  rows="auto,auto,auto">
      <TextView  [isEnabled]="!loading"  row='0' hint="" class="input" [(ngModel)]="model.description"    returnKeyType="done" 
        returnPress="newstore()"
  
        maxLength="300"></TextView>
      <TextView  editable="false" row="1" text ="Ajoutez une description à votre magasin" *ngIf="send && model.description.length ==0 " class="alert"></TextView>            
       <TextView  editable="false" row="2" text ="Description trop longue" *ngIf="send && model.description.length >300 " class="alert"></TextView>            
      
      </GridLayout>
    
      <GridLayout row='11' columns ='*,auto,auto, auto'>
      
         <Button [isEnabled]="!loading"  col="1" class="send " text="Envoyer" (tap)=" newstore()"></Button>
         <ActivityIndicator *ngIf="loading"  col="2" color='#FFA500' rowSpan="2" [busy]="loading"></ActivityIndicator>
      
         <Label (touch)='ontouch($event)' [isEnabled]="!loading"  class="undo  " col="3"  text="Annuler"  [nsRouterLink]="['/myhome']"  ></Label>
      </GridLayout>
      
    </GridLayout>



    <!-- Button col="1" [text]="isLoggingIn ? 'Log In' : 'Sign Up'" (tap)="submit()"></Button>
    <Label *ngIf="isLoggingIn" text="Forgot your password?"></Label-->
 

  <!-- Label (tap)="toggleForm()">
    <FormattedString>
      <Span [text]="isLoggingIn ? 'Don’t have an account? ' : 'Back to Login'"></Span>
      <Span [text]="isLoggi<ngIn ? 'Sign up' : ''" class="bold"></Span>
    </FormattedString>
  </Label-->
</ScrollView>
