<ScrollView >




<GridLayout rows="auto, auto, *, auto,auto" >	

 <ActivityIndicator row='0' color='#FFA500' rowSpan="3" *ngIf='loading' [busy]="loading" ></ActivityIndicator>

 
         <Label  (tap)="reloading()"  (touch)="ontouch($event)"  row='0'  *ngIf='!loading && reload' class="reload">
        <FormattedString>
            <Span text="Problème de connexion... "></Span>
            <Span text="réessayer"  color="#FFA500" class="bold" ></Span>
        </FormattedString>
    	</Label>

      


<StackLayout *ngIf='!loading && !reload'  row="1" margin ='5,10,0,10' colSpan="2" backgroundColor="darkgray" height="1.5"></StackLayout>

	   
<RadListView margin="0,10,0,10" row ="2" [items]="stores" >
    <ng-template let-k="item"  >

        <GridLayout (touch)='ontouch2($event)'   rows="*" columns='40, *'   class="border" nsRouterLink="/home/{{myhome}}/stores/{{k}}/store"  >
            <Label col="0" row="0" text='&#xf54f;' class="fass icon "></Label>
            <Label textWrap='true' col="1" row="0" class="store" text=" {{k}}" ></Label>                     
        </GridLayout>
           
    </ng-template>
</RadListView>

 <GridLayout  *ngIf='!loading && !reload'  [nsRouterLink] ="['/home',myhome, 'createstore']"  (touch)='ontouch2($event)' margin='0,10,0,10' row="3" columns='40, *'   class="border">
            <Label col="0"  text='&#xf0fe;' class="fass icon "></Label>
            <Label textWrap='true'  col="1"   class=" store " text='Créer un magasin'    ></Label>
   </GridLayout> 

</GridLayout>

</ScrollView>      