<ScrollView >	   

<GridLayout rows='auto,auto,*'>
		    <!-- TextView  *ngIf ='notif.notification.length==0' class="alert" text="Vous n'avez pas de nouvelles notifications"></TextView--> 
<StackLayout  row='0' >
   	 <ActivityIndicator color='#FFA500' rowSpan="3" *ngIf='loading' [busy]="loading" ></ActivityIndicator>
</StackLayout>  
 
 <StackLayout row="1"    [visibility]="notif.notificationcount==0 && !loading? 'visible':'collapse'" >
<Label class="alert"  text="Pas de nouvelles notifications"> </Label>
 
 </StackLayout>
 
<RadListView row="2"  [items]="notif.notification"   [visibility]="!loading? 'visible':'collapse'" >
    <ng-template let-n="item" >

       	   <GridLayout rows="auto,auto">
       	   
       	   
       	   <GridLayout row="0" (touch)="ontouch2($event)"  nsRouterLink="/home/{{me}}/stores/{{storetitle}}/commands/{{n.commandid}}"     [visibility]="n.value=='receive' ?'visible':'collapse'" rows="auto,auto">
       	   <GridLayout row="0" columns='*,auto'   >
       		<Label   col="0" >
       		<FormattedString>
       		  	<Span text='&#xf0d1; ' class='fass icon' ></Span>
       		  	
       		    <Span text="{{n.fullname}}:" class="store"></Span>
       		</FormattedString>
       		</Label>
       		
       		
       		
       		<Label class="fass" col="1"    text="&#xf017; {{n.time}}">
       		</Label>
       		</GridLayout>  
       		
       		<textView editable="false" margin="-10,0,-5,0" class="Label" row="1"  text="Commande reçu">  
       		</textView>
       		</GridLayout>
       		
       		<GridLayout row="0" [visibility]="n.value=='solvedlitige' ?'visible':'collapse'" nsRouterLink="/home/{{me}}/stores/{{storetitle}}/commands/{{n.commandid}}"   padding="5"  rows="auto,auto">
             <GridLayout row="0" columns='*,auto'   >
       		<Label    col="0" >
       		<FormattedString>
       		  	<Span text='&#xf118; ' class='fass icon' ></Span>
       		  	
       		    <Span text="{{n.fullname}}:" class="store"></Span>
       		</FormattedString>
       		</Label>
       		
           
      		 <Label class="fass" col="1"   text="&#xf017; {{n.time}}">
       		</Label>
 
 			</GridLayout> 
 			
       		<textView editable="false" margin="-10,0,-5,0" editable="false" row="1"  class=" Label"     text='Le litige est résolu'>  
       		 </textView>
       		</GridLayout>

       		
       	    <GridLayout row='0' (touch)="ontouch2($event)"  padding="5" rows="auto,auto" nsRouterLink="/home/{{me}}/stores/{{storetitle}}/commands/{{n.commandid}}"   [visibility]="n.value=='command' ?'visible':'collapse'">
       		<GridLayout row="0" columns='*,auto'  >
       		
       		<Label   col="0"   >
       		<FormattedString>
       		  	<Span text='&#xf218; ' class='fass icon' ></Span>
       		  	
       		    <Span text="{{n.fullname}}:" class="store"></Span>
       		</FormattedString>
       		</Label>
      
       		 <Label class="fass" col="1"  text="&#xf017; {{n.time}}">
       		</Label>
       		</GridLayout>
       		
       		 <textView editable="false" margin="-10,0,-5,0" row="1" class=" Label"    text='Nouvelle commande'>  
       		 </textView>
       		</GridLayout>
       		
       		
       		<GridLayout row="0"  (touch)="ontouch2($event)" nsRouterLink="/home/{{me}}/stores/{{storetitle}}/commands/{{n.commandid}}"   [visibility]="n.value=='litige' ?'visible':'collapse'"   padding="5"  rows='auto,auto' >
       		
       		<GridLayout row="0" columns='*,auto'   >
       		
       		<Label   col="0"   >
       		<FormattedString>
       		  	<Span text='&#xf119; ' class='fass icon' ></Span>
       		  	
       		    <Span text="{{n.fullname}}:" class="store"></Span>
       		</FormattedString>
       		</Label>
      
       		 <Label class="fass" col="1"  text="&#xf017; {{n.time}}">
       		</Label>
       		</GridLayout>
       		
       		 <textView editable="false" margin="-10,0,-5,0" row="1"   class=" Label"    text="ouverture d'un litige ">  
       		 </textView>
       		</GridLayout>
       	
       	
       		
       		<GridLayout row="0" (touch)='ontouch2($event)'   nsRouterLink="/home/{{me}}/stores/{{storetitle}}/commands/{{n.commandid}}"    [visibility]="n.value=='closed' ?'visible':'collapse'"     padding="5" rows="auto,auto">
       		<GridLayout row="0" columns='*,auto'    >
       		
       		<Label   col="0"   >
       		<FormattedString>
       		  	<Span text='&#xf14a; ' class='fass icon' ></Span>
       		  	
       		    <Span text="{{n.fullname}}:" class="store"></Span>
       		</FormattedString>
       		</Label>
      
       		 <Label class="fass" col="1"  text="&#xf017; {{n.time}}">
       		</Label>
       		</GridLayout>
       		
       		 <textView editable="false" margin="-10,0,-5,0" row="1"  class=" Label"    text='Commande fermée'>  
       		 </textView>
       		</GridLayout>
    
            <GridLayout row="0"  (touch)="ontouch2($event)"  [visibility]="n.value=='stop' ?'visible':'collapse'"  nsRouterLink="/home/{{me}}/stores/{{storetitle}}/commands/{{n.commandid}}"  padding="5"  rows='auto,auto' >
       		<GridLayout row='0' columns='*,auto'   >
       		       		
       		<Label   col="0"   >
       		<FormattedString>
       		  	<Span text='&#xf05e; ' class='fass icon' ></Span>
       		  	
       		    <Span text="{{n.fullname}}:" class="store"></Span>
       		</FormattedString>
       		</Label>
       		
       		
       		<Label class="fass" col="1"  text="&#xf017; {{n.time}}">
       		</Label>
       		</GridLayout>
       		  <textView editable="false" margin="-10,0,-5,0"  row="1"   class="Label"   text='commande annulée '>  
       		 </textView>
       		</GridLayout>
    
       	   
       		<GridLayout row="0"  nsRouterLink="/home/{{me}}/stores/{{storetitle}}/commands/{{n.commandid}}"   fragment="message"    [visibility]="n.value=='message' ?'visible':'collapse'"  (touch)="ontouch2($event)"   padding="5"  rows='auto,auto'>
       		   <GridLayout row="0" columns='*,auto'  >
       		<Label   col="0" >
       		<FormattedString>
       		  	<Span text='&#xf0e0; ' class='fass icon' ></Span>
       		  	
       		    <Span text="{{n.fullname}}:" class="store"></Span>
       		</FormattedString>
       		</Label>
       		
       		
       		<Label class="fass" col="1"    text="&#xf017; {{n.time}}">
       		</Label>
       		</GridLayout>  
       		
       		<textView editable="false" margin="-10,0,-5,0" editable="false" row="1"   class=" Label"   text=' Vous avez un nouveau message '>  
       		</textView>
       		</GridLayout>
       	
       		
       	
  
       		
       	
       	
       		 <StackLayout  row="1" backgroundColor="#FFA500" height="2"></StackLayout>
       		 
       		 
   </GridLayout>

    </ng-template>
    		<ListViewLinearLayout tkListViewLayout scrollDirection="Vertical" spanCount="1"></ListViewLinearLayout>
    
</RadListView>
</GridLayout>
</ScrollView>

