<ScrollView #scroll>
<GridLayout  rows="auto,auto,*,auto" margin="5,5,5,5" (tap)='hide()'>
      		    	<StackLayout  class ='head' row="0" orientation='horizontal'>
  					<Image loadMode="async"  backgroundColor="#eeeeee" class="profilePic"   stretch="aspectFill" src="{{avatarTo}}"></Image>
                     <Label text='{{model.fullname}}'></Label>
                 	
      		    	 </StackLayout>
      		    	 
      		    	<RadListView  #top row="2" [items]="messages "  >
				<!-- loadOnDemandMode="Auto" (loadMoreDataRequested)="onLoadMoreItemsRequested($event)"    -->
						<ng-template let-message="item"  >
						<StackLayout>
						
						<GridLayout margin='0,0,5,0'  columns="auto,*" [visibility]="message._source.fromMe? 'visible' : 'collapsed'" >
						
						<Image loadMode="async"  backgroundColor="#eeeeee" col="0" src='{{avatarFromMe}}' class="profilePic2"  stretch="aspectFill"  ></Image>
					    <GridLayout col="1" rows="auto,auto"  >
					   		 <StackLayout row="0" orientation=horizontal>
					   		 	<Label width="75%" text="Moi" class="fname"></Label>
					   		 	<Label class='fas' fontSize='10' text="&#xf017; {{message._source.date}}"></Label>
					   		  </StackLayout>
					  		 <TextView row="1" text='{{message._source.text}}' editable="false" class="msgs1">
					  		 
					  		 
					  		 </TextView>
						 </GridLayout> 
						</GridLayout>
						
						<GridLayout  margin='0,0,5,0' columns="*,auto" [visibility]="!message._source.fromMe? 'visible' : 'collapsed'" >
								<Image loadMode="async"  backgroundColor="#eeeeee" col="1" src='{{avatarTo}}' class="profilePic2"  stretch="aspectFill"  ></Image>
					       <GridLayout col="0" rows='auto,auto'  >
					   		 <StackLayout row='0' orientation=horizontal horizontalAlignment="right"  >
					   		     <Label class='fas' fontSize='10' width="55%"  text="&#xf017; {{message._source.date}}"></Label>
					   		  
					   		 	 <Label    text="{{this.model.fullname}}" class="fname"></Label>
					   		  </StackLayout>
					  		 <Label row="1" text=' {{message._source.text}}' class="msgs2" textWrap=true></Label>
						 </GridLayout>
						
						</GridLayout>
						</StackLayout>
						</ng-template>
						<ListViewLinearLayout tkListViewLayout scrollDirection="Vertical" spanCount="1"></ListViewLinearLayout>
						
      		       </RadListView>
      		    	<GridLayout margin="0,0,10,0" row="1" rows="auto,auto">
      		    	 <GridLayout row='0' columns="*,75"  orientation="horizontal">
      		    	 <TextField [isEnabled]="!loading1"  #View col="0"  (returnPress)=" sendMessage()" fontSize="14"   class="msg"  returnKeyType="done"   [(ngModel)]='model.message'></TextField>
      		    	 <Button [isEnabled]="!loading1"  text='Envoyer' col="1" class="send" returnKeyType="done" (tap)=" sendMessage()"></Button>
      		    	   <ActivityIndicator col="1"  color='#FFA500' rowSpan="2" [busy]="loading1"></ActivityIndicator>
      		    	 
      		    	 </GridLayout>
      		    	 <Label row="1" class="alert" *ngIf='msgAlert' text='taper votre message ! ' textWrap='true'></Label>
      		    	 </GridLayout>
      		    	 
      		    	 
      		    	        <StackLayout row="3">  <ActivityIndicator   color='#FFA500' rowSpan="2" [busy]="loading"></ActivityIndicator>
      		    	     	</StackLayout>
      		    	   	 
				<GridLayout  margin='5,0,5,0' rows='auto,auto,auto'  *ngIf="loadmorebool && !loading "   row='3'  (touch)='ontouch2($event)' (tap)='loadmore()' >
      	   
      			     <StackLayout  row="0" colSpan="2" backgroundColor="#eeeeee" height="2"></StackLayout>
      	   
     		 	   <Label  row="1" class="fas loadmore" text="&#xf078;" horizontalAlignment="center" verticalAlignment="center" ></Label>
      			   <StackLayout  row="2" colSpan="2" backgroundColor="#eeeeee" height="2"></StackLayout>
      	 
 			</GridLayout>
      		    	</GridLayout>
      		    	
      </ScrollView>		    	 