/* Add mobile styles for the component here.  */
/* Profile */
.profilePic {
    width: 150;
    height: 150;
    border-radius: 100;
    margin: 32 32 16 32;
    border-color: #4db8ff;
    border-width: 1;
}

.title-profile {
    color: #000;
    font-size: 19;
    font-weight: bold;
}

.listImage {
    border-width: 1;
    border-color: #fff;
}

.additional-info {
    border-radius: 15;
    background: #eeeeee;
    padding: 18;
    line-height: 18;
    margin-bottom:20;
    width: 85%;
}
.noborder{
	border-bottom-width: 1;
    border-bottom-color:  #eeeeee; 	
	
} 
.icon-aditional-info {
    font-size: 17;
    
    
    color: #557AAD;
    text-align: center;
    padding-top: 2;
}

.description-aditional-info {
    font-size: 17;
    color:#000;
    margin-left: 8;
    border-width: 1;
    border-color: transparent;
}

.description-aditional-info-list  {
    font-size: 14;
    margin-left: 16;
    margin-bottom:10 ; 
    border-width: 1;
    border-color: transparent;
}


.content-followers {
    padding: 8 0;
}

.content-photos {
    background-color: #eeeeee;
    margin-top: 10;
}

.followersTxt {
    text-align: center;
    font-size: 14;
    height: 20;
}

.followersTxtValue {
    text-align: center;
    margin-top: 10;
    height: 25;
    font-size: 22;
    font-weight: bold;
    color: #000;
}
.far {
    font-family: Font Awesome 5 Free, fa-regular-400;
    font-weight: 400; 
}

.fab {
    font-family: Font Awesome 5 Brands, fa-brands-400;
    font-weight: 400; 
}

.fas {
    font-family: Font Awesome 5 Free, fa-solid-900;
    font-weight: 900; 
}
.fass {
    font-family: Font Awesome 5 Free, fa-solid-900;
    font-weight: 300; 
}
.font{
	
	color: #FFA500;
}
.alert {
	padding :5 ; 
	background-color: #FFA1A1; 
	color :#444444; 
	 border-width: 1 ;
	 border-radius :2; 
   border-color:#F27171;
   font-size:12;  
}
.up {
	padding :5; 
	color : #FFA500 ; 
	font-size: 28 ; 
	border-radius: 5;
	margin:10,10,0,0;


}


.item-drop-down{
    font-size: 16;
 	color:#000; 
 
 	width:auto;
}
Label:pressed {
   padding:2; 
   background-color:#D0D0D0; 
   
}


Label:pressed3 {
   color:#D0D0D0; 
   
} 