<ngx-loading  [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>

<div  *ngIf="!loading" class ="container"  >
  
 <nav class="nav nav-tabs">

         <a  (click)='selectDelivery(del)' *ngFor=' let del of delivery '   class="nav-item nav-link text-warning"     >{{deliveries[del]['title']}}</a>
		
</nav>
 <ul  class="list-group" >

<li class="list-group-item"   >
   <b class='text-danger'> {{deliveries[selectDel]['title']}} </b > 
</li>
 
<li class="list-group-item"   >
   <b class='text-danger' > {{currentMonth}} </b > 
</li>
 
</ul> 


 <nav class="nav nav-tabs">
  
     <a   (click)="getPreviousWeek()" class=" ml-auto nav-item nav-link  " ><b  class="text-danger fa fa-chevron-left"></b> 
     				<b>	{{previousDisplay["first"]}} -
         			{{previousDisplay["last"]}}</b>
     </a>
         <a   class=" mx-auto nav-item nav-link active text-danger" >
         		<b>	{{currentDisplay["first"]}} -
         			{{currentDisplay["last"]}}</b>
         </a>
		 <a   (click)="getNextWeek()"  class=" mr-auto nav-item nav-link  " >
		 			<b>	{{nextDisplay["first"]}} -
         			{{nextDisplay["last"]}} </b> <b    class='text-danger fa fa-chevron-right'></b>  </a> 
</nav>

<div *ngIf="!weeklyincome">
 Pas de livraison cette semaine ! 
</div>

 <table *ngIf="weeklyincome" class="table table-sm">
   <thead>
     <tr class="table-active" >
       
       <th>Magasin</th>
   
		<th>Total Commandes  </th>
		<th>Total Caches </th>
		<th>#</th>
		
     </tr>
  </thead>
  <tbody>
     
    <tr *ngFor="let k of  weekongoing | keyvalue let i = index ;">
  		<td> <b> {{k.key }} </b> </td>
  	   
  	   	<!-- td>
        <tr  *ngFor='let w of k.value'> {{w._source.ongoingid}} - {{w._source.price}}DA </tr> 
  	   </td-->
  	    
  		<td>
  			<tr> <b> {{ k.value.length}}  </b> commandes </tr> 
  			<tr> dont  <b> {{ k.value.refund}} </b> retours </tr> 
  	    </td>
  		
  		<td> <b class="text-danger">{{k.value.total}} DA </b></td>
  
  		<td>   <b  class=' text-danger fa fa-check' > </b>  </td>
   </tr>
  	
  </tbody>
</table>
 
  
</div>
