


.navnav {
	z-index :1; 
	    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.5); 

	 
}

.card:hover {

	 box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.5);
  
}
.crop {
   background-color: #000;

  /*  object-fit:cover ; */
      width:250px;  
    height: 150px;
/*clip: rect(0px,50px,100px,50px);*/


}

.img {

  background-color: #eeeeee;
  object-fit:cover ; 
  width:400px; 
  height: 150px; 
  object-position: 100% 0;
  

}


img.resize {
 /*margin-bottom: 0;*/

 object-fit:cover ;
 object-position: 100% 0; 
  width:auto;; 
  height: 240px; background-color:#eeeeee;  
}



input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 36px;
  cursor: pointer;
}
.label::before {
  content: " ";
  position: absolute;
  top: 8px;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid #ffae42 ;
  border-radius: 4px;
  z-index: -1;
}
input[type="radio"] + .label::before {
  border-radius: 18px;
}
/* Checked */
input[type="checkbox"]:checked + .label,
input[type="radio"]:checked + .label {
  padding-left: 10px;
  color: #fff;
}
input[type="checkbox"]:checked + .label::before,
input[type="radio"]:checked + .label::before {
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffae42;
}
/* Transition */
.label,
.label::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
} 
.tag {
	  border-radius: 18px; 
	    background: #ffae42;
	  padding-left: 10px;
      color: #fff;
  padding-right: 10px;
  line-height: 36px; 
}
#navbar2 {z-index:999;}
.card__one {
  transition: transform .5s;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    content: '';
    opacity: 0;
    z-index: -1;
  }

  &:hover,
  &:focus {
    transform: scale3d(1.006, 1.006, 1);

    &::after {
      opacity: 1;
    }
  }
}

