<FlexboxLayout>
 
   
       
   
    <StackLayout  *ngIf="login" class="form">
        <!-- Image class="logo" src=""></Image> -->
            <Label class="header" text="SIM SIM"></Label>

			<StackLayout *ngIf="suspended">
			  <TextView editable= "false"  class="warning" text ="Utilisateur suspendu contacter le support technique pour plus d'info ">
			  </TextView>
			</StackLayout> 
			
			<StackLayout *ngIf="justLog">
			 <TextView editable='false' class="warning" text="Ce téléphone est déjà enregistré, veuiller vous connecter ">
			 </TextView>
			</StackLayout>
			
        <PreviousNextView>
      
       <GridLayout rows='auto'>
                <StackLayout row="0" class="input-field">
                   
                    <MaskedTextField [isEnabled]="!loading" class="input" hint="Téléphone"[isEnabled]="login"
                        keyboardType="phone" autocorrect="false"
                        autocapitalizationType="none" [(ngModel)]="model.phone"
                        returnKeyType="done"
                        mask="00 00 00 00 00"
                        (returnPress)='logins()'></MaskedTextField>
                        <Label editable ='false' *ngIf='alertLength' class="warning" text="Numero incomplet."> </Label>
                        <Label editable ='false' *ngIf='alertphone' class="warning" text="Entrer votre numero."> </Label>
                      
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

   
                <ActivityIndicator row="0" color='#FFA500' rowSpan="3" [busy]="loading"></ActivityIndicator>
        </GridLayout>
        	
    
          <Button [isEnabled]="!loading" text="Connexion"
            (tap)="logins()" class="btn btn-primary m-t-20"  returnKeyType="done" ></Button>
            
            
        
        </PreviousNextView>
       <Label [isEnabled]="!loading" class="login-label sign-up-label" (tap)="login=!login">
        <FormattedString>
            <Span text="Pas de compte? "></Span>
            <Span color="#FFA500" text="S'enregistrer" class="bold" ></Span>
        </FormattedString>
    	</Label>
    	
    </StackLayout>
    
    <StackLayout *ngIf='!login ' class="form">
    
    
        <!-- Image class="logo" src=""></Image> -->
        <Label class="header" text="SIM SIM"></Label>

 
			<StackLayout *ngIf="pleaseRegister">
			 <TextView editable="false" class="warning" text=" Ce téléphone n'est pas enregister, enregistrer le "></TextView>
			 </StackLayout>

        <PreviousNextView>
           
           
            <GridLayout rows="auto, auto ">
                
                <StackLayout  row="0" class="input-field">
        
                  <TextField [isEnabled]="!loading2"   class="input" hint="Nom complet"
                         autocorrect="false" autocapitalizationType="none" [(ngModel)]="model.fullname"
                      ></TextField>
                       
                    <Label editable ='false' *ngIf='alertnamelength' class="warning" text="Entrer Nom Prénom."> </Label>
                    <Label editable ='false' *ngIf='alertname' class="warning" text="Entrer votre nom."> </Label>
                              
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
               
                
                <StackLayout row="1" class="input-field">
                          
               		
                
                    <MaskedTextField [isEnabled]="!loading2"   class="input" hint="Téléphone" 
                        keyboardType="phone" autocorrect="false"
                        autocapitalizationType="none" [(ngModel)]="model.phone"
                        returnKeyType="done"
                        mask="00 00 00 00 00"
                        (returnPress)= 'register()'></MaskedTextField>
                     
                          <Label editable ='false' *ngIf='alertLength' class="warning" text="Numero incomplet."> </Label>
                        <Label editable ='false' *ngIf='alertphone' class="warning" text="Entrer votre numero."> </Label>
                         
                        
                    <StackLayout class="hr-light"></StackLayout>
               
                </StackLayout>

           

                <ActivityIndicator  rowSpan="3" [busy]="loading2"></ActivityIndicator>
            </GridLayout>
       
			<Button [isEnabled]="!loading2"  text="S'enregister"
            (tap)="register()" class="btn btn-primary m-t-20"   returnKeyType="done"></Button>
     
         </PreviousNextView>   
            	
        
        <Label [isEnabled]="!loading2"  class="login-label sign-up-label" (tap)="login=!login">
        <FormattedString>
            <Span text="Déjà enregistré? "></Span>
            <Span text="Connexion"  color="#FFA500" class="bold" ></Span>
        </FormattedString>
    	</Label>
            
    </StackLayout>

    
</FlexboxLayout>