<!-- FlexboxLayout class="page">
    <StackLayout class="form">
        <!-- Image class="logo" src="~/images/logo.png"></Image>  -->
        <!-- Label class="header" text="SYMSYM"></Label>

        <PreviousNextView>
            <GridLayout rows="auto, auto, auto">
                <StackLayout row="0" class="input-field">
                    <TextField class="input" hint="Email" [isEnabled]="!processing"
                        keyboardType="email" autocorrect="false"
                        autocapitalizationType="none" [(ngModel)]="user.email"
                        returnKeyType="next" (returnPress)="focusPassword()"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <StackLayout row="1" class="input-field">
                    <TextField #password class="input" [isEnabled]="!processing"
                        hint="Password" secure="true" [(ngModel)]="user.password"
                        [returnKeyType]="isLoggingIn ? 'done' : 'next'"
                        (returnPress)="focusConfirmPassword()"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <StackLayout row="2" *ngIf="!isLoggingIn" class="input-field">
                    <TextField #confirmPassword class="input" [isEnabled]="!processing"
                        hint="Confirm password" secure="true" [(ngModel)]="user.confirmPassword"
                        returnKeyType="done"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <ActivityIndicator rowSpan="3" [busy]="processing"></ActivityIndicator>
            </GridLayout>
        </PreviousNextView>

        <Button [text]="isLoggingIn ? 'Log In' : 'Sign Up'" [isEnabled]="!processing"
            (tap)="submit()" class="btn btn-primary m-t-20"></Button>
        <Label *ngIf="isLoggingIn" text="Forgot your password?" class="login-label"
            (tap)="forgotPassword()"></Label>
    </StackLayout>

    <Label class="login-label sign-up-label" (tap)="toggleForm()">
        <FormattedString>
            <Span [text]="isLoggingIn ? 'Don’t have an account? ' : 'Back to Login'"></Span>
            <Span [text]="isLoggingIn ? 'Sign up' : ''" class="bold"></Span>
        </FormattedString>
    </Label>
</FlexboxLayout-->

<!--
Original Web template:

﻿
 
 <div class="jumbotron text-center" >
  <h1>  Welcome to SMSM </h1>
  <p>Echange en ligne, vente,  achat, services </p>
</div>

<div class="container">
  <div class="row">
   
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-6" >
      <h4 allign="center">SMSM </h4>
    </div>
    
    <div class="col-sm-6 col-xs-6" >
      
      	<div *ngIf='login'>
	    <h2>Connexion</h2>
	    <br>
	    <div class ="alert alert-danger " *ngIf="justLog"> Le téléphone est déjà enregistré, connecter vous seulement </div>
	    <div class ="alert alert-danger" *ngIf="suspended"> Utilisateur suspendu contacter le support technique pour plus d'info</div>
	    
		<form name="form" (ngSubmit)="f.form.valid  && logins()  && UserPhone" #f="ngForm" novalidate>
		 	<div class="form-group" >
            <label for="useremail">Téléphone</label>
            <input  class="form-control" [textMask]="{mask: phonemask}"  type="tel"  name="phone" [(ngModel)]="model.phone"  required #phone="ngModel" />    
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
        	
        	 <div *ngIf="f.submitted && fullname.hasError('required')" class="help-block">Taper votre numéro de téléphone</div>
            </div>							
            </div>
            <div class="form-group"> 
            <span  style="float:right; ">
               <button [disabled]="loading" class="btn btn-warning">Se connecter</button>
               <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
			   <a (click)="login=!login" class="btn btn-outline-warning">S'enregistrer</a>
			    <a  class="btn btn-link" (click)= cancel()>Annuler</a> 
            </span>
            </div>
        
        </form>
        </div>
        
        
        <div *ngIf="!login">      
        <h2>Enregistrement</h2>
    	<br>
    	<div class ="alert alert-danger" *ngIf="pleaseRegister">Ce téléphone n'est pas enregister, enregistrer le  </div>
    	<form name="form" (ngSubmit)="f.form.valid  && register() && !UserPhone" #f="ngForm" novalidate>
        
       	<div class="form-group" >
            <label for="username">Nom Complet </label>
            <input type="text" class="form-control" name="fullname" [(ngModel)]="model.fullname" #fullname="ngModel" required    pattern="^([a-zA-Z]{2,}\s[a-zA-z]{1,}?-?[a-zA-Z]{2,}\s?([a-zA-Z]{1,})?)"/>
            <div *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)" class="alert alert-danger">
            <div *ngIf="f.submitted && fullname.hasError('required')" class="help-block">taper votre nom</div>
         
       	    <div *ngIf="  fullname.hasError('pattern')" class="help-block"> Nom Prénom </div>
      	    </div> 
        </div>  
		<div class="form-group" >
            <label for="useremail">Téléphone</label>
            <input  class="form-control" [textMask]="{mask: phonemask}"  type="tel"  name="phone" [(ngModel)]="model.phone"  required #phone="ngModel" />    
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
        	
        	 <div *ngIf="f.submitted && fullname.hasError('required')" class="help-block"> taper votre nom</div>
            </div>							
        </div>
        <div class="form-group"> 
          <span  style="float:right; ">
              <button [disabled]="loading2" class="btn btn-warning">S'enregistrer</button>
              <img *ngIf="loading2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
			  <a (click)="login=!login" class="btn btn-outline-warning">Se connecter</a>
			  <a  class="btn btn-link" (click)= cancel()>Annuler</a>
			          
          </span>
         </div>
         
         </form> 
        </div>
            
    </div>
   
  </div>
</div> 
-->