.crop {
  
/*clip: rect(0px,50px,100px,50px);*/

    width: auto;
    height: 100px;
    overflow: hidden;
    	 position: relative;
    	 display:inline-block;margin-right:10px;
    	 object-position: 100% 0;
    	 object-fit:cover; 
    	  background-color:#eeeeee; 
}

.add{
	
	
	background-color:#D0D0D0; 
}